<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/static/include/_head_import_file.html" -->
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/static/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
    	<h2 class="r2-title">HTML5标签及其兼容性</h2>
    	<dl class="dlist">
    		<dt>兼容性：IE9+</dt>
    		<dd>
    			&lt;header&gt; &lt;footer&gt; &lt;article&gt; &lt;aside&gt; &lt;audio&gt; &lt;mark&gt; &lt;nav&gt;
    			&lt;source&gt;
    		</dd>
    		<dt>兼容性：IE6+</dt>
    		<dd>
    			&lt;section&gt; 
    		</dd>
    	</dl>
        <div class="code-box">
            <pre class="language-js line-numbers">
                <code>   

                </code>
            </pre>
        </div>
	</div>
</div>
</body>
</html>
