@charset "utf-8";
/* CSS Document */
@import "/static/css/global.css";

body{background:url(../images/bg01.jpg) repeat;}
.topbar{
	margin-bottom:20px;background-color:rgba(255,255,255,.7);
	h2{background-color:transparent;}
}

/*************************** draw-01 ***************************/
.grid-game-wrap{
	position:relative;
	width:608px;
	height:320px;
}
.grid-game-wrap ul li{position:absolute;width:120px;height:106px;}
.grid-game-wrap ul li.n01{left:121px;top:0px;}
.grid-game-wrap ul li.n02{left:242px;top:0px;}
.grid-game-wrap ul li.n03{left:363px;top:0px;}
.grid-game-wrap ul li.n04{left:484px;top:0px;}
.grid-game-wrap ul li.n05{left:484px;top:107px;}
.grid-game-wrap ul li.n06{left:484px;top:214px;}
.grid-game-wrap ul li.n07{left:363px;top:214px;}
.grid-game-wrap ul li.n08{left:242px;top:214px;}
.grid-game-wrap ul li.n09{left:121px;top:214px;}
.grid-game-wrap ul li.n10{left:0px;top:214px;}
.grid-game-wrap ul li.n11{left:0px;top:107px;}
.grid-game-wrap ul li.n12{left:0px;top:0px;}

.grid-game-wrap .btn input{
	position:absolute;
	left:121px;
	top:107px;
	width:362px;
	height:106px;
	border:0;
	background:url(../images/01/btn.gif) no-repeat;
	cursor:pointer;
	text-indent:-9999px;
	overflow:hidden;
}

/*************************** draw-02 ***************************/
.ly-plate{
	position:relative;
	width:509px;
	height:509px;
	margin: 20px 0;
}
.rotate-bg{
	width:509px;
	height:509px;
	background:url(../images/02/ly-plate.png);
	position:absolute;
	top:0;
	left:0
}
.ly-plate div.lottery-star{
	width:214px;
	height:214px;
	position:absolute;
	top:150px;
	left:147px;
	/*text-indent:-999em;
	overflow:hidden;
	background:url(rotate-static.png);
	-webkit-transform:rotate(0deg);*/
	outline:none
}
.ly-plate div.lottery-star #lotteryBtn{
	cursor: pointer;
	position: absolute;
	top:0;
	left:0;
	*left:-107px
}