* {
	/*去除边距*/
	margin: 0;
	padding: 0;
	/*html性能优化:虚拟dom,如果一个html标签没有设置css样式,就是虚拟的, 所以无论设置多少层div都对性能没有影响*/
}

#main {
	position: relative;
}

.box {
	padding: 10px 0 0 10px;
	float: left;
	animation: zoomOut 500ms;
}

.pic {
	line-height: 0.8;
}

.pic img {
	width: 165px;
}
@keyframes zoomOut {
    0% { opacity: 0; transform: scale(.4); }
    100% { opacity: 1; transform: scale(1); }
}