@charset "utf-8";
/* CSS Document */
@import "/css/global.less";

.topbar{
	margin-bottom:20px;background-color:rgba(255,255,255,.7);
	h2{background-color:transparent;}
}

.titLevel-1{
	margin:35px 0 5px 0;
	label{font-size:34px;color:#2a84d4;}
}
.titLevel-2{
	margin:0 0 20px;
	label{display:inline-block;font-size:20px;color:#333;}
}
.reference{
	color:#999;
	a{color:#3CF;}	
}
.block{margin:10px 0;padding:25px;background-color:rgba(236,236,236,.4)}
