body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-22px;
  width:1041px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u1328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
}
.u1328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:30px;
  height:15px;
  display:flex;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
}
.u1328 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
.u1329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:63px;
  height:20px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
.u1329 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:right;
}
.u1330 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:20px;
  width:200px;
  height:20px;
  display:flex;
  color:#666666;
  text-align:right;
}
.u1330 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(102, 204, 51, 1);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
.u1331 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:20px;
  width:77px;
  height:20px;
  display:flex;
  color:#FFFFFF;
  text-align:right;
}
.u1331 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.u1332 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:20px;
  width:70px;
  height:20px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.u1332 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1327-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:40px;
}
#u1327-2 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:0px;
  width:327px;
  height:40px;
}
#u1327-3 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:0px;
  width:327px;
  height:40px;
}
#u1327-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:327px;
  height:40px;
}
#u1327-5 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:60px;
  width:327px;
  height:40px;
}
#u1327-6 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:60px;
  width:327px;
  height:40px;
}
#u1327-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:327px;
  height:40px;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:25px;
  width:1041px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
