<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>webpack</title>
	<!--#include virtual="/static/include/_head_import_file2.html" -->
</head>
<body>
<!--#include virtual="/static/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<div class="reference">
			<a href="https://github.com/jantimon/html-webpack-plugin"></a>
		</div>
		<h2 class="r2-title">配置</h2>
		<section class="r2-body">
			<h4 class="r4-title">chunks/excludeChunks/chunksSortMode</h4>
			<p>设定HTML中包含的 chunks </p>
		</section>
	</div>
</div>
</body>
</html>
