<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>webpack</title>
	<!--#include virtual="/static/include/_head_import_file2.html" -->
</head>
<body>
<!--#include virtual="/static/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<div class="reference">
			<a href="https://www.webpackjs.com/api/cli/">命令行接口CLI(command line interface)</a>
		</div>
		<h2 class="r2-title">常用命令</h2>
		<section class="r2-body">
			<dl class="horizontal">
				<dt><a>webpack --watch</a></dt>
				<dd>监听</dd>
				<dt><a>webpack -p</a></dt>
				<dd>压缩文件</dd>
				<dt><a></a></dt>
				<dd></dd>
			</dl>
		</section>
	</div>
</div>
</body>
</html>
