<dl class="text-wrap text-03">
    <dt>
        <h5>单行文字水平滚动</h5>
        <p class="browser-support">兼容性：<kbd>IE6+</kbd></p>
    </dt>
    <dd>
        <div class="successCase clearfix">
		    <label>成功案例</label>
		    <div class="scrollbox">
		        <ul>
		            <li><a href="#">深圳九飞工厂废旧物资回收公司成功做成了呼和浩特电子厂的价值1200万</a></li>
		            <li><a href="#">深圳九飞工厂废旧物资回呼和浩特电子厂的价值80万</a></li>
		            <li><a href="#">废旧物资回收公司成功做成了呼和浩特电子厂的价值900万</a></li>
		            <li><a href="#">废旧物资回收公司成功浩特电子厂的价值1500万</a></li>
		        </ul>
		    </div>
		</div>
    </dd>
</dl>