<dl class="text-wrap text-06">
    <dt>
        <h5>文字列表淡入淡出效果－CSS3实现方法</h5>
        <p class="browser-support">兼容性：只支持高端浏览器</p>
    </dt>
    <dd>
        <div class="list">
            <ul>
                <li>
                	<span>2011-03-29</span><a href="#">课程常见问题合集</a>
                </li>
                <li>
                	<span>2011-05-19</span><a href="#">妙味课堂JS课程结课标准</a>
                </li>
                <li>
                	<span>2011-06-23</span><a href="#">网页特效大集合(每天更新)</a>
                </li>
                <li>
                	<span>2011-12-09</span><a href="#">CSS课程最新开班时间</a>
                </li>
                <li>
                	<span>2013-03-25</span><a href="#">JavaScript课程最新开班时间</a>
                </li>
                <li>
                	<span>2014-06-12</span><a href="#">阿里前端面试题</a>
                </li>
                <li>
                	<span>2015-08-24</span><a href="#">浅析google地图前端实现原理（一）</a>
                </li>
            </ul>
        </div>
    </dd>
</dl>

