<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>文本类效果</title>
    <link rel="stylesheet/less" href="/css/iconfont.css">
	<link rel="stylesheet/less" href="/css/default.less">
    <link rel="stylesheet/less" href="css/text.less">
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/less-2.5.3.min.js"></script>
    <script src="/js/default.js"></script>
    <script src="js/text.js"></script>
</head>
<body>
	<div id="wrap" style="margin-left: auto;margin-right: auto;width: 800px;">
    	<!--#include virtual="_text_01.html" -->
        <!--#include virtual="_text_02.html" -->
        <!--#include virtual="_text_03.html" -->
        <!--#include virtual="_text_04.html" -->
        <!--#include virtual="_text_05.html" -->
        <!--#include virtual="_text_06.html" -->
    </div>
    
    <script type="text/javascript">
		addArticleTop();//添加TOP
    </script>
</body>
</html>
