<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>VUE</title>
	<!--#include virtual="/include/_head_import_file2.html" -->
	<script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<h2 class="r2-title">辨别this指向</h2>
		<section class="r2-body">
			<p>下图解释了this指向不同及如何变更this指向</p>
			<img src="../images/screenPics/2019-03-29T06-42-20.314Z.png" class="screenPics" />
		</section>
		<h2 class="r2-title">变更this指向</h2>
		<section class="r2-body">
			
		</section>
	</div>
</div>
</body>
</html>
