<div class="grid-game-wrap">
    <ul>
        <li class="n01"><img src="/views/draw/images/01/img01.png" alt="" /></li>
        <li class="n02"><img src="/views/draw/images/01/img02.jpg" alt="" /></li>
        <li class="n03"><img src="/views/draw/images/01/img03.png" alt="" /></li>
        <li class="n04"><img src="/views/draw/images/01/img04.jpg" alt="" /></li>
        <li class="n05"><img src="/views/draw/images/01/img05.jpg" alt="" /></li>
        <li class="n06"><img src="/views/draw/images/01/img06.png" alt="" /></li>
        <li class="n07"><img src="/views/draw/images/01/img07.jpg" alt="" /></li>
        <li class="n08"><img src="/views/draw/images/01/img08.jpg" alt="" /></li>
        <li class="n09"><img src="/views/draw/images/01/img09.png" alt="" /></li>
        <li class="n10"><img src="/views/draw/images/01/img10.png" alt="" /></li>
        <li class="n11"><img src="/views/draw/images/01/img11.png" alt="" /></li>
        <li class="n12"><img src="/views/draw/images/01/img12.jpg" alt="" /></li>
    </ul>
    <div class="btn"><input type="button" value="抽奖" /></div>
</div>