<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/note.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>notebook</title>
<!-- InstanceEndEditable -->
<link rel="shortcut icon" href="/images_old/common/favicon.ico" />
<script type="text/javascript" language="javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" language="javascript" src="/js/common.js"></script>
<link type="text/css" rel="stylesheet" href="/css/common/root.css" media="all" />
<link type="text/css" rel="stylesheet" href="/css/html.css" media="all" />










<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<!-- InstanceParam name="bodyid" type="text" value="html" -->
</head>

<body id="html">
	<div id="header">
	<!--#include virtual="/include/common/header.html" -->
	</div>
	<div id="wrap">
		<div id="sideNavi">
		<!--#include virtual="/include/lnHtml.html" -->
		
		
		
		
		
		
		
		
		
		</div>
		<div id="content">
		<!-- InstanceBeginEditable name="content" -->content<!-- InstanceEndEditable -->
		</div>
		<hr class="cb" />
	</div>
	<div id="footer"><!--#include virtual="/include/common/footer.html" --></div>
</body>
<!-- InstanceEnd --></html>
