<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YQ-Note LESS</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="css/less.less">
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
    <div id="wmain">
        <!-- **************** separator line ****************  -->
        <h2 class="r2-title">匹配模式</h2>
        <section class="r2-body">
        	<div class="code-box">
                <pre class="language-less line-numbers">
                    <code>
.mixin (dark, @color) {
  color: darken(@color, 10%);
}
.mixin (light, @color) {
  color: lighten(@color, 10%);
}
.mixin (@_, @color) {
  display: block;
}

//现在，如果运行:
@switch: light;
.class {
  .mixin(@switch, #888);
}

//就会得到下列CSS:
.class {
  color: #a2a2a2;
  display: block;
}

                    </code>
                </pre>
            </div>
            <ul class="list-decimal">
            	<li>第一个混合定义并未被匹配，因为它只接受dark做为首参</li>
            	<li>第二个混合定义被成功匹配，因为它只接受light</li>
            	<li>第三个混合定义被成功匹配，因为它接受任意值</li>
            	<li>只有被匹配的混合才会被使用。变量可以匹配任意的传入值，而变量以外的固定值就仅仅匹配与其相等的传入值。</li>
            </ul>
        </section>
        
        <h2 class="r2-title">命名空间</h2>
        <section class="r2-body">
        	<div class="code-box">
                <pre class="language-less line-numbers">
                    <code>
#card(){
    background: #723232;
    .d(@w:300px){
        width: @w;
        #a(@h:300px){
            height: @h;//可以使用上一层传进来的方法
            width: @w;
        }
    }
}
#wrap{
    #card > .d > #a(100px); // 父元素不能加 括号
}
#main{
    #card .d();
}
#con{
    //不得单独使用命名空间的方法
    //.d() 如果前面没有引入命名空间 #card ，将会报错
    #card; // 等价于 #card();
    .d(20px); //必须先引入 #card
}

/* 生成的 CSS */
#wrap{
    height:100px;
    width:300px;
}
#main{
    width:300px;
}
#con{
    width:20px;
}

                    </code>
                </pre>
            </div>
            <ul class="list-decimal">
            	<li>在引入命令空间时，如使用 `>` 选择器，父元素不能加 括号。</li>
            	<li>不得单独使用命名空间的方法 ，必须先引入命名空间，才能使用其中方法。</li>
            	<li>子方法可以使用上一层传进来的方法</li>
            </ul>
        </section>
        
        <h2 class="r2-title">条件筛选</h2>
        <section class="r2-body">
        	
        </section>
        
        <h2 class="r2-title">多参数</h2>
        <section class="r2-body">
        	
        </section>
        
        <h2 class="r2-title">关键词 "!important"</h2>
        <section class="r2-body">
        	
        </section>
    </div>
</div>
</body>
</html>
