<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MOBILE</title>
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/default.css" rel="stylesheet" />
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/prism.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<!--#include virtual="/include/_header.html" -->
    <div class="container">
    	<section>
        	<h3 class="title-sec">自定义事件传参</h3>
            <div class="code-box">
                <pre class="language-js line-numbers">
                    <code>
mui.fire(target, event, data)
参数说明：
- target： Type: WebviewObject 需传值的目标webview
- event：Type: String 自定义事件名称
- data：Type: JSON json格式的数据
    				</code>
                </pre>
            </div>
            <p>A.html发送参数的页面</p>
            <div class="code-box">
                <pre class="language-js line-numbers">
                    <code>
&lt;label id="st-name"&gt;李丽&lt;/label&gt;
&lt;p id="st-addr" class="addr"&gt;海淀区17号&lt;/p&gt;
//触发自定义事件并传参                  
mui.fire(pg_list, 'delAct', {
	spName:$('#st-name').html(),
    spAddr:$('#st-addr').html()
});
    				</code>
                </pre>
            </div>
            <p>B.html接收参数的页面</p>
            <div class="code-box">
                <pre class="language-js line-numbers">
                    <code>
window.addEventListener('delAct',notiDel);
function notiDel(e){
var rpName = e.detail.spName;
var rpAddr = e.detail.spAddr;
}
    				</code>
                </pre>
            </div>
        </section>
        
        <section>
        	<h3 class="title-sec">本地存储传参</h3>
            <p>可以使用本地存储的方式，可以使用cookie、sessionStorage和localStorage。</p>
            <p>A.html发送参数的页面</p>
            <div class="code-box">
                <pre class="language-js line-numbers">
                    <code>
localStorage.setItem("tel", "13652654878");
    				</code>
                </pre>
            </div>
            <p>B.html接收参数的页面</p>
            <div class="code-box">
                <pre class="language-js line-numbers">
                    <code>
localStorage.getItem("tel");
    				</code>
                </pre>
            </div>
            <p>清除参数</p>
            <div class="code-box">
                <pre class="language-js line-numbers">
                    <code>
localStorage.removeItem("tel");
    				</code>
                </pre>
            </div>
        </section>
    </div>
</body>
</html>
