<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>MUI组件</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/global.less">
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
	<!--#include virtual="/include/_header.html" -->
    <div class="container">
    	<h2>MUI开发注意事项</h2>
        <h3>固定栏</h3>
        <p>所谓的固定栏，也就是带有.mui-bar属性的节点，都是基于fixed定位的元素；常见组件包括：顶部导航栏（.mui-bar-nav）、底部工具条(.mui-bar-footer)、底部选项卡（.mui-bar-tab）;这些元素使用时需遵循一个规则：放在.mui-content元素之前，即使是底部工具条和底部选项卡，也要放在.mui-content之前，否则固定栏会遮住部分主内容；</p>
        
        <h3>一切内容都要包裹在mui-content中</h3>
        <p>除了固定栏之外，其它内容都要包裹在.mui-content中，否则就有可能被固定栏遮罩，原因：固定栏基于Fixed定位，不受流式布局限制，普通内容依然会从top:0的位置开始布局，这样就会被固定栏遮罩，mui为了解决这个问题，定义了如下css代码：</p>
        <div class="code-box">
            <pre class="language-html line-numbers">
                <code>
.mui-bar-nav ~ .mui-content {
    padding-top: 44px;
}
.mui-bar-footer ~ .mui-content {
    padding-bottom: 44px;
}
.mui-bar-tab ~ .mui-content {
    padding-bottom: 50px;
}                </code>
            </pre>
        </div>
        <p>你当然可以通过自定义CSS的方式实现如上类似效果，但为了使用简便，建议将除固定栏之外的所有内容，全部放在.mui-content中。</p>
        
        <h3>用mui给元素绑定事件</h3>
        <p>mui不支持当前元素绑定，只支持对其子元素的绑定，当前元素绑定请直接使用addEventListener,removeEventListener</p>
        <strong>对当前元素的绑定（即单个元素上的事件监听）</strong>
        <div class="code-box">
            <pre class="language-js line-numbers">
                <code>
document.getElementById('info').addEventListener('tap', function() {
  mui.openWindow({
    url: 'examples/info.html', 
    id:'info'
  });
});
                </code>
            </pre>
        </div>
        <strong>对子元素的绑定（即多个元素上的事件监听）</strong>
        <div class="code-box">
            <pre class="language-js line-numbers">
                <code>
mui(".mui-table-view").on('tap','.mui-table-view-cell',function(){
  mui.openWindow({
    url:'detail.html',
    id:'detail'
  });
})                 </code>
            </pre>
        </div>
        
        <h3>上拉加载与下拉刷新注意点</h3>
        <p>down{}中的height值必须为不带单位的数字，即“50”（可以加引号也可以不加），不能写成"50px"，否则不起作用，但是up{}中的height值无论是否带单位，都正常，原因不明；</p>
        <div class="code-box">
            <pre class="language-js line-numbers">
                <code>
mui.init({
    pullRefresh : {
        container: "#refreshContainer",//待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
        down :{
            style:'circle',//必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
            color:'#2BD009', //可选，默认“#2BD009” 下拉刷新控件颜色
            height:50,//可选,默认50px下拉刷新控件的高度
            range:'100px', //可选 默认100px,控件可下拉拖拽的范围
            offset:'0px', //可选 默认0px,下拉刷新控件的起始位置
            auto: false,//可选,默认false.首次加载自动上拉刷新一次
            contentdown: "下拉可以刷新", //可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
            contentover: "释放立即刷新", //可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
            contentrefresh: "正在刷新...", //可选，正在刷新状态时，下拉刷新控件上显示的标题内容
            callback: function(){
                downRefresh(); //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
            }
        },
        up : {
            height:'50px',//可选.默认50.触发上拉加载拖动距离
            auto:false,//可选,默认false.自动上拉加载一次
            contentinit: "show more",
            contentdown: "下拉可以加载",
            contentover: "释放立即加载",
            contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
            contentnomore: "没有更多数据了", //可选，请求完毕若没有更多数据时显示的提醒内容；
            callback: function(){
                var self = this;
                loadMoreCmt(self);
            }
        }
    }
});
				</code>
            </pre>
        </div>
        <div class="code-box">
            <pre class="language-js line-numbers">
                <code>
//上拉加载
function loadMoreCmt(obj){
    $('#perList').append(_html_add);
    obj.endPullupToRefresh(false); //当值为false时，表示还有数据可以加载；当值为true时，表示没有数据可以加载了，会显示contentnomore中定义的内容；
}                
				</code>
            </pre>
        </div>
        <strong>下拉刷新不能像上拉加载那样传obj值，否则会报错，只能直接取ID，即mui('#refreshContainer')，原因不明；</strong>
        <div class="code-box">
            <pre class="language-js line-numbers">
                <code>
//下拉刷新
function downRefresh(){
    setTimeout(function(){
        $('#perList').prepend(_html_add);
        mui('#refreshContainer').pullRefresh().endPulldownToRefresh(true); //结束刷新
    },1000)
}                
				</code>
            </pre>
        </div>
    </div>
</body>
</html>
