<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>MUI组件</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/global.less">
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
	<!--#include virtual="/include/_header.html" -->
    <div class="container">
    	<h2>MUI开发注意事项</h2>
        <h3>固定栏</h3>
        <p>所谓的固定栏，也就是带有.mui-bar属性的节点，都是基于fixed定位的元素；常见组件包括：顶部导航栏（.mui-bar-nav）、底部工具条(.mui-bar-footer)、底部选项卡（.mui-bar-tab）;这些元素使用时需遵循一个规则：放在.mui-content元素之前，即使是底部工具条和底部选项卡，也要放在.mui-content之前，否则固定栏会遮住部分主内容；</p>
        
        <h3>一切内容都要包裹在mui-content中</h3>
        <p>除了固定栏之外，其它内容都要包裹在.mui-content中，否则就有可能被固定栏遮罩，原因：固定栏基于Fixed定位，不受流式布局限制，普通内容依然会从top:0的位置开始布局，这样就会被固定栏遮罩，mui为了解决这个问题，定义了如下css代码：</p>
        <div class="code-box">
            <pre class="language-html line-numbers">
                <code>
.mui-bar-nav ~ .mui-content {
    padding-top: 44px;
}
.mui-bar-footer ~ .mui-content {
    padding-bottom: 44px;
}
.mui-bar-tab ~ .mui-content {
    padding-bottom: 50px;
}                </code>
            </pre>
        </div>
        <p>你当然可以通过自定义CSS的方式实现如上类似效果，但为了使用简便，建议将除固定栏之外的所有内容，全部放在.mui-content中。</p>
        
        <h3>用mui给元素绑定事件</h3>
        <p>mui不支持当前元素绑定，只支持对其子元素的绑定，当前元素绑定请直接使用addEventListener,removeEventListener</p>
        <strong>对当前元素的绑定</strong>
        <div class="code-box">
            <pre class="language-js line-numbers">
                <code>
document.getElementById('info').addEventListener('tap', function() {
  mui.openWindow({
    url: 'examples/info.html', 
    id:'info'
  });
});
                </code>
            </pre>
        </div>
        <strong>对子元素的绑定</strong>
        <div class="code-box">
            <pre class="language-js line-numbers">
                <code>
mui(".mui-table-view").on('tap','.mui-table-view-cell',function(){
  mui.openWindow({
    url:'detail.html',
    id:'detail'
  });
})                 </code>
            </pre>
        </div>
    </div>
</body>
</html>
