@charset "utf-8";
/* CSS Document */
@import "/css/global.less";

body{background:url(../images/bg01.jpg) repeat;}
.topbar{
	margin-bottom:20px;background-color:rgba(255,255,255,.7);
	h2{background-color:transparent;}
}

.topbar{
	margin-bottom:20px;background-color:rgba(255,255,255,.7);
	h2{background-color:transparent;}
}
/*************************************************/
/* property属性详解
/*************************************************/
.title-bar{
	padding:20px 15px;background-color:rgba(255,255,255,.6);font-weight:normal;
	h3{margin:0;font-size:30px;}
}
.reference{
	color:#999;
	a{color:#3CF;}	
}
.box{margin:10px 0;padding:10px 15px;background-color:rgba(255,255,255,.4)}
.browser-support{color:#333;}
.example{
	@color:#98B90F;
	h4{
		margin:0;font-size:16px;
		label{display:inline-block;padding:10px 20px;background-color:lighten(@color,20%);color:darken(@color,20%);.text-shadow(1px,1px,0,rgba(255,255,255,.5));}
	}
}