<article>
    <h3 class="title-r3">伪元素：before和：after</h3>
    <p class="reference">摘自：<a target="_blank" href="https://www.w3cplus.com/css3/learning-to-use-the-before-and-after-pseudo-elements-in-css.html">https://www.w3cplus.com/css3/learning-to-use-the-before-and-after-pseudo-elements-in-css.html</a></p>
    <figure class="code-box">
        <pre class="language-css line-numbers">
            <code>   

            </code>
        </pre>
    </figure>
    
    <figure class="code-box">
        <pre class="language-css line-numbers">
            <code>   

            </code>
        </pre>
    </figure>
</article>