<article>
    <h3 class="title-r3">伪类选择器 </h3>
    <p class="reference">摘自：<a target="_blank" href="https://www.w3cplus.com/css3/pseudo-class-selector">https://www.w3cplus.com/css3/pseudo-class-selector</a></p>
    <figure class="code-box">
        <pre class="language-css line-numbers">
            <code>   

            </code>
        </pre>
    </figure>
    
    <figure class="code-box">
        <pre class="language-css line-numbers">
            <code>   

            </code>
        </pre>
    </figure>
</article>