<article>
    <h3 class="title-r3">::Selection</h3>
    <p class="reference">摘自：<a target="_blank" href="https://www.w3cplus.com/content/css-selection">https://www.w3cplus.com/content/css-selection</a></p>
    <figure class="code-box">
        <pre class="language-css line-numbers">
            <code>   

            </code>
        </pre>
    </figure>
    
    <figure class="code-box">
        <pre class="language-css line-numbers">
            <code>   

            </code>
        </pre>
    </figure>
</article>