<article>
    <h3 class="title-r3">属性选择器</h3>
    <p class="reference">摘自：<a target="_blank" href="https://www.w3cplus.com/css3/attribute-selectors">https://www.w3cplus.com/css3/attribute-selectors</a></p>
    <p class="browser-support">
    	<mark>兼容性</mark> IE6不支持
    </p>
    <figure class="code-box">
        <pre class="language-css line-numbers">
            <code>   
E[attr]：只使用属性名，但没有确定任何属性值；
E[attr="value"]：指定属性名，并指定了该属性的属性值；
E[attr~="value"]：指定属性名，并且具有属性值，此属性值是一个词列表，并且以空格隔开，其中词列表中包含了一个value词，而且等号前面的“〜”不能不写；
E[attr^="value"]：指定了属性名，并且有属性值，属性值是以value开头的；
E[attr$="value"]：指定了属性名，并且有属性值，而且属性值是以value结束的；
E[attr*="value"]：指定了属性名，并且有属性值，而且属值中包含了value；
E[attr|="value"]：指定了属性名，并且属性值是value或者以“value-”开头的值（比如说zh-cn）;
            </code>
        </pre>
    </figure>
    
    <figure class="code-box">
        <pre class="language-css line-numbers">
            <code>   

            </code>
        </pre>
    </figure>
    
    <figure class="code-box">
        <pre class="language-css line-numbers">
            <code>   

            </code>
        </pre>
    </figure>
</article>