<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/include/_head_import_file.html" -->
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
    <div id="wside"></div>
    <div id="wmain" style="width: 1000px;">
        <h2 class="r2-title">background-size</h2>
        <p class="reference"><a target="_blank" href="https://www.w3cplus.com/content/css3-background-size"></a></p>
        <img src="images/screenPics/background-size.png" />
        
        <h2 class="r2-title">background-clip</h2>
        <p class="reference"><a target="_blank" href="https://www.w3cplus.com/content/css3-background-clip"></a></p>
        <img src="images/screenPics/background-clip.png" />
    </div>
</div>
</body>
</html>
