<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
   	<link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/default.css" rel="stylesheet" />
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/prism.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
    <div id="wside">
    	<dl>
    		<dt><a href="#">background</a></dt>
    		<dd>
    			<a href="">background-size</a>
    		</dd>
    	</dl>
    </div>
    <div id="wmain">
        <h2 class="title-r2">background</h2>
        <!--#include virtual="background-size.html" -->
    </div>
    <script type="text/javascript">
    	$('#wside a').on('click', function(){
    		$(this).toggleClass('on');
    	})
    </script>
</div>
</body>
</html>
