<article>
    <h3 class="title-r3">background-size</h3>
    <p class="reference">摘自：<a target="_blank" href="https://www.w3cplus.com/content/css3-background-size">https://www.w3cplus.com/content/css3-background-size</a></p>
    <div class="browser-support">
    	<mark>浏览器兼容</mark>
    	<ul>
    		<li>Chrome 1.0+</li>
    		<li>Firefox 3.6+</li>
    		<li>Safari 3.1+</li>
    		<li>Opera 9.63+</li>
    		<li>IE9+</li>
    	</ul>
    </div>
    <p>background-size取值为cover时，背景图片自己会放大到适合容器的尺寸，在ＩＥ中有一个滤镜是类似于cover的功能.</p>
    <figure class="code-box">
        <pre class="language-css line-numbers">
            <code>   
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/background-image.jpg",sizingMethod='scale');
-ms-filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/background-image.jpg",sizingMethod='scale');
等同于
background-size:cover;
            </code>
        </pre>
    </figure>
    
    <figure class="code-box">
        <pre class="language-css line-numbers">
            <code>   

            </code>
        </pre>
    </figure>
</article>