<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/static/include/_head_import_file2.html" -->
</head>
<body>
<!--#include virtual="/static/include/_header.html" -->
<div id="wrap">
    <div id="wside"></div>
    <div id="wmain">
    	<ul class="list-decimal">
    		<li>
    			<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/CSS/background-origin">background-origin</a>
    			<p>该属性指定了背景从哪个区域(边框、补白或内容)开始绘制,但也仅仅能控制背景开始绘制的位置，你可以用这个属性在边框上绘制背景，但边框上的背景显不显示出来那就要由background-clip来决定了</p>
    		</li>
    		<li>
    			<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/CSS/background-clip">background-clip</a>
    			<p>该属性指定了背景在哪些区域可以显示，与背景开始绘制的位置无关，背景的绘制的位置可以出现在不显示背景的区域.</p>
    		</li>
    		<li>
    			<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/CSS/background-position">background-position</a>
    			<p>background-position 为每一个背景图片设置初始位置。 这个位置是相对于由 background-origin 定义的位置图层的。</p>
    		</li>
    		<li>
    			<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/CSS/background-attachment">background-attachment</a>
    		</li>
    		<li>
    			<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/CSS/background-size">background-size</a>
    		</li>
    	</ul>
        <h2 class="r2-title">background-size</h2>
        <p class="reference"><a target="_blank" href="https://www.w3cplus.com/content/css3-background-size"></a></p>
        <img src="images/screenPics/background-size.png" />
        
        <h2 class="r2-title">background-clip</h2>
        <p class="reference"><a target="_blank" href="https://www.w3cplus.com/content/css3-background-clip"></a></p>
        <img src="images/screenPics/background-clip.png" />
    </div>
</div>
</body>
</html>
