<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
   	<link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/default.css" rel="stylesheet" />
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/prism.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/default.js"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
    <div id="wmain" style="width: 1000px;">
        <h2 class="r2-title">box-sizing</h2>
        <p class="reference"><a target="_blank" href="https://www.w3cplus.com/content/css3-box-sizing">https://www.w3cplus.com/content/css3-box-sizing</a></p>
        <img src="images/screenPics/box-sizing1.png" />
        <img src="images/screenPics/box-sizing2.png" />
        <img src="images/screenPics/box-sizing3.png" />
    </div>
</div>
</body>
</html>
