<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/global.less">
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<h2 class="r2-title">min/max-width/height</h2>
		<p class="reference">
			<a href="https://caniuse.com/#search=max-width"></a>
		</p>
		<div class="browser-support">
			<div class="summary">IE7+</div>
		</div>
		<dl class="dlist">
			<dt>值为 inherit 时</dt>
			<dd>当 min/max-width/height 的值为 inherit 时，  IE7 不支持</dd>
			<dt>当与 overflow: auto/scroll 结合使用时</dt>
			<dd>max-width/height 与 overflow: auto/scroll 结合使用时， IE8 中会出现一些问题，具体是哪些问题不明；</dd>
			<dt>input button/submit button/reset button</dt>
			<dd>为 input button/submit button/reset button 添加 min-width 时，IE7 不支持 </dd>
		</dl>
		
		<h2 class="r2-title">display</h2>
        <table class="table-1" width="100%">
            <caption>说明：IE6+ 意思是兼容IE6及IE6以上</caption>
            <tr>
                <th width="10%" rowspan="3">display</th>
                <td width="40%">inline-block</td>
                <td>当应用于行内元素时：<em>IE6+</em> ，当应用于块元素时：<em>IE8+</em></td>
            </tr>
            <tr>
                <td>list-item</td>
                <td><em>IE6+</em></td>
            </tr>
            <tr>
                <td>table inline-table table-row table-cell table-column table-column-group table-row-group inherit</td>
                <td><em>IE8+</em></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
