<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/include/_head_import_file.html" -->
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
    <div id="wmain" style="width: 1000px;">
    	<div class="browser-support">
    		<div class="summary">IE9(部分支持) IE10+; Edge12+; FF4~FF15(加前缀-moz-) FF16+; Chrome19~Chrome25(加前缀-webkit-) Chrome26+; Safari6(加前缀-webkit-) Safari6.1+; Opera15+</div>
    	</div>
    	
        <h2 class="r2-title">属性讲解</h2>
        <p class="reference"><a target="_blank" href="https://www.w3cplus.com/css3/how-to-use-css3-calc-function.html"></a></p>
        https://www.w3cplus.com/preprocessor/create-css-grid-using-calc.html
        <img src="images/screenPics/calc.png" />
        
        <h2 class="r2-title">clac()嵌套</h2>
        <p>alc() 函数可以嵌套。在函数里边，会被视为简单的括号表达式，如下例所示。</p>
        <div class="code-box">
        	<pre class="language-css line-numbers">
            	<code>
.foo {
    width: calc( 100% / calc(100px * 2) );
}
/* 函数的计算值如下所示： */
.foo {
    width: calc( 100% / (100px * 2) );
}
                </code>
            </pre>
        </div>
        
        <h2 class="r2-title">使用CSS变量来嵌套calc()</h2>
        <div class="code-box">
        	<pre class="language-css line-numbers">
            	<code>
.foo {
  --widthA: 100px;
  --widthB: calc(var(--widthA) / 2);
  --widthC: calc(var(--widthB) / 2);
  width: var(--widthC);
}
                </code>
            </pre>
        </div>
        <p>在所有的变量都被展开后, widthC 的值就会变成 calc( calc( 100px / 2) / 2)，然后当它被赋值给 .foo 的 width属性 时，所有内部的这些calc()（无论嵌套的有多深）都将会直接被“拍”成一个括号（原文：be flattened to just parentheses），所以这个 width属性 的值就直接相当于 calc( ( 100px / 2) / 2)了，或者说就变成25px了。 简而言之：一个 calc() 里面的 calc() 就仅仅相当于是一个括号。</p>
        
        <h2 class="r2-title">元素居中</h2>
        <p>使用 calc() 给我们提供了另一个垂直居中元素的解决方案。如果我们知道元素的尺寸，仅仅通过 top 与 left 属性便能实现.</p>
    	<div class="code-box">
        	<pre class="language-css line-numbers">
            	<code>
/* .ele的宽度和高度为300px */    		
.ele{
	position: absolute
	top: calc(50% - 150px);
	left: calc(50% - 150px);
}
                </code>
            </pre>
        </div>
        
        <h2 class="r2-title">与box-sizing:border-box相同的效果</h2>
        <p>使用 calc() 可以取得与box-sizing:border-box相同的效果。</p>
    	<div class="code-box">
        	<pre class="language-css line-numbers">
            	<code>
.ele{
	width: calc(100% - (20px + 2px) * 2);
	height: calc(100% - (20px + 2px) * 2);
	border: 2px solid #ccc;
	padding: 10px 20px;
}
                </code>
            </pre>
        </div>
        
        <h2 class="r2-title">calc实现滚动条出现页面不跳动</h2>
        <img src="images/screenPics/sc19.png" />
        
    </div>
</div>
</body>
</html>
