<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
   	<link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/default.css" rel="stylesheet" />
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/prism.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/default.js"></script>
    <style>
    	#wmain{
    		width: 990px;
    		border: 2px solid #ffffff;
    		background-color: #F5F5D5;
    	}
    </style>
</head>
<body>
	<!--#include virtual="/include/_header.html" -->
	<div id="wrap">
		<div id="wmain">
    		<h2 class="r2-title">CSS 变量</h2>
    		<p class="reference"><a target="_blank" href="http://www.ruanyifeng.com/blog/2017/05/css-variables.html">http://www.ruanyifeng.com/blog/2017/05/css-variables.html</a></p>
    		<img src="images/screenPics/sc08.png" />
		</div>
	</div>
</body>
</html>
