<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/include/_head_import_file.html" -->
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
    <div id="wside"></div>
    <div id="wmain" style="width: 800px;">
        <h2 class="r2-title">CSS单位 px em rem讲解</h2>
        <p class="reference"><a target="_blank" href="http://www.mamicode.com/info-detail-655497.html"></a></p>
    	<img src="images/screenPics/css-danwei.png" />
    	
    	<h2 class="r2-title">CSS3单位 rem</h2>
    	<p>rem是css3中新增加的一个相对长度单位，相对于根元素html元素字体大小的单位。</p>
    	<div class="browser-support">
    		<div class="summary">
    			IE9-IE10部分支持; IE11+; Edge 12+; FF 3.6+; chrome 4+; safari 5+; Opera 12.1+; IOS Safari 2.1+; android 2.1+
    		</div> 
    	</div>
    	
    	<h2 class="r2-title">CSS3单位 vw vh</h2>
    	<p class="reference"><a target="_blank" href="http://caibaojian.com/viewport-based-typography.html"></a></p>
    	<ul>
    		<li>
    			<strong>vw：</strong>
    			viewpoint width，视窗宽度，1vw等于视窗宽度的1%。
    		</li>
    		<li>
    			<strong>vh：</strong>
    			viewpoint height，视窗高度，1vh等于视窗高度的1%。</li>
    		<li><strong>vmin：</strong>vw和vh中较小的那个。</li>
    		<li><strong>vmax：</strong>vw和vh中较大的那个。</li>
    	</ul>
    	<div class="browser-support mt20">
    		<div class="summary">IE9+局部支持; chrome/firefox/safari/opera支持; ios safari 8+; android browser 4.4+; chrome for android 39</div>
    	</div>
    	
    	
    	<h2 class="r2-title">注意点</h2>
    	<p>需注意chrome强制最小字体为12号，即使设置成 10px 最终都会显示成 12px，当把html的font-size设置成10px,子节点rem的计算还是以12px为基准，所以网上很多文章提到的将html的font-size设为10方便计算不是那么可取</p>
    </div>
</div>
</body>
</html>


