<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
   	<link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/default.css" rel="stylesheet" />
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/prism.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/default.js"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
    <div id="wside">
    	<dl>
    		<dt><a href="#">CSS单位 px em rem</a></dt>
    		<dd>
    			<a href="#SEC1">px</a>
    			<a href="#SEC1">em</a>
    			<a href="#SEC1">rem</a>
    		</dd>
    	</dl>
    </div>
    <div id="wmain" style="width: 800px;">
        <h2 class="title-r2" id="SEC1">CSS单位 px em rem讲解</h2>
        <p class="reference">摘自：<a target="_blank" href="http://www.mamicode.com/info-detail-655497.html">http://www.mamicode.com/info-detail-655497.html</a></p>
    	<img src="images/screenPics/css-danwei.png" />
    </div>
</div>
</body>
</html>


