<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/static/include/_head_import_file2.html" -->
</head>
<body>
<!--#include virtual="/static/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<h2 class="r2-title">margin & padding 的百分比</h2>
		<section class="r2-body">
			<p>我们经常用到的 css 属性 padding margin 的单位 '百分比', 无论哪个方向的百分比，都是相对于父元素宽度.</p>
		</section>
	</div>
</div>
</body>
</html>
