<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/css/iconfont.css" rel="stylesheet">
	<link href="/css/default.less" rel="stylesheet/less">
    <script src="/js/less-2.5.3.min.js"></script>
	<script src="/js/jquery-1.11.3.min.js" type="text/javascript"></script>
	<script src="/js/default.js" type="text/javascript"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
    <div id="wside"></div>
	<div id="wmain">
    	<h2 class="r2-title">Android系统的默认字体</h2>
        <section class="r2-body">
        	<dl class="dlist">
        		<dt>Roboto</dt>
        		<dd>Roboto是为Android操作系统设计的一个无衬线字体家族</dd>
        		<dt></dt>
        		<dd></dd>
        	</dl>
        </section>
        <h2 class="r2-title">Mac OS系统的默认字体</h2>
        <section class="r2-body">
        	<dl class="dlist">
        		<dt>Helvetica</dt>
        		<dd>Helvetica是一种被广泛使用的的西文字体，微软常用的Arial字体也来自于它。Helvetica被广泛用于全世界使用拉丁字母和西里尔字母的国家。</dd>
        		<dt>Helvetica Neue</dt>
        		<dd></dd>
        	</dl>
        </section>
        
   </div>
</div>
    
</body>
</html>
