<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
   	<link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/default.css" rel="stylesheet" />
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/prism.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/default.js"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
    <div id="wside">
    	<h2>gradient</h2>
    </div>
    <div id="wmain" style="width: 1000px;">
        <h2 class="r2-title">属性讲解</h2>
        <p class="reference">摘自：<a target="_blank" href="https://www.w3cplus.com/content/css3-gradient">https://www.w3cplus.com/content/css3-gradient</a></p>
        <img src="images/screenPics/gradient1.png" />
        <img src="images/screenPics/gradient2.png" />
        <img src="images/screenPics/gradient3.png" />
        <img src="images/screenPics/gradient4.png" />
        
        <h2 class="r2-title">总结</h2>
        <!--#include virtual="_gradient1.html" -->
    </div>
</div>
</body>
</html>


