<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/include/_head_import_file.html" -->
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
    <div id="wside"></div>
    <div id="wmain">
        <p class="reference">
        	<a href="https://developer.mozilla.org/zh-CN/docs/Web/CSS/CSS_Grid_Layout"></a>
        	<a href="http://www.css88.com/archives/8510"></a>
        </p>
        <h2 class="r2-title">浏览器兼容</h2>
        <div class="r2-body">
        	<img src="images/screenPics/grid9.png" />
        </div>
        
        <h2 class="r2-title">Grid网格术语介绍</h2>
        <div class="r2-body">
        	<img src="images/screenPics/grid1.png" />
        </div>
        
        <h2 class="r2-title">网格容器(Grid Container) 属性</h2>
        <div class="r2-body">
        	<img src="images/screenPics/grid2.png" />
        	<img src="images/screenPics/grid3.png" />
        	<img src="images/screenPics/grid4.png" />
        	<img src="images/screenPics/grid5.png" />
        	<img src="images/screenPics/grid6.png" />
        </div>
        
        <h2 class="r2-title">子元素 网格项(Grid Items) 属性</h2>
        <div class="r2-body">
        	<img src="images/screenPics/grid8.png" />
        	<img src="images/screenPics/grid7.png" />
        </div>
    </div>
</div>
</body>
</html>


