<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YQ-Note css详解</title>
    <!--#include virtual="/static/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/global.less">
    <script src="/js/less-2.5.3.min.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>
	<!--#include virtual="/static/include/_header.html" -->
	<div id="wrap">
		<div id="wside"></div>
    	<div id="wmain">
        	<h2 class="r2-title">最小自适应高度</h2>
            <p>在IE6环境下，其实height就几乎就等于是min-height，指定容器高度后，当内容变多时有自动撑大容器的特质。而IE7 IE8 Firefox不会，它们只是显示固定height值，当内容变多时会溢出容器.所以可以这样设置CSS:<br>兼容性：<kbd>IE6+</kbd></p>
            <div class="code-box">
            	<pre class="language-css line-numbers">
                	<code>
.selector{height:auto !important;height:600px; min-height:600px;}                        
                    </code>
                </pre>
            </div>
            <!-- **************** separator line ****************  -->
            <h2 class="r2-title">最大自适应高度</h2>
            <div class="code-box">
            	<pre class="language-css line-numbers">
                	<code>
.selector{
	height:auto !important;
    height:250px;
    max-height:250px;
    overflow:hidden;
    overflow-y:auto;
}      
/* 因为IE6不支持min/max-width, min/max-height,所以针对IE6：*/
* html .selector{
	height:expression(this.height > 250 ? '250px' : auto)
}                  
                    </code>
                </pre>
            </div>
            <!-- **************** separator line ****************  -->
        </div>
	</div>
</body>
</html>
