<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YQ-Note css详解</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/global.less">
    <script src="/js/less-2.5.3.min.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>
	<!--#include virtual="/include/_header.html" -->
	<div class="container">
    	<div class="row">
        	<div class="col-md-9" role="main">
            	<div class="note-item">
                	<h3><a href="selecter.html">选择器</a></h3>
                </div>
                <div class="note-item">
                	<h3><a href="transform.html">CSS3 Transform</a></h3>
                </div>
            	<div class="note-item">
                	<h3><a href="img-replace-text-with-css.html">几种图片替换文本的CSS方法</a></h3>
                    <p class="reference">摘自：<a target="_blank" href="http://www.w3cplus.com/css/ten-image-replace-text-with-css">http://www.w3cplus.com/css/ten-image-replace-text-with-css</a>
                    </p>
                    <div class="note-body">很多网站的logo都使用图片替换文本来实现，而且在一些情况下也有使用图片效果来替换难以实现的文本效果。使用图片替换文本，其原理是相当的简单：就是在样式中使用背景图片来替换掉HTML模板中的文本内容，从而达到一种样式无法实现的页面渲染效果。使用图片替换有其优点也有其缺点，优点就是能实现一些特殊的页面效果，缺点就是需要加载图片，而且一些不好的替换方法给残障人员浏览网页会造成一定的不良之处，另外据说会对搜索引擎的搜索有影响，对于这一点没有考究过。</div>
                </div>
                <div class="note-item">
                	<h3><a href="alignment.html">关于居中对齐</a></h3>
                    <p class="reference">摘自：<a target="_blank" href="http://www.w3cplus.com/css/vertically-center-content-with-css">http://www.w3cplus.com/css/vertically-center-content-with-css</a>
                    </p>
                    <div class="note-body">包括水平居中、垂直居中、水平垂直居中</div>
                </div>
                <div class="note-item">
                	<h3><a href="height-auto.html">高度自适应</a></h3>
                    <div class="note-body">根据内容自动调节高度，从而实现自适应。</div>
                </div>
                <div class="note-item">
                	<h3><a href="layout.html">常用布局总结</a></h3>
                    <div class="note-body">包括二列左列宽度自适应、二列右列宽度自适应、三列中间宽度自适应、三列中间宽度左右自适应等</div>
                </div>
                <div class="note-item">
                	<h3><a href="/views/btn/index.html">按钮的各种效果</a></h3>
                    <div class="note-body">一些常用和比较不错的按钮效果，闲时总结下来，用时直接COPY.</div>
                </div>
                <div class="note-item">
                	<h3><a href="/views/bg/index.html">纯CSS制作图形背景</a></h3>
                    <div class="note-body">纯CSS实现的背景，多种多样的实现方法，如通过CSS3属性实现圆形、平行四边形等，通过字体图标实现；通过SVG实现。</div>
                </div>
                <div class="note-item">
                	<h3><a href="/views/shape/index.html">纯CSS实现的形状</a></h3>
                    <div class="note-body"></div>
                </div>
            </div>
            <div class="col-md-3" id="side">
            	<div class="fix-side-nav">
                	<!--#include virtual="_common_nav.html" -->
                    <p class="toTop"><a href="#"><i class="icon-circle-arrow-up"></i>TOP</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
