<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YQ-Note css详解</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/global.less">
    <link rel="stylesheet/less" href="/css/default.css">
    <script src="/js/less-2.5.3.min.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>
	<!--#include virtual="/include/_header.html" -->
	<div class="container">
    	<div class="row">
        	<div class="col-md-9" role="main">
            	<div class="note-item">
            		<div class="LT">
            			<a href="selecter.html">选择器</a>
            			<a href="danwei.html">CSS单位</a>
            			<a href="flex/index.html">FLEX</a>
            			<a href="css-variables.html">CSS 变量</a>
            			<a href="grid.html">Grid布局</a>
            		</div>
                </div>
                <div class="note-item">
                	<h3>CSS3</h3>
                	<div class="LT">
                		<a href="transform.html">CSS3 Transform</a>
                		<a href="background.html">background</a>
                		<a href="counter.html">css计算器  counter</a>
                		<a href="box-sizing.html">box-sizing</a>
                		<a href="gradient.html">gradient</a>
                		<a href="calc.html">calc</a>
                	</div>
                </div>
                <div class="note-item">
                	<h3>布局</h3>
                	<div class="LT">
	                	<a href="alignment.html">关于居中对齐</a>
	                	<a href="height-auto.html">高度自适应</a>
	                	<a href="layout.html">常用布局总结</a>
                	</div>
                </div>
                <div class="note-item">
                	<h3>各种效果</h3>
                	<div class="LT">
	                	<a href="/views/demo/btn/index.html">按钮的各种效果</a>
	                	<a href="/views/bg/index.html">纯CSS制作图形背景</a>
	                	<a href="/views/shape/index.html">纯CSS实现的形状</a>
	                	<a href="img-replace-text-with-css.html">几种图片替换文本的CSS方法</a>
	                	<a href="/views/demo/text/txt1.html">多行文本溢出显示省略号</a>
                	</div>
                </div>
            </div>
            <div class="col-md-3" id="side">
            	<div class="fix-side-nav">
                	<!--#include virtual="_common_nav.html" -->
                    <p class="toTop"><a href="#"><i class="icon-circle-arrow-up"></i>TOP</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
