<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet/less" href="/css/iconfont.css">
	<link rel="stylesheet/less" href="/css/default.less">
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/less-2.5.3.min.js"></script>
    <script src="/js/default.js"></script>
</head>
<body>
	<!--#include virtual="/include/_header.html" -->
	<div id="wrap">
		<div id="wside"></div>
		<div id="wmain">
			<h2 class="r2-title">基本释义</h2>
			<section class="r2-body">
				<p>“行高”顾名思义指一行文字的高度。具体来说是指两行文字间基线之间的距离。基线实在英文字母中用到的一个概念，我们刚学英语的时使用的那个英语本子每行有四条线，其中底部第二条线就是基线，是a,c,z,x等字母的底边线。下图的红色线即为基线。</p>
	    		<p>
	    			<img class="screenPics" src="images/img03.jpg" />
	    		</p>
				<strong class="listTit">line-height 属性</strong>
				<dl class="dlist">
					<dt>normal</dt>
					<dd>默认。设置合理的行间距。</dd>
					<dt>number</dt>
					<dd>设置数字，此数字会与当前的字体尺寸相乘来设置行间距。</dd>
					<dt>length</dt>
					<dd>设置固定的行间距。</dd>
					<dt>%</dt>
					<dd>基于当前字体尺寸的百分比行间距。</dd>
					<dt>inherit</dt>
					<dd>规定应该从父元素继承 line-height 属性的值。任何的版本的 Internet Explorer （包括 IE8）都不支持属性值 "inherit"。</dd>
				</dl>
			</section>
			
			
    		
    		<p class="reference">
    			<a href="http://www.zhangxinxu.com/wordpress/2009/11/css%E8%A1%8C%E9%AB%98line-height%E7%9A%84%E4%B8%80%E4%BA%9B%E6%B7%B1%E5%85%A5%E7%90%86%E8%A7%A3%E5%8F%8A%E5%BA%94%E7%94%A8/"></a>
    		</p>
    		<img class="screenPics" src="images/screenPics/sc21.png" />
		</div>
	</div>
</body>
</html>
