<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/static/include/_head_import_file2.html" -->
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/static/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
    <div id="wmain">
    	<strong class="listTit">以下优先级是递增的</strong>
        <dl class="dlist">
        	<dt>类型选择器（如 h1）、伪元素（如 ::before）</dt>
        	<dd></dd>
        	<dt>类选择器 ( 如 .example）、属性选择器（如 [type="radio"]）、伪类（如 :hover）</dt>
        	<dd></dd>
        	<dt>ID选择器（如 #example）</dt>
        	<dd></dd>
        	<dt>内联样式 ( 如 style="font-weight:bold" ) </dt>
        	<dd></dd>
        	<dt>!important</dt>
        	<dd></dd>
        </dl>
    </div>
</div>
</body>
</html>
