<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>css属性详解</title>
    <!--#include virtual="/static/include/_head_import_file.html" -->
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
	<!--#include virtual="/static/include/_header.html" -->
	<div id="wrap">
		<div id="wside"></div>
		<div id="wmain">
			<!--#include virtual="_a.html" -->
			<h2 class="r2-title">列表与list-style-type</h2>
	        <p>list-style-type的值只有应用在列表 ol li ul 上才能正常显示，如果应用在设置了display:list-item的其它标签上，则不能正常显示。例如：对设置了display:list-item的dl标签设置list-style-type属性，在chrome中正常，在firefox中不能正常显示。</p>
			
			<h2 class="r2-title">字母'x'在CSS世界中的角色</h2>
			<p class="reference">
				<a href="http://www.zhangxinxu.com/wordpress/2015/06/about-letter-x-of-css/"></a>
				<a href="http://www.zhangxinxu.com/wordpress/2015/08/css-deep-understand-vertical-align-and-line-height/"></a>
				<a href="https://blog.csdn.net/fe_dev/article/details/75948659"></a>
				<a href="https://segmentfault.com/a/1190000002668492#articleHeader2"></a>
			</p>
			<img class="screenPics" src="images/screenPics/sc20.png" />
		</div>
    </div>
</body>
</html>
