<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet/less" href="/css/iconfont.css">
	<link rel="stylesheet/less" href="/css/default.less">
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/less-2.5.3.min.js"></script>
    <script src="/js/default.js"></script>
</head>
<body>
	<!--#include virtual="/include/_header.html" -->
	<div id="wrap">
		<div id="wside"></div>
		<div id="wmain">
    		<h1 class="r2-title">html页面字母"x"变成打印机图标的原因</h1>
    		<img src="images/img02.png" />
            <p>只要更改字母"x"的 font-family 即可解决此问题.</p>
		</div>
	</div>
</body>
</html>
