<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
   <link rel="stylesheet" href="/css/prism.css">
    <link href="/css/default.css" rel="stylesheet" />
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/prism.js"></script>
</head>
<body>
	<h2 class="title-r2">选择器</h2>
    
    <aside></aside>
    <!--#include virtual="_selector01.html" -->
</body>
</html>
