<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/include/_head_import_file.html" -->
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<h2 class="r2-title">letter-spacing/word-spacing</h2>
		<dl class="dlist">
			<dt>letter-spacing</dt>
			<dd>设置字符之间的间距（即中文汉字之间的间距，英文字母之间的间距）</dd>
			<dt>word-spacing</dt>
			<dd>设置单词之间的间距，浏览器兼容：<span class="badge">IE6+</span></dd>
		</dl>
		<section class="r2-body">
			<div class="code-box">
	            <pre class="language-css line-numbers">
	                <code>

		            </code>
	            </pre>
	        </div>
		</section>
	</div>
</div>
</body>
</html>
