body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:717px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:333px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u710 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:240px;
  height:333px;
  display:flex;
}
.u710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
.u711 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:16px;
  width:200px;
  height:200px;
  display:flex;
}
.u711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
.u712 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:237px;
  width:200px;
  height:50px;
  display:flex;
  line-height:18px;
}
.u712 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
.u713 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:302px;
  width:57px;
  height:14px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
.u713 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u713_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CC3333;
}
.u714 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:299px;
  width:31px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#CC3333;
}
.u714 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u714_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u708-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:332px;
}
#u708-2 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:0px;
  width:239px;
  height:332px;
}
#u708-3 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:0px;
  width:239px;
  height:332px;
}
#u708-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:332px;
  width:239px;
  height:332px;
}
#u708-5 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:332px;
  width:239px;
  height:332px;
}
#u708-6 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:332px;
  width:239px;
  height:332px;
}
#u708-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:664px;
  width:239px;
  height:332px;
}
#u708-8 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:664px;
  width:239px;
  height:332px;
}
#u708-9 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:664px;
  width:239px;
  height:332px;
}
#u708-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:996px;
  width:239px;
  height:332px;
}
#u708-11 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:996px;
  width:239px;
  height:332px;
}
#u708-12 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:996px;
  width:239px;
  height:332px;
}
#u708-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1328px;
  width:239px;
  height:332px;
}
#u708-14 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:1328px;
  width:239px;
  height:332px;
}
#u708-15 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:1328px;
  width:239px;
  height:332px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:717px;
  height:1660px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
}
