body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:523px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1347 {
  position:absolute;
  left:10px;
  top:36px;
}
#u1347_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:523px;
  height:273px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1347_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:523px;
  height:40px;
  visibility:hidden;
}
.u1349_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1349_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:40px;
  display:flex;
}
.u1350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1349_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
.u1349_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:40px;
  display:flex;
}
.u1351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1349_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
.u1349_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:40px;
  background:inherit;
  background-color:rgba(248, 254, 226, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:40px;
  display:flex;
}
.u1352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1349_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
.u1349_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:40px;
  display:flex;
}
.u1353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:40px;
  visibility:hidden;
}
.u1354_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 250, 250, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1354_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u1356 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-1px;
  width:50px;
  height:40px;
  display:flex;
  font-size:12px;
}
.u1356 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
.u1356_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(192, 223, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u1356.selected {
}
.u1356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u1357 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:-1px;
  width:100px;
  height:40px;
  display:flex;
  font-size:12px;
}
.u1357 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
.u1357_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(192, 223, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u1357.selected {
}
.u1357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1358 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:-1px;
  width:50px;
  height:40px;
  display:flex;
}
.u1358 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
.u1358_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(192, 223, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1358.selected {
}
.u1358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:6px;
  color:#666666;
}
.u1359 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:-1px;
  width:100px;
  height:40px;
  display:flex;
  font-size:6px;
  color:#666666;
}
.u1359 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
.u1359_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(192, 223, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:6px;
  color:#666666;
}
.u1359.selected {
}
.u1359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1360 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:-1px;
  width:50px;
  height:40px;
  display:flex;
}
.u1360 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
.u1360_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(192, 223, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1360.selected {
}
.u1360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
.u1361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:30px;
  height:40px;
  display:flex;
  font-size:12px;
  color:#000000;
}
.u1361 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
.u1361_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
  background:inherit;
  background-color:rgba(192, 223, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
.u1361.selected {
}
.u1361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1362 label {
  left:0px;
  width:100%;
}
.u1362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
.u1362 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:11px;
  width:16px;
  height:12px;
  display:flex;
}
.u1362 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
.u1362_img.selected {
}
.u1362.selected {
}
.u1362_img.disabled {
}
.u1362.disabled {
}
.u1362_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1362_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
.u1363 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:0px;
  width:98px;
  height:38px;
}
.u1363_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1363_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3333;
}
.u1364 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#FF3333;
}
.u1364 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1364_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1363_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
.u1363_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF9933;
}
.u1365 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#FF9933;
}
.u1365 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1365_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1363_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
.u1363_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#9966CC;
}
.u1366 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:48px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#9966CC;
}
.u1366 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1366_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1363_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
.u1363_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#66CC66;
}
.u1367 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#66CC66;
}
.u1367 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1367_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1363_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
.u1363_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u1368 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
}
.u1368 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1368_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1363_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
.u1363_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
.u1369 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#999999;
}
.u1369 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1369_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u1370 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:-1px;
  width:50px;
  height:40px;
  display:flex;
  font-size:12px;
}
.u1370 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
.u1370_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(192, 223, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
.u1370.selected {
}
.u1370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
.u1371 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:-1px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
.u1371 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
.u1371_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(192, 223, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
.u1371.selected {
}
.u1371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1348-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:39px;
}
.u1362 label {
  left:0px;
  width:100%;
}
#u1348-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:523px;
  height:39px;
}
.u1362 label {
  left:0px;
  width:100%;
}
#u1348-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:523px;
  height:39px;
}
.u1362 label {
  left:0px;
  width:100%;
}
#u1348-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:117px;
  width:523px;
  height:39px;
}
.u1362 label {
  left:0px;
  width:100%;
}
#u1348-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:523px;
  height:39px;
}
.u1362 label {
  left:0px;
  width:100%;
}
#u1348-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:523px;
  height:39px;
}
.u1362 label {
  left:0px;
  width:100%;
}
#u1348-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:234px;
  width:523px;
  height:39px;
}
.u1362 label {
  left:0px;
  width:100%;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:273px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:10px;
  width:50px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1372 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u1372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:10px;
  width:100px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:12px;
}
#u1373 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u1373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:10px;
  width:100px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1374 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u1374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:30px;
  height:25px;
  display:flex;
  font-family:'宋体 Bold', '宋体 Regular', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1375 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u1375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1376 label {
  left:0px;
  width:100%;
}
#u1376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:17px;
  width:15px;
  height:16px;
  display:flex;
}
#u1376 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1376_img.selected {
}
#u1376.selected {
}
#u1376_img.disabled {
}
#u1376.disabled {
}
#u1376_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1376_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:10px;
  width:50px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1377 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u1377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:10px;
  width:50px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1378 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u1378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:10px;
  width:50px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1379 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u1379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(67, 67, 67, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:10px;
  width:100px;
  height:25px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1380 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u1380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
