@charset "utf-8";
/* CSS Document */

body {
	background:#eee;
	font:12px/180% Arial, Helvetica, sans-serif, "新宋体";
}
/* ------------------------------------------------------- *
 * 【starbox】
 * ------------------------------------------------------- */
.picBoxWrap {
	width:490px;
	margin:30px auto;
}
.picBoxWrap .box {
	float:left;
	width:100px;
	height:100px;
	border:1px solid white;
	background:#EEE;
	margin:10px;
	position:relative;
	display:inline;
}
.picBoxWrap .box a {
	display:block;
	width:100px;
	height:100px;
	overflow:hidden;
	position:absolute;
	left:0;
	top:0;
	z-index:9;
}
.picBoxBor {
	position:absolute;
	left:0;
	top:0;
	display:none;
	border:1px solid white;
	z-index:4;
	background:#fff;
	background:-moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.77));
	background:-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.77));
	background:-o-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.77));
	background:-ms-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.77));
}
/* ------------------------------------------------------- *
 * clearfix
 * ------------------------------------------------------- */
.clearfix:after {
	content: ".";
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}
.clearfix {
	display: inline-block;
	overflow:hidden;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
