/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/

.pbWrap{
	margin:20px auto 0;
	width:565px;
}
/* ------------------------------------------------------- *
 * 【coin-slider】
 * ------------------------------------------------------- */
.coin-slider{
	overflow:hidden;
	zoom:1;
	position:relative;
}
.coin-slider a{
	text-decoration:none; 
	outline:none; 
	border:none; 
}
.coin-slider .cs-buttons{ 
	font-size:0px; 
	padding:10px; 
	float:left; 
}
.coin-slider .cs-buttons a{
	margin-left:5px; 
	height:10px; 
	width:10px; 
	float:left; 
	border:1px solid #B8C4CF; 
	color:#B8C4CF; 
	text-indent:-1000px; 
}
.coin-slider .cs-active{ 
	background-color:#B8C4CF; 
	color:#FFFFFF; 
}
.coin-slider .cs-title{ 
	width:545px; 
	padding:10px; 
	background-color:#000000; 
	color:#FFFFFF; 
}
.coin-slider .cs-prev, 
.coin-slider .cs-next{ 
	background-color:#000000; 
	color:#FFFFFF; 
	padding:0px 10px; 
}