<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link href="../css/default.css" rel="stylesheet"/>
    <script src="../js/mui.min.js"></script>
    <script src="../js/jquery-1.11.3.min.js"></script>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title">排版布局</h1>
	</header>
	<div class="mui-content">
        <ul class="mui-table-view" id="p-list"></ul>
	</div>
	<script type="text/javascript">
		var pages = [
			{"pName":"卡片", "pId":"1"},
			{"pName":"折叠面板", "pId":"2"},
			{"pName":"二级列表", "pId":"3"},
			{"pName":"9宫格默认样式", "pId":"4"},
			{"pName":"左右拖动分页9宫格", "pId":"5"},
			{"pName":"分页", "pId":"6"},
			{"pName":"普通列表", "pId":"7"},
			{"pName":"三行列表", "pId":"8"},
			{"pName":"右侧带数字角标", "pId":"9"},
			{"pName":"列表带input类控件", "pId":"10"},
			{"pName":"media list（图文列表）", "pId":"11"},
			{"pName":"底部提醒消息控件", "pId":"12"}
		]
		var _html_pl = "";
		for(i=0; i<pages.length; i++){
			var _p = pages[i];
			_html_pl += "<li class='mui-table-view-cell' pId='" + _p.pId + "'>";
			_html_pl += "<a class='mui-navigate-right'>" + _p.pName + "</a>";
			_html_pl += "</li>"
		}
		$('#p-list').html($('#p-list').html()+_html_pl);
		
		//点击不同的列表进入不同的页面
		mui('.mui-table-view').on('tap','.mui-table-view-cell',function(){
			var pId = $(this).attr('pId');
			if(pId == 1){
				mui.openWindow({
					url: 'card.html',
					id: 'card'
				})
			}
			if(pId == 2){
				mui.openWindow({
					url: 'accordion.html',
					id: 'accordion'
				})
			}
			if(pId == 3){
				mui.openWindow({
					url: 'tableviews-with-collapses.html',
					id: 'tableviews-with-collapses'
				})
			}
			if(pId == 4){
				mui.openWindow({
					url: 'grid-default.html',
					id: 'grid-default'
				})
			}
			if(pId == 5){
				mui.openWindow({
					url: 'grid-pagination.html',
					id: 'grid-pagination'
				})
			}
			if(pId == 6){
				mui.openWindow({
					url: 'pagination.html',
					id: 'pagination'
				})
			}
			if(pId == 7){
				mui.openWindow({
					url: 'tableviews.html',
					id: 'tableviews'
				})
			}
			if(pId == 8){
				mui.openWindow({
					url: 'list-triplex-row.html',
					id: 'list-triplex-row'
				})
			}
			if(pId == 9){
				mui.openWindow({
					url: 'tableviews-with-badges.html',
					id: 'tableviews-with-badges'
				})
			}
			if(pId == 10){
				mui.openWindow({
					url: 'list-with-input.html',
					id: 'list-with-input'
				})
			}
			if(pId == 11){
				mui.openWindow({
					url: 'media-list.html',
					id: 'media-list'
				})
			}
			if(pId == 12){
				mui.openWindow({
					url: 'message-bottom.html',
					id: 'message-bottom'
				})
			}
		})
	</script>
</body>
</html>
