<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MVC</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
    <div id="wmain">
    	<strong class="listTit">ASP.NET</strong>
    	<dl class="dlist">
    		<dt>ASP.NET</dt>
    		<dd>
    			<a class="ref" href="https://www.runoob.com/aspnet/aspnet-tutorial.html"></a>
    			<a class="ref" href="https://docs.microsoft.com/zh-cn/aspnet/?view=aspnetcore-3.1#pivot=aspnet"></a>
    		</dd>
    		<dt>ASP.NET MVC</dt>
    		<dd>
    			<a class="ref" href="https://www.runoob.com/aspnet/mvc-intro.html"></a>
    			<a class="ref" href="https://docs.microsoft.com/zh-cn/aspnet/core/mvc/overview?view=aspnetcore-3.1"></a>
    		</dd>
    		<dt>ASP.NET Web Pages</dt>
    		<dd>
    			<a class="ref" href="https://www.runoob.com/aspnet/webpages-intro.html"></a>
    		</dd>
    		<dt>ASP.NET Razor</dt>
    		<dd>
    			<a class="ref" href="https://www.runoob.com/aspnet/razor-intro.html"></a>
    			<a class="ref" href="https://docs.microsoft.com/zh-cn/aspnet/core/razor-pages/?view=aspnetcore-3.1&tabs=visual-studio#prerequisites"></a>
    		</dd>
    		<dt>ASP.NET Web Forms</dt>
    		<dd>
    			<a class="ref" href="https://www.runoob.com/aspnet/aspnet-intro.html"></a>
    		</dd>
    	</dl>
    </div>
</div>
</body>
</html>
