<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MVC</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
    <div id="wmain">
    	<h2 class="r2-title">MVC</h2>
    	<section class="r2-body">
    		<h3 class="r3-title">文件引用</h3>
	    	<div class="r3-body">
	    		<dl class="dlist">
	    			<dt>@RenderBody()</dt>
	    			<dd>@RenderBody()一般放在layout文件中，用于引用主体文件，只能在layout中出现一次</dd>
	    			<dt>@Html.Partial("_foot1")</dt>
	    			<dd>@Html.Partial()即可放在layout中，也可以放在一般文件中，用于引用其它文件</dd>
	    			<dt>_ViewStart.cshtml</dt>
	    			<dd>View根目录下的_ViewStart.cshtml 先执行 然后再执行对应文件夹下的_ViewStart.cshtml 最后执行访问的cshtml页面</dd>
	    		</dl>
	    	</div>
	    	
	    	<h3 class="r3-title">设置当前菜单</h3>
	    	<strong>视图页</strong>
	    	<div class="code-box">
	        	<pre class="language-html line-numbers">
	            	<code>
	//首页            		
	@{
	    ViewBag.Title = "首页";
	    ViewBag.Num = "1";
	    Layout = "~/Views/Shared/_Layout2.cshtml";
	}
	//产品与服务            		
	@{
	    ViewBag.Title = "产品与服务";
	    ViewBag.Num = "2";
	    Layout = "~/Views/Shared/_Layout2.cshtml";
	}
	//投资者关系            		
	@{
	    ViewBag.Title = "投资者关系";
	    ViewBag.Num = "3";
	    Layout = "~/Views/Shared/_Layout2.cshtml";
	}
	                </code>
	            </pre>
	        </div>
	        <strong>layout页</strong>
	        <div class="code-box">
	        	<pre class="language-html line-numbers">
	            	<code>
	&lt;input type="hidden" value="@ViewBag.Num" id="navNum" /&gt;
	&lt;div class="nav"&gt;
	    &lt;a name="1" href="/Home/Index" class="on">首页&lt;/a&gt;
	    &lt;a name="2" href="/ProSer/Index">产品与服务&lt;/a&gt;
	    &lt;a name="3" href="/tzRea/Index">投资者关系&lt;/a&gt;
	&lt;/div&gt;
	                </code>
	            </pre>
	        </div>
	        <div class="code-box">
	        	<pre class="language-js line-numbers">
	            	<code>
	$(".nav a").each(function () {
	    if ($(this).attr('name') == $('#navNum').val()) {
	        $(this).addClass('on').siblings().removeClass('on');
	    }
	})
	                </code>
	            </pre>
	        </div>
	        
	        <h3 class="r3-title">layout引用</h3>
	        <strong>视图页</strong>
	    	<div class="code-box">
	        	<pre class="language-html line-numbers">
	            	<code>
	//如果想引用模板，按以下设置（_Layout2.cshtml为模板所在页）            		
	@{
	    Layout = "~/Views/Shared/_Layout2.cshtml";
	}
	//如果不想引用模板，以下两种写法都可        		
	@{
	    Layout = null;
	}
	@{
	    Layout = string.Empty;
	}
	                </code>
	            </pre>
	        </div>
	        <p>当 Layout = null 时,视图view页面需要添加 DOCTYPE html head body等结构</p>
	        <div class="code-box">
	        	<pre class="language-html line-numbers">
	            	<code>
	@{
	    ViewBag.Title = "考试监管";
	    Layout = null;
	}
	&lt;!DOCTYPE html&gt;
	&lt;html&gt;
		&lt;head&gt;
		    &lt;meta name="viewport" content="width=device-width" /&gt;
		    &lt;title&gt;@ViewBag.Title&lt;/title&gt;
		    &lt;link href="/css/iconfont.css" rel="stylesheet" /&gt;
		    &lt;script src="/Content/js/jquery-1.9.1.min.js"&gt;&lt;/script&gt;
		&lt;/head&gt;
		&lt;body&gt;
		    &lt;div class="wrap"&gt;&lt;/div&gt;
		&lt;/body&gt;
	&lt;/html&gt;
	                </code>
	            </pre>
	        </div>
	        
	        <h3 class="r3-title">视图View与控制器Controller</h3>
        	<p>如果某视图文件是Spics.cshtml，要访问它，错误的写法是：/demoList/Spics.cshtm，正确的写法是：/demoList/Spics（Spics是控制器的action）控制器的action的文件中是一致的</p>
    	</section>
    </div>
</div>
</body>
</html>
