<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!--#include virtual="/static/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/static/css/tutorial.less">
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <script src="/static/js/less-2.5.3.min.js"></script>
</head>
<body>
	<article id="wrap">
        <div class="ttBlock">
            <h2 class="ttBlock_head">步骤</h2>
            <div class="ttBlock_body">
            	<ol class="ttBlock-orderlist">
                	<li class="ttBlock-list">
                		<p>SVN已经上传，但在Visual Studio SVN中显示还未上传，需按以下操作包含到项目中</p>
                        <div class="ttBlock-list-media">
                            <img src="images/screenPics/sc005.png">
                        </div>
                    </li>
                    <li class="ttBlock-list">
                    	<p>按上面操作后，通过以下方式查看，就可以在.csproj文件中查看到文件已经被包含到项目中了。</p>
                        <div class="ttBlock-list-media">
                            <img src="images/screenPics/sc004.png">
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </article>
    <script type="text/javascript">
    	addArticleTop();
    </script>
</body>
</html>
