<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YQ-Note图片类效果</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/global.less">
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
    <!--#include virtual="/include/_header.html" -->
    <div class="cblock">
    	<div class="bg-under">
        	<div class="shape1"></div>
        </div>
        <div class="container content-area">
        	<h1>图片类效果</h1>
            <p>图片各类效果：HOVER效果、滑动效果、缩放效果、加载效果等</p>
        </div>
    </div>
    <div class="container-fluid">
    	<div class="group-pics">
        	<h2>图片类效果</h2>
        	<ul class="nav nav-tabs" role="tablist">
            	<li role="presentation" class="active">
                	<a href="#t-hover" aria-controls="t-hover" role="tab" data-toggle="tab">图片HOVER效果</a>
                </li>
                <li role="presentation">
                	<a href="#t-switch" aria-controls="t-switch" role="tab" data-toggle="tab">图片切换效果</a>
                </li>
            </ul>
            <div class="tab-content">
            	<div role="tabpanel" class="tab-pane fade in active" id="t-hover">
                	<ul class="list-group">
                    	<li class="list-group-item">
                        	<a href="hover/demos/01/index.html" target="_blank">效果1</a>
                            <div class="list-group-item-warning mt10">这个还没有实例</div>
                        </li>
                        <li class="list-group-item">
                        	<a href="hover/demos/04/index.html" target="_blank">效果4</a>
                        </li>
                        <li class="list-group-item">
                        	<a href="hover/demos/05/index.html" target="_blank">效果5</a>
                        </li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="t-switch">
                	<ul class="list-group">
                    	<li class="list-group-item">
                        	<a href="switch/demos/01/index.html" target="_blank">效果1</a>
                        </li>
                        <li class="list-group-item">
                        	<a href="switch/demos/02/index.html" target="_blank">效果2</a>
                        </li>
                        <li class="list-group-item">
                        	<a href="switch/demos/03/index.html" target="_blank">效果3</a>
                        </li>
                        <li class="list-group-item">
                        	<a href="switch/demos/04/index.html" target="_blank">效果4</a>
                        </li>
                        <li class="list-group-item">
                        	<a href="switch/demos/05/index.html" target="_blank">效果5</a>
                        </li>
                        <li class="list-group-item">
                        	<a href="switch/demos/06/index.html" target="_blank">效果6</a>
                        </li>
                        <li class="list-group-item">
                        	<a href="switch/demos/07/index.html" target="_blank">效果7</a>
                        </li>
                        <li class="list-group-item">
                        	<a href="switch/demos/08/index.html" target="_blank">效果8</a>
                        </li>
                        <li class="list-group-item">
                        	<a href="switch/demos/09/index.html" target="_blank">效果9</a>
                        </li>
                        <li class="list-group-item">
                        	<a href="switch/demos/10/index.html" target="_blank">效果10</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
