<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/static/include/_head_import_file2.html" -->
</head>
<body>
<!--#include virtual="/static/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
        <h2 class="r2-title">图片 hover 效果</h2>
        <section class="r2-body">
        	<h4 class="r4-title">效果1</h4>
        	<a class="expLink" href="hover/index.html"></a>
        	
        	<h4 class="r4-title">效果2</h4>
        	<a class="expLink" href="hover/demos/04/index.html"></a>
        	
        	<h4 class="r4-title">效果3</h4>
        	<a class="expLink" href="hover/demos/05/index.html"></a>
        </section>
        
        <h2 class="r2-title">图片 switch 效果</h2>
        <section class="r2-body">
        	<h3 class="r3-title">多张图水平滑动切换</h3>
        	<section class="r3-body">
        		<h4 class="r4-title">效果1</h4>
	        	<a class="expLink" href="switch/demos/08/index.html"></a>
	        	
	        	<h4 class="r4-title">效果2（一种很眩的效果）</h4>
        		<a class="expLink" href="switch/demos/07/index.html"></a>
	        	
	        	<h4 class="r4-title">效果3（带大图）</h4>
	        	<a class="expLink" href="switch/demos/09/index.html"></a>
	        	
	        	<h4 class="r4-title">效果4（自动水平滑动切换）</h4>
        		<a class="expLink" href="switch/demos/10/index.html"></a>
        		
        		<h4 class="r4-title">效果5（带大图展示及类别切换）</h4>
	        	<div class="browser-support">
	        		<div class="summary">IE8+</div>
	        	</div>
	        	<a class="expLink" href="switch/demos/12/index.html"></a>
        	</section>
        	
        	<h3 class="r3-title">单张大图切换</h3>
        	<section class="r3-body">
        		<h4 class="r4-title">效果1</h4>
	        	<a class="expLink" href="switch/demos/05/index.html"></a>
	        	
	        	<h4 class="r4-title">效果2</h4>
	        	<a class="expLink" href="switch/demos/02/index.html"></a>
	        	
	        	<h4 class="r4-title">效果3</h4>
	        	<a class="expLink" href="switch/demos/01/index.html"></a>
	        	
	        	<h4 class="r4-title">效果4</h4>
	        	<a class="expLink" href="switch/demos/04/index.html"></a>
	        	
	        	<h4 class="r4-title">效果5</h4>
	        	<a class="expLink" href="switch/demos/06/index.html"></a>
	        	
	        	<h4 class="r4-title">效果6（利用Bootstrap自带插件Carousel实现）</h4>
	        	<a class="expLink" href="switch/"></a>
        	</section>
        	
        	<h3 class="r3-title">待改进的效果</h3>
        	<section class="r3-body">
        		<h4 class="r4-title">效果1</h4>
	        	<a class="expLink" href="switch/demos/03/index.html"></a>
        	</section>
        </section>

		<h2 class="r2-title">图片 zoom 效果</h2>
        <section class="r2-body">
        	<a class="expLink" href="zoom/index.html"></a>
        </section>
        
        <h2 class="r2-title">图片 load 效果</h2>
        <section class="r2-body">
        	<h4 class="r4-title">效果1</h4>
        	<a class="expLink" href="load/index.html"></a>
        </section>
        
        <h2 class="r2-title">图片懒加载</h2>
        <section class="r2-body">
        	<a class="expLink" href="load/_pic_load_01.html"></a>
        </section>
        
        <h2 class="r2-title">其它</h2>
        <section class="r2-body">
        	<a target="_blank" href="other/pic01.html">背景图片半透明效果</a>
        </section>
    </div>
</div>
</body>
</html>
