body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-92px;
  width:323px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:159px;
  width:132px;
  height:170px;
}
#u632_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:170px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u632_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u632_state0_content {
  left:-1px;
  top:-1px;
}
.u634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u635 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:5px;
  width:133px;
  height:33px;
  display:flex;
}
.u635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
.u636 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:13px;
  width:16px;
  height:16px;
  display:flex;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
.u636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u636_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
.u636.disabled {
}
.u636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
.u637 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:17px;
  width:8px;
  height:8px;
  display:flex;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
.u637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u637_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
.u637.disabled {
}
.u637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
.u638 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:13px;
  width:50px;
  height:15px;
  display:flex;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
.u638 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u638_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
.u638.disabled {
}
.u638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u633-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:38px;
}
#u633-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:114px;
  height:38px;
}
#u633-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:114px;
  height:38px;
}
#u633-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:114px;
  height:38px;
}
#u633-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:114px;
  height:38px;
}
#u633-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:114px;
  height:38px;
}
#u633-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:228px;
  width:114px;
  height:38px;
}
#u633-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:266px;
  width:114px;
  height:38px;
}
#u633-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:304px;
  width:114px;
  height:38px;
}
#u633-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:342px;
  width:114px;
  height:38px;
}
#u633-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:380px;
  width:114px;
  height:38px;
}
#u633-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:418px;
  width:114px;
  height:38px;
}
#u633-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:456px;
  width:114px;
  height:38px;
}
#u633-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:494px;
  width:114px;
  height:38px;
}
#u633-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:532px;
  width:114px;
  height:38px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:0px;
  width:114px;
  height:570px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:159px;
  width:116px;
  height:170px;
}
#u639_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:170px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-image:none;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u639_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u639_state0_content {
  left:-1px;
  top:-1px;
}
.u641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u642 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:5px;
  width:133px;
  height:33px;
  display:flex;
}
.u642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
.u643 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:13px;
  width:16px;
  height:16px;
  display:flex;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
.u643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u643_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
.u643.disabled {
}
.u643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
.u644 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:17px;
  width:8px;
  height:8px;
  display:flex;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
.u644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u644_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
.u644.disabled {
}
.u644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
.u645 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:13px;
  width:50px;
  height:15px;
  display:flex;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
.u645 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u645_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
}
.u645.disabled {
}
.u645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u640-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:38px;
}
#u640-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:111px;
  height:38px;
}
#u640-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:111px;
  height:38px;
}
#u640-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:111px;
  height:38px;
}
#u640-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:111px;
  height:38px;
}
#u640-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:111px;
  height:38px;
}
#u640-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:228px;
  width:111px;
  height:38px;
}
#u640-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:266px;
  width:111px;
  height:38px;
}
#u640-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:304px;
  width:111px;
  height:38px;
}
#u640-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:342px;
  width:111px;
  height:38px;
}
#u640-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:380px;
  width:111px;
  height:38px;
}
#u640-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:418px;
  width:111px;
  height:38px;
}
#u640-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:456px;
  width:111px;
  height:38px;
}
#u640-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:494px;
  width:111px;
  height:38px;
}
#u640-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:532px;
  width:111px;
  height:38px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:111px;
  height:570px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Normal', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:212px;
  width:37px;
  height:23px;
  display:flex;
  font-family:'Century Gothic Normal', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic Normal', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:244px;
  width:37px;
  height:23px;
  display:flex;
  font-family:'Century Gothic Normal', 'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
