<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YQ-Note纯CSS制作图形背景</title>
    <!--#include virtual="/static/include/_head_import_file2.html" -->
    <link rel="stylesheet" href="bg.css">
</head>
<body>
<!--#include virtual="/static/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<h2 class="r2-title"></h2>
		<section class="r2-body">
			<dl class="sec">
				<dt>椭圆作背景</dt>
				<dd>
					<div class="bg-effect-1">
						<div class="bg-under">
							<div class="shape1"></div>
							<div class="shape2"></div>
						</div>
						<div class="content-area"></div><!-- 这是内容区 -->
					</div>
				</dd>
				<dd class="txt">利用border-radius设置成椭圆，使其作背景。对于椭圆的尺寸，在用PS设计时要记下，方便在此时用</dd>
			</dl>
			<dl class="sec">
				<dt>平等四边形背景</dt>
				<dd>
					<div class="bg-effect-2">
						<div class="bg-under">
							<div class="shape1"></div>
							<div class="shape2"></div>
						</div>
						<div class="content-area"></div><!-- 这是内容区 -->
					</div>
				</dd>
				<dd class="txt">矩形斜切skew作背景</dd>
			</dl>
			<dl class="sec">
				<dt>border-color的妙用</dt>
				<dd>
					<div class="bg-effect-3">
						<div class="bg-under">
							<div class="shape1"></div>
						</div>
						<div class="content-area"></div><!-- 这是内容区 -->
					</div>
				</dd>
			</dl>
			<dl class="sec">
				<dt>CSS 实现漂亮弧形</dt>
				<dd>
					<div class="bg-effect-4">
						<div class="bg-under">
						</div>
						<div class="content-area"></div><!-- 这是内容区 -->
					</div>
				</dd>
			</dl>
		</section>
	</div>
</div>
</body>
</html>
