body{
	font-family: "microsoft yahei";
}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}

/*- 确认消息框 -*/
.mui-popup-title{ /* 也可以用 display:none 实现 */
	height: 0;
	overflow: hidden;
}

/*- 人物列表 -*/
.mui-content .perList:first-child{
	margin-top: 0;
}
.perList li label{
	display: inline-block;
	line-height: 30px;
	margin-left: 10px;
	color: #333333;
	font-size: 0.3rem;
}

/******************************************************
 * 列表与详情
 */

/******************************************************
 * 索引列表
 */
/*- letterList -*/
.letterList,
.letterList.active{
	background-color: transparent;
}
.letterList a,
.letterList.active a{
	color: #CCCCCC;
	font-size: 10px;
}
.letterList a.active,
.letterList.active a.active{
	color: #FF6600;
	font-weight: bold;
}
/******************************************************
 * 上拉刷新与下拉刷新
 */

/******************************************************
 * 窗体切换
 */

/******************************************************
 * 折叠面板
 */


/******************************************************
 * 侧滑菜单
 */

/******************************************************
 * 图片类效果
 ******************************************************/

/* 图片预览
 * ************************/
.imgVWrap li img{
	width: 50px;
}

/* 图片轮播
 * ************************/

/******************************************************
 * 表单form
 ******************************************************/

/* 滑块range
 * ************************/
.mui-input-range label{
	width: auto;
	padding-right: 10px;
	padding-left: 0;
}
.mui-input-range input[type='text']{ /*滑块值输入框*/
	float: none;
	margin-top: 8px;
	width: 40px;
	height: 22px;
	border: 1px solid #CCCCCC;
	padding: 2px 0;
	background-color: #FFFFE8;
	text-align: center;
	font-size: 12px;
}
.mui-input-range input[type='range']::-webkit-slider-thumb /*修改滑块的样式*/
{
	width: 22px;
	height: 22px;
	border: 1px solid #666;
	border-radius: 50%;
	background-color: #FFCE4B;
	background-clip: padding-box;
	-webkit-appearance: none !important;
}
.mui-input-range .mui-tooltip{
	top: -30px;
	width: 50px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
}
.range-value{
	display: inline-block;
	margin-left: 10px;
	width: 40px;
	height: 22px;
	padding: 2px 0;
	border-radius: 3px;
	background-color: #ccc;
	color: #000000;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
}

/* 数字输入框numbox
 * ************************/
.mui-numbox [class*=btn-numbox],
.mui-numbox [class*=btn-numbox]:active{
	font-size: 30px;
	color: #0062CC;
	background-color: #FAFAFA;
}
.mui-numbox [class*=btn-numbox][disabled]{
	background-color: #FAFAFA;
	color: #ccc;
}
.pg-numbox .mui-row span{
	display: block;
	margin-top: 5px;
	color: #666666;
	font-size: 20px;
}

/* switch开关
 * ************************/
.pg-switch li span{
	margin-left: 10px;
	color: #996600;
}

/* 星级star
 * ************************/
.mui-icon-star-filled{
	color: #FF6600;
	font-size: 0.2rem;
}
.PJ-star .mui-icon-star{
	color: #666666;
}
.PJ-star .mui-icon.mui-icon-star-filled{
	color: #FF6600;
}
.PJ-star .mui-icon-star,
.PJ-star .mui-icon-star-filled{
	font-size: 24px;
}
/* 标签tags
 * ************************/
.PJ-tags span{
	display: inline-block;
	margin: 5px 0 0 0;
	border: 1px solid #ddd;
	padding: 1px 5px;
	color: #996600;
	font-size: 12px;
	background-color: #ffffff;
}
.PJ-tags span.selected{
	border-color: #FFFFFF;
	color: #FFFFFF;
}
.PJ-tags .color-1{color: #996600;}
.PJ-tags .color-1.selected{background-color: #996600;}
.PJ-tags .color-2{color: #339900;}
.PJ-tags .color-2.selected{background-color: #339900;}
.PJ-tags .color-3{color: #4686E5}
.PJ-tags .color-3.selected{background-color: #4686E5;}
.PJ-tags .color-4{color: #CE50D3;}
.PJ-tags .color-4.selected{background-color: #CE50D3;}
.PJ-tags .color-5{color: #9DCB00;}
.PJ-tags .color-5.selected{background-color: #9DCB00;}
.PJ-tags .color-6{color: #FFCE4B;}
.PJ-tags .color-6.selected{background-color: #FFCE4B;}

/******************************************************
 * 消息框dialog
 ******************************************************/



/******************************************************
 * 选项卡tab
 ******************************************************/

/* 侧面选项卡-div模式
 * ************************/
.mui-row.mui-fullscreen>[class*="mui-col-"] {
	height: 100%;
}
.mui-col-xs-3,
.mui-control-content {
	overflow-y: auto;
	height: 100%;
}
.mui-segmented-control .mui-control-item {
	line-height: 50px;
	width: 100%;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	background-color: #fff;
}