
@font-face {font-family: "iconfont";
  src: url('iconfont.ttf') format('truetype'); 
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon31:before { content: "\e627"; }

.icon-yonghu1:before { content: "\e69d"; }

.icon-youxiang:before { content: "\e76a"; }

.icon-mima:before { content: "\e63c"; }

.icon-xingxing1:before { content: "\e611"; }

.icon-demo05:before { content: "\e607"; }

