@charset "utf-8";
/* CSS Document */

@import "common.less";


.sec{
	dt{margin:20px 0 10px;font-size:20px;font-weight:normal;font-family:"Microsoft yahei";}
	dd{padding:20px;background-color:#fff;.box-shadow(0,0,3px,3px,rgba(204,204,204,.05));}
	dd.txt{color:#666;}
	h4{font-weight:bold;}
}

/* ------------------------------------------------------- *
 * global
 * ------------------------------------------------------- */
/*h2{margin:0 0 10px;padding:30px 10px 15px;background-color:#769E0F;color:#fc0;}*/
h3{
	margin-top:2em;
	.num{display:inline-block;margin-right:5px;padding:5px;background-color:#B3CF26;color:#fff;font-size:.5em;vertical-align:middle;}
}
h4{margin-top:2em;}

.cblock{
	@color:#33ccff;
	position:relative;height:200px;background-color:@color;overflow:hidden;
	.bg-under{
		position:absolute;z-index:1;width:100%;height:100%;
		.shape1{
			position:absolute;
			width:0;
			height:0;
			border-width:100px 700px;
			border-style:solid;
			border-color:rgba(255,255,255,.4) rgba(255,255,255,.3) rgba(255,255,255,.4) rgba(255,255,255,.3);
		}
	}
	.content-area{
		position:relative;z-index:2;font-family:"迷你简中倩";color:#fff;
		h1{margin-top:40px;font-size:60px;}
		p{font-size:24px;line-height:1em;font-family:"幼圆";color:#fff;}
		
	}
}

/* ------------------------------------------------------- *
 * side
 * ------------------------------------------------------- */
#side{position:relative;}
.fix-side-nav{
	position:fixed;right:2em;bottom:2em;text-align:right;line-height:20px;
	dl{
		margin:5px 0 0;border-top:3px solid #eee;padding-top:5px;
		dt a{
			display:inline-block;padding:0 2px;color:#fff;font-size:12px;font-weight:normal;background-color:#6FDAFE;
			&:hover{color:#000;}
			&::before{content:'// '}
		}
		dd a{
			display:inline-block;padding:0 2px;color:#B2DBF5;font-size:12px;color:#333;
			&:hover{background-color:#333;color:#fff;}
		}
	}
	h5::before{content:'///////////////////';margin-right:5px;color:#999;}
	ul{
		margin:0;
		li{
			a{
				font-size:12px;color:#06f;text-decoration:underline;
				&:hover{color:#000;text-decoration:none;}
			}
		}	
	}
	.toTop{
		margin:5px 0 0;
		a{
			color:#666;text-decoration:none;font-size:12px;font-family:"Comic Sans MS";
			i{top:0;height:10px;overflow:hidden;}
			&:hover{color:#000;}
		}
	}
}

/* ------------------------------------------------------- *
 * note item
 * ------------------------------------------------------- */
.note-item{
	margin:2em 0 0;border:1px solid #eee;padding:20px;
	@shadow:2px 2px 0 0 #fff inset,-2px -2px 0 0 #fff inset;
	.box-shadow-multiple(@shadow);
	h3{
		margin-top:0;font-size:22px;font-weight:normal;
		a{
			color:#333;
			&:hover{color:#0098C9;}
		}
	}
	.note-body{font-size:14px;line-height:2em;color:#666;}
	&:hover{background-color:#fafafa;border-color:#ccc;}
//	.reference a:hover{color:#004D64;}
}
/* ------------------------------------------------------- *
 * code
 * ------------------------------------------------------- */
.title-sec{
	margin-top:2em;color:#000;
	small{font-size:60%;}
	time{margin-left:10px;font-size:.5em;color:#ccc;}
}
.code-title{display:block;margin:2em 0 .5em 0;font-family:"幼圆";}

/* ------------------------------------------------------- *
 * list and table
 * ------------------------------------------------------- */
.list-type-common{margin-right:10px;list-style-type:none;font-family:'FontAwesome';color:#333;}
.display-list-item{display:list-item;}
dl.list{
	margin-left:2em;
	dt{margin:1.5em 0 .5em 0;}
	/*- 字体图标 -*/
	&.lst-square dt::before{&:extend(.list-type-common);content:"\f04d"}
	&.lst-star dt::before{&:extend(.list-type-common);content:"\f005";}
}
ul.list{
	margin-left:2em;
	li{margin:10px 0;}
	/*- 字体图标 -*/
	&.lst-square li::before{&:extend(.list-type-common);content:"\f04d"}
	&.lst-star li::before{&:extend(.list-type-common);content:"\f005";}
	
	/*- list-stype-type自带 -*/
	&.lst-decimal li{&:extend(.display-list-item);list-style-type:decimal;}
	&.lst-upper-roman li{&:extend(.display-list-item);list-style-type:upper-roman;}
	&.lst-cjk-ideographic li{&:extend(.display-list-item);list-style-type:cjk-ideographic;}
	&.lst-decimal-leading-zero li{&:extend(.display-list-item);list-style-type:decimal-leading-zero;}
}

/*@mark-1:dl;@mark-2:dt;
@{mark-1}.list-3{
	margin-left:2em;
	@{mark-2}{margin:1.5em 0 .5em 0;}
	&.lst-square @{mark-2}::before{&:extend(.list-type-common);content:"\f04d"}
	&.lst-star @{mark-2}::before{&:extend(.list-type-common);content:"\f005";}
	
	&.lst-decimal @{mark-2}{&:extend(.display-list-item);list-style-type:decimal;}
	&.lst-cjk-ideographic @{mark-2}{&:extend(.display-list-item);list-style-type:cjk-ideographic;}
	&.lst-decimal-leading-zero @{mark-2}{&:extend(.display-list-item);list-style-type:decimal-leading-zero;}
}*/
table.table-1{
	border:1px solid #ddd;border-collapse:collapse;color:#369;
	th,td{border:1px solid #eee;padding:5px 20px;}
	th{font-size:16px;}
	td{
		&:last-child{font-size:12px;}
		em{display:inline-block;height:16px;line-height:16px;.b-radius(3px);padding:0 5px;background-color:#690;color:#fff;font-style:normal;}
	}
}
/* ------------------------------------------------------- *
 * 情境
 * ------------------------------------------------------- */
//.reference{
//	color:#ccc;font-size:12px;
//	.box-shadow(0,0,2px,1px,#eee;);
//	a{
//		color:#ccc;
//		&:hover{color:#666;}
//	}	
//}
.emphasis{
	color:#C30;
	*{vertical-align:baseline;}
	&::before{display:inline-block;font-family:'FontAwesome';content:"\f06a";}
}
.my-info{
	position:relative;padding:5px 10px 5px 33px;background-color:#FFFF9B;color:#666;font-size:12px;line-height:1.4em;
	&::before{
		position:absolute;
		left:10px;
		top:50%;
		margin-top:-8px;
		content:'\e086';
		font-size:14px;
		color:#717108;
		font-family:'Glyphicons Halflings' ;
	}
}

