@charset "utf-8";
/* CSS Document */
/* CSS Document */
/* 圆角
 * 应用实例：.b-radius(5px);
 *************************************/
/* 只适用于一个阴影的格式 */
/* 一个及以上阴影参数的格式 */
/* 无阴影 */
.box-shadow-none {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* 只适用于一个阴影的格式 */
/* 一个及以上阴影参数的格式 */
/* 无阴影 */
.text-shadow-none {
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  text-shadow: none;
}
/* vertical gradient form top to bottom */
/* horizotal gradient form left to right */
/* 要给0加上单位才能在firefox下正常显示 */
/* 应用于除transform外的其它所有属性 */
/* 仅应用于tranform */
/* 一个及以上过渡效果，不包括transform */
/* 一个及以上转变格式 */
.animation-none {
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}
/* ------------------------------------------------------- *
 * 
 * ------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a:focus,
button,
input {
  outline: none;
}
a:link,
a:hover,
a:focus {
  text-decoration: none;
}
.valignMid * {
  vertical-align: middle;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
/* ------------------------------------------------------- *
 * clearfix
 * ------------------------------------------------------- */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
.pos-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.list-group-item-warning {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
}
body {
  line-height: 1.5em;
  color: #666;
  counter-reset: LN1;
}
article {
  margin-left: 30px;
  width: 800px;
}
p {
  margin-top: 20px;
}
h1.article-title {
  font-size: 30px;
  color: #000;
}
.ttBlock {
  margin-top: 40px;
}
.ttBlock_head {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  font-size: 22px;
  color: #000;
  counter-increment: LN1;
}
.ttBlock_head::before {
  content: counter(LN1, cjk-ideographic);
  margin-right: 10px;
}
.ttBlock_body {
  counter-reset: LN2;
}
/*- ttBlock-list
*********************************************/
.ttBlock-list {
  position: relative;
  margin: 1px 0 0 15px;
  border-left: 2px dotted #ddd;
  padding: 45px 0 0 30px;
}
.ttBlock-list:first-child {
  margin-top: 20px;
  padding-top: 0;
}
.ttBlock-list-icon {
  display: inline-block;
  position: absolute;
  left: -16px;
  top: 40px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #80D96F;
  color: #fff;
  text-align: center;
  line-height: 30px;
  counter-increment: LN2;
}
.ttBlock-list-icon::before {
  content: counter(LN2);
}
.ttBlock-list:first-child .ttBlock-list-icon {
  top: -7px;
}
.ttBlock-list-txt {
  font-size: 16px;
}
.ttBlock-list-media {
  margin-top: 20px;
}
.ttBlock-list-media img {
  display: block;
  max-width: 100%;
}
/*- smlist
*********************************************/
.smlist {
  margin-left: 20px;
}
.smlist li {
  list-style-type: circle;
}
