<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>抽屉式菜单</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/tutorial.less">
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
	<article>
        <h1 class="article-title">抽屉式菜单</h1>
        <p>摘自：<a target="_blank" href="https://wenku.baidu.com/view/26574f30eef9aef8941ea76e58fafab069dc44c7">百度文库/Axure抽屉式菜单</a></p>
        
        <div class="ttBlock">
        	<h2 class="ttBlock_head">注意点</h2>
            <div class="ttBlock_body">
            	<ul class="smlist">
                	<li>选中所有矩形，并转换成动态面板</li>
                    <li>控制可见性切换时，只选择动态面板即可，不要选择该动态面板下的形状</li>
                </ul>
            </div>
        </div>
        
        <div class="ttBlock">
            <h2 class="ttBlock_head">步骤</h2>
            <div class="ttBlock_body">
                <ol class="ttBlock-orderlist">
                    <li class="ttBlock-list">
                        <span class="ttBlock-list-icon">1</span>
                        <div class="ttBlock-list-txt">在元件库中新增四个矩形框，背景颜色填充如下图：</div>
                        <div class="ttBlock-list-media">
                        	<img src="images/01/2017-06-15_131639.jpg" alt="">
                        </div>
                    </li>
                    <li class="ttBlock-list">
                        <span class="ttBlock-list-icon">2</span>
                        <div class="ttBlock-list-txt">选中将三个黄色矩形框，右击转换为动态面板</div>
                        <div class="ttBlock-list-media">
                        	<img src="images/01/2017-06-15_131716.jpg" alt="">
                        </div>
                    </li>
                    <li class="ttBlock-list">
                        <span class="ttBlock-list-icon">3</span>
                        <div class="ttBlock-list-txt">将刚才转换的动态面板命名为”er”,并隐藏该元件。</div>
                        <div class="ttBlock-list-media">
                        	<img src="images/01/2017-06-15_131756.jpg" alt="">
                        </div>
                    </li>
                    <li class="ttBlock-list">
                        <span class="ttBlock-list-icon">4</span>
                        <div class="ttBlock-list-txt">为蓝色区块添加单击时的动作：“显示/隐藏”——选中“er”——可见性选择“切换”——勾选“展开/收起元件”，确定即可。</div>
                        <div class="ttBlock-list-media">
                        	<img src="images/01/2017-06-15_131809.jpg" alt="">
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </article>
</body>
</html>
