<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小知识点</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/tutorial.less">
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
	<article>
        <h1 class="article-title">小知识点</h1>
        
        <div class="ttBlock">
        	<h2 class="ttBlock_head">鼠标悬停于控件时显示为手型</h2>
            <div class="ttBlock_body">
            	<p>除了选择控件可以保持箭头图标，凡是有点击交互动作的部件都会变成手型图标，悬停变化为手型图标的部件几乎没有，如果想要光标变成手形，可以给控件加空的点击事件。</p>
            </div>
        </div>
        
        <div class="ttBlock">
        	<h2 class="ttBlock_head">关于提交按钮</h2>
            <div class="ttBlock_body">
            	<p>提交按钮的填充颜色、边框颜色和其他大多数样式格式都被禁用了。取而代之的是生成原型后在浏览器中它会使用内建的样式。
不过，提交按钮可以改变大小和禁用。如果你想自定义你的按钮样式，请使用 形状按钮 Shape button</p>
            </div>
        </div>
        
    </article>
</body>
</html>
