<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>小知识点</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/global.less">
    <link rel="stylesheet/less" href="/css/tutorial.less">
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
	<article>
        <h1 class="article-title">小知识点</h1>
        
        <div class="ttBlock">
        	<h2 class="ttBlock_head">鼠标悬停于控件时显示为手型</h2>
            <div class="ttBlock_body">
            	<p>除了选择控件可以保持箭头图标，凡是有点击交互动作的部件都会变成手型图标，悬停变化为手型图标的部件几乎没有，如果想要光标变成手形，可以给控件加空的点击事件。</p>
            </div>
        </div>
        
        <div class="ttBlock">
        	<h2 class="ttBlock_head">关于提交按钮</h2>
            <div class="ttBlock_body">
            	<p>提交按钮的填充颜色、边框颜色和其他大多数样式格式都被禁用了。取而代之的是生成原型后在浏览器中它会使用内建的样式。
不过，提交按钮可以改变大小和禁用。如果你想自定义你的按钮样式，请使用 形状按钮 Shape button</p>
            </div>
        </div>
        
        <div class="ttBlock">
        	<h2 class="ttBlock_head">axure选中底层原件的方法</h2>
            <div class="ttBlock_body">
            	<p>axure里经常会出现很多元件层叠，这种情况下如何选中底层元件呢？</p>
                <p>方法：比如你有3层部件，左键点击最上层的，停一小下，再点击左键一下就会选择第二层的了，再停一小下，再点击左键就选第三层的了。。。点->停->点</p>
            </div>
        </div>
        
        <div class="ttBlock">
        	<h2 class="ttBlock_head">格式刷的应用</h2>
            <div class="ttBlock_body">
            	<p>格式刷可以复制元件样式，包括交互样式也可以复制，然后将复制的样式应用到其它元件上，非常方便。</p>
                <ul class="list lst-decimal">
                	<li>选中需要复制样式的控件；</li>
                    <li>点击格式刷（弹出窗口，窗口的样式就是需要复制的控件样式）；</li>
					<li>点击格式刷窗口底下的“复制”按钮；</li>
					<li>选择目标控件；</li>
					<li>点击格式刷窗口底下的“应用”按钮。</li>
                </ul>
            </div>
        </div>
        
    </article>
</body>
</html>
