<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>变量与函数</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/global.less">
    <link rel="stylesheet/less" href="/css/tutorial.less">
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
	<article>
        <h1 class="article-title">变量与函数</h1>
        
        <div class="ttBlock">
        	<h2 class="ttBlock_head">中继器变量</h2>
            <div class="ttBlock_body">
            	<p>pageindex：当前页码。pagecount:总页数。datacount:中继器所有记录数。visibleitemcount:当前页面可见记录数。itemcount:当前加载记录总数（如果中继器无条件的全部加载则itemcount=datacount，如果有条件的加载，则itemcount < datacount）。</p>
            </div>
            <h2 class="ttBlock_head">数字</h2>
            <div class="ttBlock_body">
            	<p>toFixed：指定数字的小数点位数，使用方法：如果n=1.232，[[n.toFixed(2)]]返回值1.23；</p>
                <p>toPrecision：  把数字格式化为指定的长度：如果n=1, [[n. toPrecision (6)]]返回值1.00000。</p>
            </div>
        </div>
                
    </article>
</body>
</html>
