<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>中继器自增效果</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/tutorial.less">
    <script src="/js/less-2.5.3.min.js"></script>
    <script src="/js/default.js"></script>
</head>
<body>
	<article>
        <h1 class="article-title">中继器自增效果</h1>        
        <div class="ttBlock">
            <h2 class="ttBlock_head">步骤</h2>
            <div class="ttBlock_body">
                <ol class="ttBlock-orderlist">
                    <li class="ttBlock-list">
                        <div class="ttBlock-list-txt">选中按钮，为按钮添加事件，如下图：</div>
                        <div class="ttBlock-list-media">
                        	<img src="images/2017-08-20_172237.png">
                        </div>
                    </li>
                    <li class="ttBlock-list">
                        <div class="ttBlock-list-txt">中继器的名称为table2-list，为该中继器添加行。</div>
                        <div class="ttBlock-list-media">
                        	<img src="images/2017-08-20_172519.png">
                        </div>
                    </li>
                    <li class="ttBlock-list">
                        <div class="ttBlock-list-txt">按下面编辑事件内容（下面中的itemCount也可以改成dataCount）</div>
                        <div class="ttBlock-list-media">
                        	<img src="images/2017-08-20_172720.png">
                        </div>
                    </li>
                    <li class="ttBlock-list">
                        <div class="ttBlock-list-txt">最终效果如下图，随着中继器的自增，序号也会自增。</div>
                        <div class="ttBlock-list-media">
                        	<img src="images/2017-08-20_172852.png">
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </article>
</body>
</html>
