<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/css/iconfont.css" rel="stylesheet">
	<link href="/css/default.less" rel="stylesheet/less">
    <script src="/js/less-2.5.3.min.js"></script>
	<script src="/js/jquery-1.11.3.min.js" type="text/javascript"></script>
	<script src="/js/default.js" type="text/javascript"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
    <div id="wside"></div>
	<div id="wmain">
		<h2 class="r2-title">准备工作</h2>
		<section class="r2-body">
			以下为建好的效果图：
			<img src="images/screenPics/sc040.jpg" />
			学生列表（动态面板）、学生列表（中继器）；<br>
			<strong>分页类元件：</strong>上一页（矩形）、下一页（矩形）、当前页数（矩形）、总页数（矩形）、学生总数（矩形）；<br>
			<strong>筛选类元件：</strong>姓名（下拉列表）、性别（下拉列表）、手机号码（文本框）、检索（矩形）；<br>
			<strong>排序类元件：</strong>请看下图
			<img src="images/screenPics/sc041.jpg" />
		</section>
		
    	<h2 class="r2-title">分页功能</h2>
        <section class="r2-body">
        	学生列表（中继器）载入时：
        	<ul class="list-decimal">
        		<li>设置每页显示的学生数量为10</li>
        		<li>设置当前页数、总页数、学生总数</li>
        	</ul>
        	<img src="images/screenPics/sc042.jpg" />
        	<img src="images/screenPics/sc043.jpg" />
        	<img src="images/screenPics/sc044.jpg" />
        	<img src="images/screenPics/sc045.jpg" />
        	点击下一页时：
        	<img src="images/screenPics/sc046.jpg" />
        	点击上一页时：
        	<img src="images/screenPics/sc047.jpg" />
        </section>
        
        <h2 class="r2-title">筛选功能</h2>
        <section class="r2-body">
        	点击检索按钮时：
        	<img src="images/screenPics/sc048.jpg" />
        	<img src="images/screenPics/sc049.jpg" />
        	<img src="images/screenPics/sc050.jpg" />
        	<img src="images/screenPics/sc051.jpg" />
        </section>
        
        <h2 class="r2-title">排序功能</h2>
        <section class="r2-body">
        	以姓名为例（性别和出生日期的排序也是如此做）：
        	<img src="images/screenPics/sc052.jpg" />
        	<img src="images/screenPics/sc053.jpg" />
        	<img src="images/screenPics/sc054.jpg" />
        	设置出生日期为默认排序
        	<img src="images/screenPics/sc055.jpg" />
        </section>
        
        <h2 class="r2-title">完成</h2>
        <section class="r2-body">
        	至此，列表的分页、筛选、排序功能制作完成
        </section>
   </div>
</div>
    
</body>
</html>
