<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/css/iconfont.css" rel="stylesheet">
	<link href="/css/default.less" rel="stylesheet/less">
    <script src="/js/less-2.5.3.min.js"></script>
	<script src="/js/jquery-1.11.3.min.js" type="text/javascript"></script>
	<script src="/js/default.js" type="text/javascript"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
    <div id="wside"></div>
	<div id="wmain">
    	<h2 class="r2-title">根据不同的条件设置文字状态</h2>
        <section class="r2-body">
        	<h3 class="r3-title">效果图</h3>
        	<img src="images/screenPics/sc072.jpg" />
        	<h3 class="r3-title">实现步骤</h3>
        	如下图，除了在判断条件中根据不同的条件设置 ZhuangTai 外，在 If True 条件中也要设置 ZhuangTai；
        	<img src="images/screenPics/sc075.jpg" />
        	<img src="images/screenPics/sc071.jpg" />
        	添加判断条件
        	<img src="images/screenPics/sc073.jpg" />
        	编辑富文本
        	<img src="images/screenPics/sc074.jpg" />
        </section>
   </div>
</div>
    
</body>
</html>
