<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AXURE</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/global.less">
    <script src="/js/less-2.5.3.min.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>
	<!--#include virtual="/include/_header.html" -->
	<div id="wrap">
    	<div id="list"></div>
    	<a class="expLink" href="/plugIn/AxureDemo/start.html"></a>
    </div>
    <script type="text/javascript">
		loadXML("/include/FL-AXURE.xml","#list");
	</script>
</body>
</html>
