<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AXURE</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/global.less">
    <script src="/js/less-2.5.3.min.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>
	<!--#include virtual="/include/_header.html" -->
    <div class="cblock">
    	<div class="bg-under">
        	<div class="shape1"></div>
        </div>
        <div class="container content-area">
        	<h1>AXURE</h1>
        </div>
    </div>
	<div class="container">
    	<div class="row">
        	<div class="col-md-9" role="main">
                <div class="note-item">
                	<h3><a href="alignment.html">各类菜单的制作方法</a></h3>
                    <div class="note-body">
                    	<ul>
                        	<li>
                            	<a target="_blank" href="_article01.html">抽屉式菜单</a>
                            </li>
                            <li>
                            	<a target="_blank" href="_article02.html">鼠标悬停于控件时显示为手型</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="side">
            	<div class="fix-side-nav">
                	
                    <p class="toTop"><a href="#"><i class="icon-circle-arrow-up"></i>TOP</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
