@charset "utf-8";
/* CSS Document */
/* CSS Document */
/* CSS Document */
/* ------------------------------------------------------- *
 * 
 * ------------------------------------------------------- */
/* 只适用于一个阴影的格式 */
/* 一个及以上阴影参数的格式 */
/* 无阴影 */
.box-shadow-none {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* 只适用于一个阴影的格式 */
/* 一个及以上阴影参数的格式 */
/* 无阴影 */
.text-shadow-none {
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  text-shadow: none;
}
/* vertical gradient form top to bottom */
/* horizotal gradient form left to right */
/* 要给0加上单位才能在firefox下正常显示 */
/* 应用于除transform外的其它所有属性 */
/* 仅应用于tranform */
/* 一个及以上过渡效果，不包括transform */
/* 一个及以上转变格式 */
.animation-none {
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}
/* ------------------------------------------------------- *
 * 
 * ------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a:focus,
button,
input {
  outline: none;
}
a:link,
a:hover,
a:focus {
  text-decoration: none;
}
.valignMid * {
  vertical-align: middle;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
/* ------------------------------------------------------- *
 * clearfix
 * ------------------------------------------------------- */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
.pos-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.list-group-item-warning {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
}
body {
  font-family: "Microsoft yahei", "Courier New", monospace;
  line-height: 1.8em;
}
.sec dt {
  margin: 20px 0 10px;
  font-size: 20px;
  font-weight: normal;
  font-family: "Microsoft yahei";
}
.sec dd {
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px 3px rgba(204, 204, 204, 0.05);
  -moz-box-shadow: 0 0 3px 3px rgba(204, 204, 204, 0.05);
  box-shadow: 0 0 3px 3px rgba(204, 204, 204, 0.05);
}
.sec dd.txt {
  color: #666;
}
.sec h4 {
  font-weight: bold;
}
/* ------------------------------------------------------- *
 * global
 * ------------------------------------------------------- */
h2 {
  margin: 0 0 10px;
  padding: 30px 10px 15px;
  background-color: #769E0F;
  color: #fc0;
}
h3 {
  margin-top: 2em;
}
h3 .num {
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
  background-color: #B3CF26;
  color: #fff;
  font-size: .5em;
  vertical-align: middle;
}
h4 {
  margin-top: 2em;
}
#header {
  background-color: #000;
  font-family: "Comic Sans MS";
}
#header nav.navbar {
  margin-bottom: 0;
  min-height: inherit;
}
#header nav.navbar .navbar-header .navbar-toggle {
  margin: 2px 15px 2px 0;
  padding: 6px;
}
#header nav.navbar .navbar-header .navbar-brand {
  height: auto;
  padding: 5px 15px 0;
  font-size: 2em;
}
#header nav.navbar ul {
  margin: 0;
}
#header nav.navbar ul li {
  display: inline-block;
}
#header nav.navbar ul li a {
  display: inline-block;
  padding: 8px 10px;
  color: #fff;
  font-size: 14px;
}
#header nav.navbar ul li a:hover {
  background-color: #555;
}
.cblock {
  position: relative;
  height: 200px;
  background-color: #33ccff;
  overflow: hidden;
}
.cblock .bg-under {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.cblock .bg-under .shape1 {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 100px 700px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.3);
}
.cblock .content-area {
  position: relative;
  z-index: 2;
  font-family: "迷你简中倩";
  color: #fff;
}
.cblock .content-area h1 {
  margin-top: 40px;
  font-size: 60px;
}
.cblock .content-area p {
  font-size: 24px;
  line-height: 1em;
  font-family: "幼圆";
  color: #fff;
}
#footer {
  margin-top: 20px;
  padding: 20px;
  background-color: #f2f2f2;
}
#footer li {
  display: inline-block;
  margin: 10px;
}
#footer li a {
  color: #999;
  font-size: 12px;
  font-family: "Courier New";
}
#footer li a:hover {
  color: #333;
}
/* ------------------------------------------------------- *
 * side
 * ------------------------------------------------------- */
#side {
  position: relative;
}
.fix-side-nav {
  position: fixed;
  right: 2em;
  bottom: 2em;
  text-align: right;
  line-height: 20px;
}
.fix-side-nav dl {
  margin: 5px 0 0;
  border-top: 3px solid #eee;
  padding-top: 5px;
}
.fix-side-nav dl dt a {
  display: inline-block;
  padding: 0 2px;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  background-color: #6FDAFE;
}
.fix-side-nav dl dt a:hover {
  color: #000;
}
.fix-side-nav dl dt a::before {
  content: '// ';
}
.fix-side-nav dl dd a {
  display: inline-block;
  padding: 0 2px;
  color: #B2DBF5;
  font-size: 12px;
  color: #333;
}
.fix-side-nav dl dd a:hover {
  background-color: #333;
  color: #fff;
}
.fix-side-nav h5::before {
  content: '///////////////////';
  margin-right: 5px;
  color: #999;
}
.fix-side-nav ul {
  margin: 0;
}
.fix-side-nav ul li a {
  font-size: 12px;
  color: #06f;
  text-decoration: underline;
}
.fix-side-nav ul li a:hover {
  color: #000;
  text-decoration: none;
}
.fix-side-nav .toTop {
  margin: 5px 0 0;
}
.fix-side-nav .toTop a {
  color: #666;
  text-decoration: none;
  font-size: 12px;
  font-family: "Comic Sans MS";
}
.fix-side-nav .toTop a i {
  top: 0;
  height: 10px;
  overflow: hidden;
}
.fix-side-nav .toTop a:hover {
  color: #000;
}
/* ------------------------------------------------------- *
 * note item
 * ------------------------------------------------------- */
.note-item {
  margin: 2em 0 0;
  border: 1px solid #eee;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 0 0 #ffffff inset, -2px -2px 0 0 #ffffff inset;
  -moz-box-shadow: 2px 2px 0 0 #ffffff inset, -2px -2px 0 0 #ffffff inset;
  box-shadow: 2px 2px 0 0 #ffffff inset, -2px -2px 0 0 #ffffff inset;
}
.note-item h3 {
  margin-top: 0;
  font-size: 22px;
  font-weight: normal;
}
.note-item h3 a {
  color: #333;
}
.note-item h3 a:hover {
  color: #0098C9;
}
.note-item .note-body {
  font-size: 14px;
  line-height: 2em;
  color: #666;
}
.note-item:hover {
  background-color: #fafafa;
  border-color: #ccc;
}
.note-item .reference a:hover {
  color: #004D64;
}
/* ------------------------------------------------------- *
 * code
 * ------------------------------------------------------- */
.title-sec {
  margin-top: 2em;
  color: #000;
}
.title-sec small {
  font-size: 60%;
}
.title-sec time {
  margin-left: 10px;
  font-size: .5em;
  color: #ccc;
}
.code-title {
  display: block;
  margin: 2em 0 .5em 0;
  font-family: "幼圆";
}
.code-box {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -ms-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}
.code-box pre {
  margin: 0;
  border: 0;
  background-color: #000000;
  -webkit-transition: background-color 0.5s ease 0s;
  -moz-transition: background-color 0.5s ease 0s;
  -ms-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}
.code-box pre.line-numbers {
  margin: 0 0 0 -30px;
}
.code-box pre code {
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  color: #fff;
}
.code-box pre code .token.comment {
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  text-shadow: none;
}
.code-box .annotation {
  display: inline-block;
  color: #aaa;
  font-size: 12px;
}
.code-box:hover,
.code-box:hover pre {
  background-color: #555;
}
/* ------------------------------------------------------- *
 * list and table
 * ------------------------------------------------------- */
.list-type-common,
dl.list.lst-square dt::before,
dl.list.lst-star dt::before,
ul.list.lst-square li::before,
ul.list.lst-star li::before {
  margin-right: 10px;
  list-style-type: none;
  font-family: 'FontAwesome';
  color: #333;
}
.display-list-item,
ul.list.lst-decimal li,
ul.list.lst-upper-roman li,
ul.list.lst-cjk-ideographic li,
ul.list.lst-decimal-leading-zero li {
  display: list-item;
}
dl.list {
  margin-left: 2em;
  /*- 字体图标 -*/
}
dl.list dt {
  margin: 1.5em 0 .5em 0;
}
dl.list.lst-square dt::before {
  content: "\f04d";
}
dl.list.lst-star dt::before {
  content: "\f005";
}
ul.list {
  margin-left: 2em;
  /*- 字体图标 -*/
  /*- list-stype-type自带 -*/
}
ul.list li {
  margin: 10px 0;
}
ul.list.lst-square li::before {
  content: "\f04d";
}
ul.list.lst-star li::before {
  content: "\f005";
}
ul.list.lst-decimal li {
  list-style-type: decimal;
}
ul.list.lst-upper-roman li {
  list-style-type: upper-roman;
}
ul.list.lst-cjk-ideographic li {
  list-style-type: cjk-ideographic;
}
ul.list.lst-decimal-leading-zero li {
  list-style-type: decimal-leading-zero;
}
/*@mark-1:dl;@mark-2:dt;
@{mark-1}.list-3{
	margin-left:2em;
	@{mark-2}{margin:1.5em 0 .5em 0;}
	&.lst-square @{mark-2}::before{&:extend(.list-type-common);content:"\f04d"}
	&.lst-star @{mark-2}::before{&:extend(.list-type-common);content:"\f005";}
	
	&.lst-decimal @{mark-2}{&:extend(.display-list-item);list-style-type:decimal;}
	&.lst-cjk-ideographic @{mark-2}{&:extend(.display-list-item);list-style-type:cjk-ideographic;}
	&.lst-decimal-leading-zero @{mark-2}{&:extend(.display-list-item);list-style-type:decimal-leading-zero;}
}*/
table.table-1 {
  border: 1px solid #ddd;
  border-collapse: collapse;
  color: #369;
}
table.table-1 th,
table.table-1 td {
  border: 1px solid #eee;
  padding: 5px 20px;
}
table.table-1 th {
  font-size: 16px;
}
table.table-1 td:last-child {
  font-size: 12px;
}
table.table-1 td em {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 5px;
  background-color: #690;
  color: #fff;
  font-style: normal;
}
/* ------------------------------------------------------- *
 * 情境
 * ------------------------------------------------------- */
.reference {
  color: #ccc;
  font-size: 12px;
  -webkit-box-shadow: 0, 0, 2px, 1px, #eeeeee 0 0 0 #cccccc;
  -moz-box-shadow: 0, 0, 2px, 1px, #eeeeee 0 0 0 #cccccc;
  box-shadow: 0, 0, 2px, 1px, #eeeeee 0 0 0 #cccccc;
}
.reference a {
  color: #ccc;
}
.reference a:hover {
  color: #666;
}
.emphasis {
  color: #C30;
}
.emphasis * {
  vertical-align: baseline;
}
.emphasis::before {
  display: inline-block;
  font-family: 'FontAwesome';
  content: "\f06a";
}
.my-info {
  position: relative;
  padding: 5px 10px 5px 33px;
  background-color: #FFFF9B;
  color: #666;
  font-size: 12px;
  line-height: 1.4em;
}
.my-info::before {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -8px;
  content: '\e086';
  font-size: 14px;
  color: #717108;
  font-family: 'Glyphicons Halflings';
}
.tag-group {
  margin: 10px 0;
}
.tag-group a {
  display: inline-block;
  margin: 5px 0;
  height: 22px;
  border: 1px solid #eee;
  line-height: 22px;
  padding: 0 10px;
  font-size: 12px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.tag-group a.color-1:hover,
.tag-group a.color-2:hover,
.tag-group a.color-3:hover,
.tag-group a.color-4:hover,
.tag-group a.color-5:hover,
.tag-group a.color-6:hover,
.tag-group a.color-7:hover,
.tag-group a.color-8:hover {
  -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(1.3, 1.3);
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
}
.tag-group a.color-1 {
  color: #94ccff;
}
.tag-group a.color-1:hover {
  background-color: #94ccff;
  color: #0075e1;
}
.tag-group a.color-2 {
  color: #00b800;
}
.tag-group a.color-2:hover {
  background-color: #00b800;
  color: #000600;
}
.tag-group a.color-3 {
  color: #ff9b3b;
}
.tag-group a.color-3:hover {
  background-color: #ff9b3b;
  color: #884200;
}
.tag-group a.color-4 {
  color: #3bd8ff;
}
.tag-group a.color-4:hover {
  background-color: #3bd8ff;
  color: #006d88;
}
.tag-group a.color-5 {
  color: #9ba30a;
}
.tag-group a.color-5:hover {
  background-color: #9ba30a;
  color: #000000;
}
.tag-group a.color-6 {
  color: #da75fd;
}
.tag-group a.color-6:hover {
  background-color: #da75fd;
  color: #8d03bd;
}
.tag-group a.color-7 {
  color: #999999;
}
.tag-group a.color-7:hover {
  background-color: #999999;
  color: #404040;
}
.tag-group a.color-8 {
  color: #ff79b2;
}
.tag-group a.color-8:hover {
  background-color: #ff79b2;
  color: #c60054;
}
body {
  background: url(/views/pics/images/bg.jpg) repeat;
  color: #f8f8f8;
}
.topbar {
  background-color: rgba(0, 0, 0, 0.15);
}
.topbar h2 {
  background-color: transparent;
}
.code-box:hover,
.code-box:hover pre {
  background-color: #333;
}
