@charset "utf-8";
/* CSS Document */
@import "/css/global.less";

body{background:url(/views/pics/images/bg.jpg) repeat;color:#f8f8f8;}
.topbar{
	background-color:rgba(0,0,0,.15);
	h2{background-color:transparent;}
}
.code-box:hover, .code-box:hover pre{background-color:#333;}
.fix-side-nav .toTop a{color:#000;}