@charset "utf-8";
/* CSS Document */

@import "pics.less";

.pic-switch-warp{}

/*************** Bootstrap Carousel/ps-01 *******************/
.ps-01{
	.carousel-caption{
		.text-shadow-none;background-color:rgba(0,0,0,.1);
		h3{margin:10px 0 10px;font-size:30px;text-transform: uppercase;color:#000;.text-shadow(0,1px,0,rgba(255,255,255,.5));}
		p{font-size:24px;color:#333;.text-shadow(0,1px,0,rgba(255,255,255,.3));}
	}
	
}