<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>表单类效果</title>
    <!--#include virtual="/static/include/_head_import_file2.html" -->
	<link href="css/form.css" rel="stylesheet">
</head>
<body>
	<div id="wrap">
    	<!--#include virtual="_form_01.html" -->
    	<!--#include virtual="_form_03.html" -->
    	<!--#include virtual="_form_02.html" -->
    </div>
    <script type="text/javascript">
	    //添加TOP
		addArticleTop();
	</script>
</body>
</html>
