<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>表单类效果</title>
    <link href="/css/iconfont.css" rel="stylesheet">
	<link href="/css/default.css" rel="stylesheet">
	<link href="css/form.css" rel="stylesheet">
	<script src="/js/jquery-1.11.3.min.js"></script>
	<script src="/js/default.js"></script>
</head>
<body>
	<div id="wrap">
    	<!--#include virtual="_form_01.html" -->
    	<!--#include virtual="_form_03.html" -->
    	<!--#include virtual="_form_02.html" -->
    </div>
    <script type="text/javascript">
	    //添加TOP
		addArticleTop();
	</script>
</body>
</html>
