body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:587px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:587px;
  height:148px;
}
#u1246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:34px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:34px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1246 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:34px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:0px;
  width:169px;
  height:34px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1247 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:0px;
  width:82px;
  height:34px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1248 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:34px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:0px;
  width:162px;
  height:34px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1249 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:174px;
  height:36px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1250 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:36px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:34px;
  width:169px;
  height:36px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1251 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:34px;
  width:82px;
  height:36px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1252 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:34px;
  width:162px;
  height:36px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1253 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:174px;
  height:36px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1254 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:36px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:70px;
  width:169px;
  height:36px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1255 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:70px;
  width:82px;
  height:36px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1256 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:70px;
  width:162px;
  height:36px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1257 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:42px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:174px;
  height:42px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1258 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:106px;
  width:169px;
  height:42px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1259 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:106px;
  width:82px;
  height:42px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1260 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:42px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:106px;
  width:162px;
  height:42px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1261 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
