<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MOBILE</title>
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/default.css" rel="stylesheet" />
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/prism.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<!--#include virtual="/include/_header.html" -->
    <div class="container">
        <a href="_article01.html">移动web开发之像素和DPR</a><br />
        <a href="mob1.html">手机端页面自适应解决方案</a><br />
        <a href="mob2.html">手机分辨率</a>
        
        <h3>jquerymobile</h3>
        <a href="jquerymobile/index.html">jquerymobile</a><br />
        
        <h3>MUI</h3>
        <a href="HBuilder/_article01.html">HBuilder导入项目</a><br />
        <a href="mui/winAct.html">对页面/窗口的操作</a><br />
        <a href="mui/winPara.html">页面传参</a><br />
        <a href="mui/zujian.html">MUI组件</a><br />
        <a href="mui/zjCCss.html">mui组件通用CSS类</a><br />
        <a href="mui/mui001.html">屏幕旋转、如何去掉滚动条、返回到指定页面</a><br />
        <a href="mui/mui002.html">奇怪的问题</a><br />
    </div>
</body>
</html>
