@charset "utf-8";

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
li{list-style-type:none;}
img{border:0;}
*{outline:none;}

.picScrollSec{padding:30px 0;font-family:"Microsoft yahei";}
.container_image{width:1180px;height:530px;margin:0 auto;position:relative;}
.container_image .i_btn{display:block;width:43px;height:115px;position:absolute;top:50%;margin-top:-58px;z-index:3;}
.container_image .i_btn:hover{background-color:#f3f3f3;opacity:0.5;filter:alpha(opacity=50);}
.container_image .prev_L{left:0;background:url(images/icon-arrow-l.png) no-repeat center center;}
.container_image .next_R{right:0;background:url(images/icon-arrow-r.png) no-repeat center center;}
.container_image .slide_img {margin-left:65px;width:880px;height:400px;position:relative;z-index:1;}
.container_image .slide_img li{
	width:290px;
	height:380px;
	padding:10px 0;
	overflow:hidden;
	position:absolute;
	top:15px;
	background:#eee;
	text-align:center;
	-webkit-box-shadow:0 0 5px 1px rgba(227,225,225,.2);
	-moz-box-shadow:0 0 5px 1px rgba(227,225,225,.2);
	box-shadow:0 0 5px 1px rgba(227,225,225,.2);
	-webkit-filter:brightness(.8);
	-moz-filter:brightness(.8);
	filter:brightness(.8);
}
.container_image .slide_img li a.imgbox{display:block;position:relative;margin:10px 0 20px;width:100%;height:200px;overflow:hidden;}
.container_image .slide_img li a.imgbox img{width:100%;}
.container_image .slide_img li.on a.imgbox{margin:20px 0 30px;height:300px;}
.container_image .slide_img li.on{
	width:450px;
	left:190px;
	left:190px;
	top:0;
	border:2px solid #f2b701;
	padding:20px 0;
	-webkit-box-shadow:0 0 15px 1px rgba(227,225,225,.75);
	-moz-box-shadow:0 0 15px 1px rgba(227,225,225,.75);
	box-shadow:0 0 15px 1px rgba(227,225,225,.75);
	overflow:hidden;
	background-color:#fff;
	-webkit-filter:brightness(1);
	-moz-filter:brightness(1);
	filter:brightness(1);
}
.container_image .slide_img li.left{left:0;}
.container_image .slide_img li.right{left:760px;}
.container_image .slide_img li.mid{left:300px;}
.container_image .slide_img li label{display:block;margin-bottom:0;font-size:20px;color:#666;font-weight:normal;}
.container_image .slide_img li.on label{margin-bottom:0;font-size:30px;}
.container_image .slide_img li span{font-size:12px;color:#999;}
.container_image .slide_img li.on span{font-size:18px;}
.container_image .slide_img li a.btn_detail{
	display:inline-block;
	font-size:14px;
	color:#666;
	border:1px solid #666;
	padding:2px 15px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.container_image .slide_img li.on a.btn_detail{
	font-size:20px;
	color:#fff;
	border:0;
	padding:6px 25px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	background-color:#086ebc;
}

