<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YQ-Note纯CSS制作的图形效果</title>
    <link rel="stylesheet/less" href="/css/iconfont.css">
	<link rel="stylesheet/less" href="/css/default.less">
    <link rel="stylesheet/less" href="shape.less">
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/less-2.5.3.min.js"></script>
    <script src="/js/default.js"></script>
</head>
<body>
    <!--#include virtual="/include/_header.html" -->
    <div id="wrap">
        <dl class="sec">
            <dt>前人总结好的</dt>
            <dd>
            	<div>
                	<h4>网址一</h4>
                    <p>包含很多形状，如三角形、椭圆、扇形、半圆、平行四边形、星形、心形、对话泡泡、太极图等</p>
            		<a target="_blank" href="http://www.w3cplus.com/css/create-shapes-with-css">点击查看</a>
                </div>
                <div class="mt20">
                	<h4>网址三：斜切角</h4>
                    <p>直接点击下面查看吧！</p>
                	<a target="_blank" href="http://www.w3cplus.com/css3/css-secrets/cutout-corners.html">点击查看</a>
                </div>
            </dd>
        </dl>
    </div>
</body>
</html>
