body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:587px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:587px;
  height:148px;
}
#u1311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:34px;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:34px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1311 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:34px;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:0px;
  width:169px;
  height:34px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1312 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:0px;
  width:82px;
  height:34px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1313 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:34px;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:0px;
  width:162px;
  height:34px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1314 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:174px;
  height:36px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1315 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:36px;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:34px;
  width:169px;
  height:36px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1316 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:34px;
  width:82px;
  height:36px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1317 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:34px;
  width:162px;
  height:36px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1318 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:174px;
  height:36px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1319 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:36px;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:70px;
  width:169px;
  height:36px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1320 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:70px;
  width:82px;
  height:36px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1321 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:36px;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:70px;
  width:162px;
  height:36px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1322 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:42px;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:174px;
  height:42px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1323 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:42px;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:106px;
  width:169px;
  height:42px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1324 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:106px;
  width:82px;
  height:42px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1325 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:42px;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:106px;
  width:162px;
  height:42px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u1326 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
