<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <!--#include virtual="/static/include/_head_import_file2.html" -->
    <link rel="stylesheet/less" href="/static/css/global.css">
</head>
<body>
<!--#include virtual="/static/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain" style="width: 1000px;">
        <h2 class="r2-title">登录用户不是该小程序的开发者</h2>
        <section class="r2-body">
            <p>解决登录用户不是该小程序的开发者的方法：将开发小程序的APPID改成小程序的APPID即可</p>
            <img class="screenPics" src="../images/screenPics/sc004.png" />
            <img class="screenPics" src="../images/screenPics/sc005.png" />
        </section>
        
        <h2 class="r2-title">更改appid失败</h2>
        <section class="r2-body">
            <p>uniapp运行到微信开发者工具报错“更改appid失败touristappidError:tourist appid”</p>
            <h3 class="r4-title">解决方法</h3>
            <p>找到文件 manifest.json, 点击“源码视图”, 找到微信小程序节点, 设置 "appid" 后, 完全关闭微信开发者工具再次通过HBuilder启动, 即可完美解决</p>
            <img class="screenPics" src="../images/screenPics/sc001.png" />
        </section>

        <h2 class="r2-title">uni.hideLoading隐藏toast弹窗</h2>
        <section class="r2-body">
            <h3 class="r4-title">问题描述</h3>
            <p>当wx.showLoading 和 wx.showToast 混合使用时，showLoading和showToast会相互覆盖对方，调用hideLoading时也会将toast弹窗隐藏掉。（微信开发者工具中是正常的，只有真机中会出现这种问题）</p>
            <h3 class="r4-title">原因</h3>
            <p>这个问题的出现，其实是因为小程序将Toast和Loading放到同一层渲染引起的</p>
            <h3 class="r4-title">解决方法</h3>
            <a class="ref" href="https://developers.weixin.qq.com/community/develop/article/doc/0004a4d49d0e883b13692633c51013"></a>
        </section>
    </div>
</div>
</body>
</html>
