@charset "gb2312";
/* CSS Document */

body{
	font-family:"ו",Arial, Helvetica, sans-serif ;
	line-height:18px;
	color:#333;
	font-size:14px;
}

body,h1,h2,h3,h4,h5,h6,div,p,ul,ol,li,dl,dt,dd,hr,form{margin:0; padding:0;}
li{list-style-type:none;}
img{border:0;}
.valignMid *{vertical-align:middle;}
.valignTop *{vertical-align:top;}
.cursorP{cursor:pointer;}


a{text-decoration:none;color:#333;}
a.udline{text-decoration:underline;}
a.noUndline{text-decoration:none;}
a:hover{color:#c00;text-decoration:underline;}

.fl{float:left;}
.fr{float:right;}

.lineH17{line-height:17px;}
.lineH22{line-height:22px;}
.lineH24{line-height:24px;}
.lineH26{line-height:26px;}
.lineH30{line-height:30px;}
.lineH36{line-height:36px;}

.fontBold{font-weight:bold;}

.fontS11{font-size:11px;}
.fontS12{font-size:12px;}
.fontS13{font-size:13px;}
.fontS14{font-size:14px;}
.fontS16{font-size:16px;}
.fontS18{font-size:18px;}
.fontS20{font-size:20px;}
.fontS24{font-size:24px;}
.fontS30{font-size:30px;}

.fontC01, .fontC01:visited{color:#999;}
.fontC02, .fontC02:visited{color:#666;}
.fontC03, .fontC03:visited{color:#000;}
.fontC04, .fontC04:visited{color:#c00;}
.fontC05, .fontC05:visited{color:#bbb;}
.fontC06, .fontC06:visited{color:#ff7200;}
.fontC07, .fontC07:visited{color:#06c;}
.fontC08, .fontC08:visited{color:#715b48;}
.fontC09, .fontC09:visited{color:#469bc3;}
.fontC10, .fontC10:visited{color:#fff;}

.fontF01{font-family:"Microsoft yahei";}

.mb5{margin-bottom:5px;}
.mb8{margin-bottom:8px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb50{margin-bottom:50px;}

.mt1{margin-top:1px;}
.mt5{margin-top:5px;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
.mt80{margin-top:80px;}
.mt100{margin-top:100px;}

.ml1{margin-left:1px;}
.ml0{margin-left:0px;}
.ml5{margin-left:5px;}
.ml8{margin-left:8px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml50{margin-left:50px;}
.ml125{margin-left:125px;}

.mr1{margin-right:1px;}
.mr5{margin-right:5px;}
.mr8{margin-right:8px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}

.pt8{padding-top:8px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}

.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}


.pl10{padding-left:10px;}
.pl20{padding-left:20px;}
.pl45{padding-left:45px;}
.pl150{padding-left:150px;}
.pl280{padding-left:280px;}

.pr10{padding-right:10px;}
.pr20{padding-right:20px;}

.w100{width:100px;}
.w200{width:200px;}
.w250{width:250px;}

input.editbox,textarea,select{
	border:1px solid #ccc;
	padding:4px 3px;
	color:#333;
	font-size:14px;
}
/* ------------------------------------------------------- *
 * clearfix
 * ------------------------------------------------------- */
.cb{
	visibility:hidden;
	height:1px;
	border:none;
	clear:both;
	font-size:0;
	line-height:0;
	overflow:hidden;
}
.clear{clear:both;}
.clearfix:after{
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.clearfix{
  display:inline-block;
  overflow:hidden;
}
.clearfix{display: block;}

/* topagetop
 * ------------------------------ */
html {  
    _background: url(about:black) no-repeat fixed;
} 
#fix_block{
	position:fixed;
	right:0;
	bottom:20px;
	_width:40px;
	_position:absolute;
	_top:expression(documentElement.scrollTop + documentElement.clientHeight * 3/4 - 150 + "px")
}
#fix_block li{
	display:block;
	width:40px;
	*vertical-align:bottom;
}
#fix_block li a{
	display:block;
	width:40px;
	height:40px;
	cursor:pointer;
	overflow:hidden;
}
#fix_block li#gototop{display:none;margin-top:5px;}
#fix_block li#gototop a{background:url(../images/gotop.jpg) no-repeat 0 0;}
#fix_block li#gototop a:hover{background-position:0 -40px;}

#fix_block li#qq a,
#fix_block li#release a,
#fix_block li#weibo_xl a,
#fix_block li#weixin a,
#fix_block li#kehuduan a,
#fix_block li#survey a{
	background:url(../images/iconG10.jpg) no-repeat;
}
#fix_block li#qq a{margin-bottom:5px;background-position:0 0;}
#fix_block li#qq a:hover{background-position:-42px 0;}

#fix_block li#release a{height:39px;background-position:0 -45px;}
#fix_block li#release a:hover{background-position:-42px -45px;}

#fix_block li#weibo_xl a{height:39px;background-position:0 -84px;}
#fix_block li#weibo_xl a:hover{background-position:-42px -84px;}

#fix_block li#weixin a{height:39px;background-position:0 -123px;}
#fix_block li#weixin a:hover{background-position:-42px -123px;}

#fix_block li#kehuduan a{height:39px;background-position:0 -162px;}
#fix_block li#kehuduan a:hover{background-position:-42px -162px;}

#fix_block li#survey a{background-position:0 -201px;}
#fix_block li#survey a:hover{background-position:-42px -201px;}

#fix_block li p{
	display:none;
	position:absolute;
	right:40px;
	top:45px;
	margin:0;
	padding:5px 0;
	width:120px;
	height:145px;
	border:1px solid #eee;
	border-right:0;
	background-color:#fff;
	text-align:center;
}

#fix_block li.on p.wx,
#fix_block li.on p.khd{display:block;}
