<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/static/include/_head_import_file2.html" -->
    <style type="text/css">
		#djs{
			font-size:30px;
			color:#999;
		}
	</style>
</head>
<body>
	<div id="wrap">
		<span id="djs"></span>
	</div>
	
	<script type="text/javascript">
	    var qTime = "10";
	    $('#djs').html(qTime);
	    function countDown(){
	        if(qTime > 0){
	            qTime--;
	            $('#djs').html(qTime);
	        }
	    }
	    setInterval("countDown()", 1000);
	    
	    addArticleTop();//添加TOP
	</script>
</body>
</html>