<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DEMO</title>
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/default.css" rel="stylesheet" />
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/prism.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style type="text/css">
    	dl dd a{
    		margin: 10px;
    		display: inline-block;
    	}
    </style>
</head>
<body>
	<!--#include virtual="/include/_header.html" -->
    <div class="container">
    	<dl>
        	<dt><label></label></dt>
            <dd>
            	<a target="_blank" href="_djs1.html">时间倒计时</a>
                <a target="_blank" href="_djs2.html">数字倒计时</a>
                <a target="_blank" href="player-progress-control.html">播放器进度条控制</a>
            </dd>
        </dl>
        <dl>
        	<dt><label>图片类效果</label></dt>
            <dd>
            	<a target="_blank" href="pics/hover/index.html">图片HOVER效果</a>
                <a target="_blank" href="pics/zoom/index.html">图片缩放效果</a>
                <a target="_blank" href="pics/switch/index.html">图片切换效果</a>
                <a target="_blank" href="pics/load/index.html">图片加载效果</a>
                <a target="_blank" href="pics/index.html">图片类效果(未整理)</a>
            </dd>
            <dt><label>表单</label></dt>
            <dd>
            	<a target="_blank" href="form/index.html">表单类效果</a>
            </dd>
            <dt><label>文本</label></dt>
            <dd>
            	<a target="_blank" href="text/index.html">文本的各种效果 </a>
            </dd>
            <dt><label>按钮</label></dt>
            <dd>
            	<a target="_blank" href="btn/index.html">按钮的各种效果 </a>
            </dd>
            <dt><label>tab切换</label></dt>
            <dd>
            	<a target="_blank" href="tab/index.html">tab切换</a>
            </dd>
            <dt><label>导航navigation</label></dt>
            <dd>
                <a target="_blank" href="nav/index.html">导航navigation</a>
            </dd>
            <dt><label>抽奖</label></dt>
            <dd>
                <a target="_blank" href="draw/index.html">抽奖</a>
            </dd>
        </dl>
    </div>
</body>
</html>
