<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link href="/css/iconfont.css" rel="stylesheet">
	<link href="/css/default.less" rel="stylesheet/less">
	<script src="/js/jquery-1.11.3.min.js"></script>
	<script src="/js/default.js"></script>
	<script src="/js/less-2.5.3.min.js"></script>
    <style type="text/css">
    	
    </style>
</head>
<body>
	<div id="wrap">
	    <div class="table">
	        <table id="table"></table>
		</div>
		<div class="turn_page"></div>
   	</div>
	<script type="text/javascript">
	    function getData(page){
	        var schoolid = $("#schoolid option:selected").text();
	        var apptype = $("#apptype option:selected").text();
	        var appname = $("#appname").val();
	        $.ajax({
	            type : "POST",
	            url : "pageAjax",
	            dataType : "json",
	            data : {'schoolid':schoolid,'apptype':apptype,'page':page,'appname':appname},
	            success : function(data){
	                 console.log("成功了！"+data);
	                 $("#table").html("");
	                 $(".turn_page").html("");
	
	                 var str = "<tr><th class='w20'>应用编号</th>"
	                            +"<th class='w15'>学校名称</th>"
	                            +"<th class='w30'>应用名称</th>"
	                            +"<th class='w25'>应用分类</th>"
	                            +"<th class='w10'>应用类型</th></tr>";
	
	                 for(var i=0;i<data.resultList.length;i++){
	                     str += "<tr onclick='showAppDetail(this);'><td>"+data.resultList[i].appid+"</td><td>"
	                     +data.resultList[i].schoolid+"</td><td>"+data.resultList[i].appname+"</td><td>"
	                     +data.resultList[i].app_departid+"</td><td>"+data.resultList[i].apptype+"</td></tr>";
	                 }
	
	                 $("#table").html(str);//重绘table
	
	                 var pageNum = data.pageNum;//获取得到的数据页数
	                 var curPage = data.curPage;//获取当前页
	
	                 str = "";
	
	                 /*若页数大于1则添加上一页、下一页链接*/
	                 if(data.pageNum>1){
	                    str = "<ul><li><a href='javascript:void(0);onclick=preEvent();' id='pre' data-num='1'>上一页</a></li>" 
	                 }else{
	                     str = "<ul>";
	                 }
	                 /*循环输出每一页的链接*/
	                 for(var i=0;i<data.pageNum;i++){
	                     str += "<li><a href='javascript:void(0);onclick=getData("+(parseInt(i)+1)+");' data-type='num'>"+(parseInt(i)+1)+"</a></li>";
	                 }
	                 if(str.indexOf("上一页")>-1){
	                     str += "<li><a href='javascript:void(0);onclick=nextEvent();' id='next' data-num='1'>下一页</a></li>"
	                            +"<span>共<span id='pageNum'>"+pageNum+"</span>页</span></ul>";
	
	                 }else{
	                     str += "<span>共<span id='pageNum'>"+pageNum+"</span>页</span></ul>";
	                 }
	                 $(".turn_page").html(str);
	                 
	         		//把当前页码存到上一页、下一页的data-num属性中，这样可以在点击上一页或者下一页时知道应该跳到哪页
	                 $("#pre").attr("data-num",curPage);
	                 $("#next").attr("data-num",curPage);
	            },
	            error : function(data){
	                alert("请求失败");
	            }
	        });
	    }

		/**
	     * 上一页点击事件
	     */
	    function preEvent(){
	        var curPage = $("#pre").attr("data-num");
	        if(curPage<=1){
	            $(this).attr('disabled',"true");
	        }else{
	            curPage = parseInt(curPage)-1;
	            getData(curPage);
	        }
	    }
	    /**
	     * 下一页点击事件
	     */
	    function nextEvent(){
	        var curPage = $("#next").attr("data-num");
	        var pageNum = $("#pageNum").text();
	        if(curPage>=pageNum){
	            $(this).attr('disabled',"true");
	        }else{
	            curPage = parseInt(curPage)+1;
	            getData(curPage);
	        }
	    }
		
		//添加TOP
		addArticleTop();
	</script>
</body>
</html>