<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YQ-Note tab切换</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/global.less">
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
    <!--#include virtual="/include/_header.html" -->
    <div class="cblock">
    	<div class="bg-under">
        	<div class="shape1"></div>
        </div>
        <div class="container content-area">
        	<h1>tab切换</h1>
            <p>tab切换的各种各样效果集</p>
        </div>
    </div>
    <div class="container-fluid">
    	<ul class="list-group">
        	<li class="list-group-item">
            	<a href="/views/tab/demos/01/index.html" target="_blank">效果1</a>
            </li>
            <li class="list-group-item">
            	<a href="/views/tab/demos/02/index.html" target="_blank">效果2</a>
            </li>
            <li class="list-group-item">
            	<a href="/views/tab/demos/03/index.html" target="_blank">效果3</a>
            </li>
            <li class="list-group-item">
            	<a href="/views/tab/demos/04/index.html" target="_blank">效果4</a>
            </li>
            <li class="list-group-item">
            	<a href="/views/tab/demos/05/index.html" target="_blank">效果5</a>
            </li>
        </ul>
    </div>
</body>
</html>
