@charset "utf-8";
/* CSS Document */
#wrap{
	width:1098px;
	margin:10px auto 0;
}

/* ========== header ========== */
#header{
	position:relative;
	height:65px;
	width:1100px;
	margin:0 auto;
}
#header h1{
	position:absolute;
	left:0;
	bottom:7px;
	height:35px;
	padding-left:40px;
	background:url(/images_old/common/logo.gif) no-repeat left center;
	font-size:20px;
	color:#666666;
}
#header ul{
	position:absolute;
	right:0;
	bottom:7px;
}
#header ul li{
	display:inline;
	background-color:#5FA9C2;
	padding:5px 15px;
	margin-right:2px;
	
}
#header a{
	color:#ffffff;
	text-decoration:none;
}

/* ========== sideNavi ========== */
#sideNavi{
	float:left;
	width:200px;
}
#sideNavi h2{
	padding:5px 10px 5px 12px;
	margin-bottom:20px;
	border:1px solid #fff;
	background:url(/images_old/common/sign1.gif) no-repeat 189px 2px;
	font-size:18px;
	color:#1A7AAE;
}
#sideNavi a{
	text-decoration:none;
	color:#6699CC;
}
/* - ul part - */
#sideNavi ul{
	margin-bottom:1.5em;
}
* html #sideNavi ul li{
	display:inline-block;
	margin-bottom:-4px;
}
#sideNavi ul li a{
	display:block;
	border-bottom:1px solid #ddd;
	border-left:2px solid #ccc;
	border-right:1px solid #eee;
	padding:2px 10px;
	margin-bottom:3px;
	background-color:#f8f8f8;
}
#sideNavi ul li a:hover{
	border-bottom:1px solid #ccc;
	border-left:2px solid #900;
	border-right:1px solid #ccc;
	background-color:#ddd;
}
/* - dl part - */
#sideNavi dt{
	padding:5px 10px 5px 20px;
	margin-bottom:3px;
	border-bottom:1px dotted #ccc;
	background:url(/images_old/common/feedicon.gif) no-repeat left 7px;
	font-family:"微软雅黑";
	color:#6699CC;
	font-weight:bold;
}
#sideNavi dd{
	padding:6px 5px 15px 2px;
}
#sideNavi dl dd a{
	display:inline-block;
	padding:3px 0 3px 10px;
	background:url(/images_old/common/arrow1.gif) no-repeat left 9px;
	text-decoration:underline;
	color:#555;
}
/* ========== content ========== */
#content{
	float:right;
	width:870px;
	padding-right:10px;
}
#content .pgTitle{
	height:31px;
	margin-bottom:20px;
	border-bottom:1px dotted #fff;
	line-height:31px;
}

#content .pgTitle h2{
	background:url(/images_old/common/book2.gif) no-repeat right center;
	color:#1A7AAE;
	font-size:16px;
	font-family:"微软雅黑";
}

/* ========== footer ========== */
#footer{
	width:1100px;
	margin:15px auto 10px;
	font-size:11px;
	color:#666666;
}
#footer #pageTop{
	padding:0 10px 5px 0;
	text-align:right;
	cursor:pointer;
}
#footer address{
	padding-top:3px;
	background:url(/images_old/common/footer_line.gif) repeat-x left top;
	text-align:center;
}