body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:915px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:60px;
  height:22px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u518 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:22px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:20px;
  width:500px;
  height:22px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u519 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:20px;
  width:120px;
  height:22px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u520 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:43px;
  width:757px;
  height:353px;
}
#u521_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:353px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u521_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:45px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
.u524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:60px;
  height:45px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
.u524 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
.u524_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
.u524.selected {
}
.u524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
.u525 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-1px;
  width:500px;
  height:45px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
.u525 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
.u525_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
.u525.selected {
}
.u525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
.u526 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:-1px;
  width:120px;
  height:45px;
  display:flex;
  font-size:14px;
}
.u526 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
.u526_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
.u526.selected {
}
.u526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
.u527 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:-1px;
  width:80px;
  height:45px;
  display:flex;
  font-size:14px;
  text-align:left;
}
.u527 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
.u527_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
.u527.selected {
}
.u527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF3333;
}
.u528 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:11px;
  width:122px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FF3333;
}
.u528 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u528_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u522-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:44px;
}
#u522-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:757px;
  height:44px;
}
#u522-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:757px;
  height:44px;
}
#u522-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:757px;
  height:44px;
}
#u522-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:176px;
  width:757px;
  height:44px;
}
#u522-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:757px;
  height:44px;
}
#u522-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:264px;
  width:757px;
  height:44px;
}
#u522-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:308px;
  width:757px;
  height:44px;
}
#u522-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:352px;
  width:757px;
  height:44px;
}
#u522-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:396px;
  width:757px;
  height:44px;
}
#u522-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:757px;
  height:44px;
}
#u522-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:484px;
  width:757px;
  height:44px;
}
#u522-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:528px;
  width:757px;
  height:44px;
}
#u522-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:572px;
  width:757px;
  height:44px;
}
#u522-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:616px;
  width:757px;
  height:44px;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:660px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:20px;
  width:80px;
  height:22px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u529 .text {
  position:absolute;
  align-self:center;
  padding:0px 5px 0px 5px;
  box-sizing:border-box;
  width:100%;
}
#u529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:93px;
  width:60px;
  height:14px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
}
#u530 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u530_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:84px;
  width:47px;
  height:32px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
}
#u531 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u531_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 102, 51, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:18px;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:116px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:18px;
}
#u532 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
  width:100%;
}
#u532_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 51, 51, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:18px;
}
#u532.mouseOver {
}
#u532_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:18px;
}
#u532.disabled {
}
#u532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:211px;
  width:140px;
  height:36px;
  display:flex;
  font-size:20px;
  color:#666666;
}
#u533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:192px;
  width:108px;
  height:14px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u534 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u534_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
