<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/tutorial.less">
    <script src="/js/less-2.5.3.min.js"></script>
    <script src="/js/default.js"></script>
</head>
<body>
	<article id="wrap">
        <div class="ttBlock">
            <h2 class="ttBlock_head">步骤</h2>
            <div class="ttBlock_body">
            	<ol class="ttBlock-orderlist">
                	<li class="ttBlock-list">
                        <div class="ttBlock-list-txt">和配置其它项目一样，只是物理路径不是项目根目录，而是到WEB。<br>下图的物理路径为：\workspace2\L2D\SRC\Jaya.LearnToDrive\Jaya.LearnToDriveWeb</div>
                        <div class="ttBlock-list-media">
                            <img src="images/2019-01-03_103740.png">
                        </div>
                    </li>
                    <li class="ttBlock-list">
                        <div class="ttBlock-list-txt">选择应用程序池，双击应用程序池中的项目，在弹出窗口中选择.NET Framework 为 4.0 的版本。</div>
                        <div class="ttBlock-list-media">
                            <img src="images/2019-01-16_143105.png">
                        </div>
                    </li>
                    <li class="ttBlock-list">
                        <div class="ttBlock-list-txt">选择启用32位应用程序，设置为 true</div>
                        <div class="ttBlock-list-media">
                            <img src="images/2019-02-28_111707.png">
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </article>
    <script type="text/javascript">
    	addArticleTop();
    </script>
</body>
</html>
