<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IIS中添加html对include的引用</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/tutorial.less">
    <link rel="stylesheet" href="/css/iconfont.css">
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
	<article>
        <h1 class="article-title">IIS中添加html对include的引用 </h1>
        <div class="ttBlock">
            <h2 class="ttBlock_head">步骤</h2>
            <div class="ttBlock_body">
            	<ol class="ttBlock-orderlist">
                	<li class="ttBlock-list">
                        <div class="ttBlock-list-txt">如果只是为某个项目添加，则先选定项目，再点击处理程序映射，如果是为所有项目添加，则点击主页中的处理程序映射。</div>
                        <div class="ttBlock-list-media">
                        	<p>主页中的处理程序映射</p>
                            <img src="images/2017-08-18_145535.jpg">
                            <p>某一项目中的处理程序映射</p>
                            <img src="images/2017-08-18_144006.jpg">
                        </div>
                    </li>
                    <li class="ttBlock-list">
                        <div class="ttBlock-list-txt">点击添加模块映射，按照下图设置即可。</div>
                        <div class="ttBlock-list-media">
                        	<img src="images/2017-08-18_144634.jpg">
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </article>
    <script type="text/javascript">
    	addArticleTop();
    </script>
</body>
</html>
