<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>开放端口，让其它电脑可以访问</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/tutorial.less">
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
	<article id="wrap">
        <div class="ttBlock">
            <h2 class="ttBlock_head">WIN7操作系统</h2>
            <div class="ttBlock_body">
                <p>windows防火墙－高级设置－入站规则－新建规则－端口</p>
                <img src="images/2017-08-18_141717.jpg">
                
                <img src="images/2017-08-18_142322.jpg">
                <p>接着按上图一步步往下操作即可。</p>
            </div>
        </div>
    </article>
    <script type="text/javascript">
    	addArticleTop();
    </script>
</body>
</html>
