<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>设置IIS，使之支持less</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/tutorial.less">
    <script src="/js/less-2.5.3.min.js"></script>
    <script src="/js/default.js"></script>
</head>
<body>
	<article>
        <h1 class="article-title">设置IIS，使之支持less</h1>
        <div class="ttBlock">
            <h2 class="ttBlock_head">步骤</h2>
            <div class="ttBlock_body">
            	<ol class="ttBlock-orderlist">
                	<li class="ttBlock-list">
                        <div class="ttBlock-list-txt">打开IIS管理器 >> MIME类型 >> 新建后缀名：.less MIME类型：text/css</div>
                        <div class="ttBlock-list-media">
                            <img src="images/2017-08-18_150707.jpg">
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </article>
</body>
</html>
