<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!--#include virtual="/static/include/_head_import_file2.html" -->
</head>
<body>
	<article id="wrap">
        <div class="ttBlock">
            <h2 class="ttBlock_head">步骤</h2>
            <div class="ttBlock_body">
            	<ol class="ttBlock-orderlist">
                	<li class="ttBlock-list">
                        <div class="ttBlock-list-txt">打开IIS管理器 >> MIME类型 >> 新建后缀名：.less MIME类型：text/css</div>
                        <div class="ttBlock-list-media">
                            <img src="images/2017-08-18_150707.jpg">
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </article>
    <script type="text/javascript">
    	addArticleTop();
    </script>
</body>
</html>
