<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>播放器进度条控制</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="css/player-progress-control.less">
    <script src="/js/less-2.5.3.min.js"></script>
    <script src="js/player-progress-control.js"></script>
</head>
<body>
	<!--#include virtual="/include/_header.html" -->
	<div class="topbar">
		<div class="container">
			<h2>播放器进度条控制</h2>
		</div>
	</div>
	<div class="container">
    	<div class="row">
    		<div class="col-md-9" role="main">
            	<div class="controlBar">
                    <div class="cbbtn">
                        <a class="b_back" href="javascript:void(0)"></a>
                        <a class="b_play" href="javascript:void(0)"></a>
                        <a class="b_forward" href="javascript:void(0)"></a>
                    </div>
                    <div class="barCon">
                        <div class="bars">
                            <p class="bar1"><i></i></p>
                            <p class="bar2"></p>
                        </div>
                        <span>01:23:56/01:55:30</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="side">
                <div class="fix-side-nav">
                    <p class="toTop"><a href="#"><i class="icon-circle-arrow-up"></i>TOP</a></p>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        $(function ()
        {
			var dis = 0;
			
			var o_play = $('.controlBar .b_play');
			var o_back = $('.controlBar .b_back');
			var o_forward = $('.controlBar .b_forward');
            var o_bars = $('.controlBar .bars');
            var o_bar1 = $('.controlBar .bars .bar1');
            var o_block = $('.controlBar .bars i');
			
			
			var state = 1;//默认播放
			var barsLength = $(o_bars).width();//播放条的长度
			var timer1;
			
			//播放与暂停
			$(o_play).click(function(){
				if(dis >= barsLength){
					dis = 0;
				}
				if(state==1)
				{
					timer1=setInterval(pos_current,200);
					state=0;
				}
				else{
					clearInterval(timer1);//暂停
					state=1;
				}
				$(this).toggleClass('b_pause');
			})
			
			//播放状态时设置滑块位置
			function pos_current()
			{	
				if(dis >= barsLength){
					dis = barsLength;
				}
				else{
					dis++;
				}
				$(o_block).animate({left:  dis + "px"},200)
				$(o_bar1).animate({width:  dis + "px", overflow: 'visible'},200)
			}
			
			//快进
			$(o_forward).click(function(){
				dis = dis + 10;
				set();
			})
			//快退
			$(o_back).click(function(){
				dis = dis - 10;
				set();
			})

			//点击移动滑块
			$(o_bars).on({
				mousedown: function(e){
					dis = e.pageX - $(this).offset().left;
					$(o_bar1).css("width", dis + "px");
					$(o_block).css("left", dis + 'px');
				},
				mousemove: function(e){ //鼠标移动显示当前距离
					dis = e.pageX - $(this).offset().left;
					$(this).attr('title',dis);
					alert(e.pageX);
				},
				mouseup: function(){
					$(o_bars).off('mousemove');
				}
			})
			
			//拖动滑块
            $(o_block).on({
                mousedown: function (e) {
                    $(o_bars).on('mousemove', function (e) {
                        dis = e.pageX - $(this).offset().left;
                        set();
                    });
                },
                mouseup: function (e) { $(o_bars).off('mousemove'); }
            });

            $(document).on('mouseup', function () { $(o_bars).off('mousemove');})
			
			//设置滑块$(o_block)的位置及$(o_bar1)的宽度
			function set(){
				if (dis >= 0 && dis <= barsLength) {
					$(o_bar1).css("width", dis + "px");
					$(o_block).css("left", dis + 'px');
				}
				else if (dis > barsLength) {
					$(o_bar1).css("width", barsLength + "px");
					$(o_block).css("left", barsLength + "px");
				}
				else {
					$(o_bar1).css("width", "0");
					$(o_block).css("left", "0");
				}
			}
			
//			function getMX(){
//				$(o_bars).hover(
//					function(e){dis = e.pageX - $(this).offset().left;},
//					function(){}
//				)
//			}
			
        })
    </script>
</body>
</html>
