<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YQ-Note TOOLS</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="css/tools.less">
    <script src="/js/less-2.5.3.min.js"></script>
    <script src="js/other.js"></script>
</head>
<body>
	<!--#include virtual="/include/_header.html" -->
    <div class="cblock">
    	<div class="bg-under">
        	<div class="shape1"></div>
        </div>
        <div class="container content-area">
        	<h1>TOOLS</h1>
            <p>很多实用工具，可以为我们的前端工作带来便利</p>
        </div>
    </div>
	<div class="container">
    	<div class="row">
        	<div class="col-md-9" role="main">
            	<p class="mt20">这里的许多工具都是摘自<a target="_blank" href="http://www.w3cplus.com/source/front-end-developer-excellent-tool.html">w3cplus前端工具</a>，将一些不错而且自己使用的顺手的标记出来，要不然这么多工具眼花缭乱的，都不知道用哪个好了...</p>
                <!-- **************** separator line ****************  -->
                <h3 id="tool-group-1">SVG工具</h3>
                <dl class="dl-horizontal tool-group">
                    <dt>
                        <a target="_blank" href="http://cssplant.com/clip-path-generator">CLIP PATH (MASK) GENERATOR</a>
                    </dt>
                    <dd>一款在线制作生成clip-path路径的工具，可以直接生成SVG代码以及配合Mask制作蒙板。</dd>
                    <dt>
                        <a target="_blank" href="http://filterfactory.mobi">FilterFactory</a>
                    </dt>
                    <dd>一款将图片转换成SVG的在线生成工具</dd>
                </dl>
                <!-- **************** separator line ****************  -->
                <h3 id="tool-group-2">字体类</h3>
                <h4>@font-face字体转换工具</h4>
                <p>只需其中一种字体，就可以帮我们转换成@font-face各浏览器下所需的所有字体格式。</p>
                <a class="btn btn-default" target="_blank" href="http://fontface.codeandmore.com/">@FONT-FACE kit generator</a>
                <a class="btn btn-default" target="_blank" href="https://www.fontsquirrel.com/tools/webfont-generator">@FONT-FACE GENERATOR</a>
                <h4>字体查询</h4>
                <dl class="dl-horizontal tool-group">
                    <dt>
                        <a target="_blank" href="http://www.cssfontstack.com/">CSS FONT STACK</a>
                    </dt>
                    <dd>能让你实时看到各种字体在web中的渲染效果。</dd>
                    <dt>
                        <a target="_blank" href="http://zh.fonts2u.com/">Font2u</a>
                    </dt>
                    <dd>提供了各种字体的下载以及字体的详细信息。</dd>
                </dl>
                <h4>字体ICON制作</h4>
                <p>ICON使用@font-face制作是越来越普遍了，但有一些icon字体库有几个icon，而往往我们有时候只需要其中的几个，加载所有的icon感觉浪费，其实没有必要这么做的，在线有两个网站，上面提供了各种字体icon库，我们只需要选择其中的部分，进行安装就OK了。</p>
                <dl class="dl-horizontal tool-group">
                    <dt>
                        <a target="_blank" href="http://fontello.com/">Fontello</a>
                    </dt>
                    <dd>提供了12种字体icon的在线制作，你可以选择其中的某几个icon生成你需要的图标</dd>
                    <dt>
                        <a target="_blank" href="https://icomoon.io/app/">icommon</a>
                    </dt>
                    <dd>icommon就比较强大了，除了免费的字体之外，你还可以导入你自己的svg字体，生成你需要的icon。</dd>
                    <dt>
                    	<a target="_blank" href="http://app.fontastic.me/">Fontastic</a>
                    </dt>
                    <dd>
                    	Fontastic是一个在线生成字体图标的app，可以定制属于自己的图标字体。
                        <p><mark>login-id: ann-bu@163.com</mark>  <mark>login-pwd: 123456</mark></p>
                    </dd>
                </dl>
                <!-- **************** separator line ****************  -->
                <h3 id="tool-group-3">ICON图标、button按钮等</h3>
                <h4>ICON图标下载</h4>
                <p>很多时候不想花时间去制作一些透明的ICON，想要现成的，但有时候有不知道去哪找，这里给大家推荐几个网站，这几个站点提供了各种尺寸的透明PNG的ICON下载。</p>
                <dl class="dl-horizontal tool-group">
                    <dt>
                        <a target="_blank" href="https://www.iconfinder.com/">ICON FINDER</a>
                    </dt>
                    <dd>ICON FINDER这个站点，可以搜索到自己需要的各种字体。</dd>
                    <dt>
                        <a target="_blank" href="http://findicons.com/">FIND ICONS</a>
                    </dt>
                    <dd>FIND ICONS这个站和前面的那个站很类似，类似的域名都差不多，功能也差不多。</dd>
                </dl>
                <h4>按钮制作</h4>
                <dl class="dl-horizontal tool-group">
                    <dt>
                        <a target="_blank" href="http://www.bestcssbuttongenerator.com/">Webarti CSS3 Button Maker</a>
                    </dt>
                    <dd>Webarti CSS3 Button Maker是一款非常强大的按钮在线生成工具，他提供了很多种不同按钮效果让你参考，可以说只需选择就能制作出自己需要的按钮，思考的时间都不用你花了。</dd>
                    <dt>
                        <a target="_blank" href="http://www.sciweavers.org/i2style">sciweavers</a>
                    </dt>
                    <dd>这是一款制作buttons的好工具，有多种风格供你参考，还能做一定的调整。</dd>
                </dl>
                <!-- **************** separator line ****************  -->
                <h3 id="tool-group-4">CSS3效果制作</h3>
                <h4>阴影效果</h4>
                <dl class="dl-horizontal tool-group">
                    <dt class="good">
                        <a target="_blank" href="http://flattyshadow.com/" data-toggle="tooltip" data-placement="top" title="这个不错哟">Flatty Shadow</a>
                    </dt>
                    <dd>Flatty Shadow在线为Icon图标生成 <b>长阴影</b> 效果。</dd>
                    <dt>
                    	<a target="_blank" href="http://css3-drop-shadows.herokuapp.com/app">CSS3 Drop Shadows</a>
                    </dt>
                    <dd>这个工具使用CSS3制作一些特别的阴影效果。</dd>
                    <dt>
                    	<a target="_blank" href="http://www.themeshock.com/css-drop-shadow/">CSS Drop Shadow</a>
                        <dd>这款工具可以在线直接生成七种不同类型的阴影效果，这七种也是常见的不同阴影效果。</dd>
                    </dt>
                </dl>
                <h4>clip-path</h4>
                <dl class="dl-horizontal tool-group">
                    <dt>
                        <a target="_blank" href="http://cssplant.com/clip-path-generator">CLIP PATH (MASK) GENERATOR</a>
                    </dt>
                    <dd>一款在线制作生成clip-path路径的工具，可以直接生成SVG代码以及配合Mask制作蒙板。</dd>
                </dl>
                <h4>css animation</h4>
                <dl class="dl-horizontal tool-group">
                    <dt>
                        <a target="_blank" href="http://cssanimate.com/">CSS Animatie</a>
                    </dt>
                    <dd>CSS Animatie是一款在线制作CSS3动画的工具，可以在线直接制作CSS3动画效果，生成代码。</dd>
                    <dt>
                        <a target="_blank" href="http://www.css3maker.com/">CSS3 Maker</a>
                    </dt>
                    <dd>CSS3 Maker提供了10个最为常用的CSS3属性在线生成工具，比如说border-radius、gradient、transfrom、animation、transition、rgba、text-shadow、box-shadow、text rotation和@font-face。同样的你可以在线设置相关属性参数，了解浏览器对其的支持性，最方便的可以直接下载生成的代码。</dd>
                    <dt class="good">
                        <a target="_blank" href="http://ademilter.com/lab/liffect/" data-toggle="tooltip" title="效果不错">liffect effect</a>
                    </dt>
                    <dd>
                    liffect effect可以说是一个css3 animation的动画库，里面涵盖了20多种动画效果，极其类似于jQuery Easing Plugin中的效果。<a class="show-tool-pic" data-toggle="collapse" aria-expanded="false" aria-controls="t-liffet" href="#t-liffet"></a>
                    	<div class="tool-pic collapse" id="t-liffet">
                    		<a class="close" data-toggle="collapse" aria-expanded="false" aria-controls="t-liffet" href="#t-liffet"></a>
                            <a target="_blank" href="http://ademilter.com/lab/liffect/">
                    			<img src="/views/other/images/tools/tools-01.jpg" alt="liffect effect" />
                            </a>
                        </div>
                    </dd>
                    <dt>
                        <a target="_blank" href="http://daneden.github.io/animate.css/">Animate.css</a>
                    </dt>
                    <dd>Animate.css不是生成代码的工具，但绝对是各种动画效果的参考示例网站。</dd>
                    <dt>
                        <a target="_blank" href="http://leaverou.github.io/animatable/">animatable</a>
                    </dt>
                    <dd>animatable和Animate.css一样不是生成代码的工具，但他在线提供了39种不同的动画效果。</dd>
                    <dt>
                        <a target="_blank" href="http://jeremyckahn.github.io/stylie/">stylie</a>
                    </dt>
                    <dd>stylie在线生成keyframe的一款工具。</dd>
                    <dt>
                        <a target="_blank" href="http://codefuture.co.uk/css/css3-Transform.php">CSS3 Transform Generator</a>
                    </dt>
                    <dd>CSS3 Transform Generator就是在线高度transform的属性。</dd>
                    <dt>
                        <a target="_blank" href="http://cssload.net/">CSS Load</a>
                    </dt>
                    <dd>CSS Load是一款纯代码制作loading的工具。</dd>
                    <dt>
                        <a target="_blank" href=""></a>
                    </dt>
                    <dd></dd>
                </dl>
                <!-- **************** separator line ****************  -->
                <h3 id="tool-group-5">其它工具</h3>
                <h4>代码高亮工具</h4>
                <dl class="dl-horizontal tool-group">
                	<dt class="good">
                        <a target="_blank" href="http://prismjs.com" data-toggle="tooltip" title="这个不错哟">prismjs</a>
                    </dt>
                    <dd>可以选择不同的高亮主题、语言及插件，然后下载JS CSS代码，引入入文档中即可。</dd>
                </dl>
                <h4>前端预处理器语言图形编译工具</h4>
                <dl class="dl-horizontal tool-group">
                	<dt>
                        <a target="_blank" href="http://koala-app.com/index-zh.html">Koala</a>
                    </dt>
                    <dd>Koala是由oklai同学开发的一款前端预处理器语言图形编译工具，支持Less、Sass、Compass、CoffeeScript，帮助web开发者更高效地使用它们进行开发。跨平台运行，完美兼容windows、linux、mac。
                    	<a class="show-tool-pic" data-toggle="collapse" aria-expanded="false" aria-controls="t-koala" href="#t-koala"></a>
                        <div class="tool-pic collapse" id="t-koala">
                    		<a class="close" data-toggle="collapse" aria-expanded="false" aria-controls="t-koala" href="#t-koala"></a>
                            <a target="_blank" href="http://koala-app.com/index-zh.html">
                    			<img src="/views/other/images/tools/tools-02.jpg" alt="koala" />
                            </a>
                        </div>
                    </dd>
                </dl>
                <h4>photoshop cs6插件</h4>
                <dl class="dl-horizontal tool-group">
                	<dt>
                        <a target="_blank" href="http://css3ps.com/">CSS3 Ps</a>
                    </dt>
                    <dd>CSS3 Ps是photoshop cs6的一款插件，如果你是仅是一位设计师，不懂任何coding的活，但想使用CSS3属性来实现你的部分设计效果，那么你就可以使用CSS Ps来帮助，一键搞定。</dd>
                </dl>
                <h4>快捷启动软件工具</h4>
                <dl class="dl-horizontal tool-group">
                    <dt>
                    	<a target="_blank" href="t01.html">Text Launcher</a>
                    </dt>
                    <dd>可以快捷启动电脑中的软件；可以自己设置名称启动。</dd>
                </dl>
                <!-- **************** separator line ****************  -->
            </div>
            <div class="col-md-3" id="side">
            	<div class="fix-side-nav">
                	<dl>
                    	<dt>
                        	<a href="#tool-group-1">SVG工具</a>
                        </dt>
                        <dt>
                        	<a href="#tool-group-2">字体类</a>
                        </dt>
                        <dt>
                        	<a href="#tool-group-3">ICON图标、button按钮等</a>
                        </dt>
                        <dt>
                        	<a href="#tool-group-4">CSS3效果制作</a>
                        </dt>
                        <dt>
                        	<a href="#tool-group-5">其它工具</a>
                        </dt>
                    </dl>
                    <p class="toTop"><a href="#"><i class="icon-circle-arrow-up"></i>TOP</a></p>
				</div>
            </div>
    </div>
</body>
</html>
