<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>抽奖</title>
	<link rel="stylesheet/less" href="/css/iconfont.css">
	<link rel="stylesheet/less" href="/css/default.less">
    <link rel="stylesheet/less" href="css/draw.less">
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/less-2.5.3.min.js"></script>
    <script src="/js/default.js"></script>
    <script src="js/draw.js"></script>
</head>
<body>
	<div id="wrap">
		<div class="grid-game-wrap">
		    <ul>
		        <li class="n01"><img src="images/01/img01.png" alt="" /></li>
		        <li class="n02"><img src="images/01/img02.jpg" alt="" /></li>
		        <li class="n03"><img src="images/01/img03.png" alt="" /></li>
		        <li class="n04"><img src="images/01/img04.jpg" alt="" /></li>
		        <li class="n05"><img src="images/01/img05.jpg" alt="" /></li>
		        <li class="n06"><img src="images/01/img06.png" alt="" /></li>
		        <li class="n07"><img src="images/01/img07.jpg" alt="" /></li>
		        <li class="n08"><img src="images/01/img08.jpg" alt="" /></li>
		        <li class="n09"><img src="images/01/img09.png" alt="" /></li>
		        <li class="n10"><img src="images/01/img10.png" alt="" /></li>
		        <li class="n11"><img src="images/01/img11.png" alt="" /></li>
		        <li class="n12"><img src="images/01/img12.jpg" alt="" /></li>
		    </ul>
		    <div class="btn"><input type="button" value="抽奖" /></div>
		</div>
	</div>
	
    <script type="text/javascript">
		addArticleTop();//添加TOP
    </script>
</body>
</html>
