<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>抽奖</title>
	<link rel="stylesheet/less" href="/css/iconfont.css">
	<link rel="stylesheet/less" href="/css/default.less">
    <link rel="stylesheet/less" href="css/draw.less">
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/less-2.5.3.min.js"></script>
    <script src="/js/default.js"></script>
    <script src="js/draw.js"></script>
</head>
<body>
	<div id="wrap">
		<!--#include virtual="_draw_01.html" -->
    	<!--#include virtual="_draw_02.html" -->
	</div>
	
    <script type="text/javascript">
		addArticleTop();//添加TOP
    </script>
</body>
</html>
