body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-94px;
  width:400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u449 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
.u449_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.u449.selected {
}
.u449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u450 {
  position:absolute;
  left:372px;
  top:11px;
}
.u450_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u450_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
.u451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  display:flex;
  font-size:10px;
}
.u451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u450_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
.u450_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:4px;
}
.u452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:14px;
  height:4px;
  display:flex;
  font-size:10px;
}
.u452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
.u453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:400px;
  height:121px;
  display:flex;
  font-size:12px;
  text-align:left;
}
.u453 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
.u453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u447-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:39px;
}
#u447-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:400px;
  height:39px;
}
#u447-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:400px;
  height:39px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:85px;
  width:400px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
