<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
    <script src="/js/jquery-1.11.3.min.js"></script>
    <style type="text/css">
		#djs{
			font-size:30px;
			color:#999;
		}
	</style>
</head>
<body>
	<h3>数字倒计时</h3>
	<span id="djs"></span>
	
	<script type="text/javascript">
	    var qTime = "10";
	    $('#djs').html(qTime);
	    function countDown(){
	        if(qTime > 0){
	            qTime--;
	            $('#djs').html(qTime);
	        }
	    }
	    setInterval("countDown()", 1000);
	</script>
</body>
</html>