<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/include/_head_import_file.html" -->
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
	<!--#include virtual="/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<p class="reference">
			<a href="https://wangdoc.com/javascript/oop/this.html"></a>
			<a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Operators/this"></a>
		</p>
        <h2 class="r2-title">this探讨</h2>
        <section class="r2-body">
			<h3 class="r3-title">普通函数的this</h3>
			<p>普通函数的this是由动态作用域决定，它总指向于它的直接调用者。具体可以分为以下四项：</p>
			<ul class="list-decimal">
				<li>this总是指向它的直接调用者， 例如 obj.func() ,那么func()里的this指的是obj</li>
				<li>在默认情况(非严格模式,未使用 'use strict')，如果函数没有直接调用者，this为window</li>
				<li>在严格模式下,如果函数没有直接调者，this为undefined</li>
				<li>使用call,apply,bind绑定的，this指的是绑定的对象</li>
			</ul>
			
			<h3 class="r3-title">箭头函数的this</h3>
			<p>箭头函数是没有绑定自己的this，函数内使用的this是由静态作用域（也成为词法作用域，参考this）决定。静态作用域就是说箭头函数里this是由定义它的代码决定，而不是执行调用箭头函数的代码。</p>
			<p>上面的说法有时很难理解，我自己总结的方法是：找出定义箭头函数的上下文（即包含箭头函数最近的函数或者对象），那么上下文所处的父上下文即为this。</p>
			<div class="reference">
				<a href="http://www.cnblogs.com/wangfupeng1988/p/3988422.html"></a>
			</div>
        	<img src="images/screenPics/sc004.png" />
        	
        	<h3 class="r3-title">Jquery 中 this 和 $(this) 的区别</h3>
        	<ul class="list-decimal">
        		<li>$(this)是jquery对象，jquery对象不能直接指定元素的属性（ele.style），需要get（index）或者直接（index）取得对象中元素才行</li>
        		<li>JQuery中的 $() 这个符号，实际上这个符号在JQuery中相当于JQuery()，即$(this)=jquery(this);</li>
        	</ul>
        	<h4 class="r4-title">当你用的是jquery时，就用$(this)，如果是JS，就用this</h4>
        	<div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>   
$(this).html(); //.html()是jquery方法
this.innerHTML(); //.innerHTML()是JS方法
		            </code>
	            </pre>
	        </div>
	        <h4 class="r4-title">对象不同</h4>
        	<div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
$("img").each(function(index){
    alert($(this)); //弹出的结果是: jquery对象[object Object ]
    alert(this); //弹出来的是: JS对象[object HTMLImageElement]
}	                	
		            </code>
	            </pre>
	        </div>
	        <h4 class="r4-title">jquery对象不能直接操作元素的属性，JS对象可以</h4>
        	<div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
$("#textbox").click(function(){
 	//错误写法
 	$(this).title ＝ "Test";
 	
 	//正确写法
    this.title = "Test";
    $(this).attr('title', 'OK');
});	                	
		            </code>
	            </pre>
	        </div>
        </section>
        
        <h2 class="r2-title">绑定 this 的方法</h2>
        <section class="r2-body">
        	<dl class="dlist">
				<dt>apply</dt>
				<dd>
					<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Function/apply"></a>
				</dd>
				<dt>call</dt>
				<dd>
					<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Function/call"></a>
				</dd>
				<dt>bind</dt>
				<dd>
					<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Function/bind"></a>
				</dd>
			</dl>
        </section>
    </div>
</div>
</body>
</html>