<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/include/_head_import_file.html" -->
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<p class="reference">
			<a href="http://www.runoob.com/w3cnote/es6-tutorial.html"></a>
		</p>
		<h2 class="r2-title">ES6兼容</h2>
		<section class="r2-body">
	        <p>常用兼容工具：babel, jsx, traceur, es6-shim</p>
		</section>
	</div>
</div>
</body>
</html>
