<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/static/include/_head_import_file2.html" -->
</head>
<body>
<!--#include virtual="/static/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<div class="reference">
			<a href="http://www.w3cbus.com/htmlapi/websocket.html">WebSocket</a>
			<a href="https://developer.mozilla.org/zh-CN/docs/Web/API/WebSocket">WebSocket</a>
			<a href="https://socket.io/">Socket.IO</a>
			<a href="https://www.w3cschool.cn/socket/">Socket.IO</a>
		</div>
	</div>
</body>
</html>
