<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/static/include/_head_import_file2.html" -->
</head>
<body>
<!--#include virtual="/static/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<p class="reference">
			<a href="https://wangdoc.com/javascript/async/general.html"></a>
		</p>
		<h2 class="r2-title">异步编程方法</h2>
		<section class="r2-body">
			<h3 class="r3-title">计时器</h3>
			<p>JS里面最基础的异步实现就是调用setTimeout, setInterval。</p>
			
			<h3 class="r3-title">回调函数</h3>
			<dl class="dlist">
				<dt>优点</dt>
				<dd>简单、容易理解和部署</dd>
				<dt>缺点</dt>
				<dd>不利于代码的阅读和维护，各个部分之间高度耦合（Coupling），流程会很混乱，而且每个任务只能指定一个回调函数。</dd>
			</dl>
			<p>回调并不一定就是异步。它们之间并没有直接关系。简单区分 同步回调 和 异步回调</p>
			<img src="images/screenPics/sc007.png" />
			
			<h3 class="r3-title">事件监听</h3>
			<p>采用事件驱动模式。任务的执行不取决代码的顺序，而取决于某一个事件是否发生。</p>
			<dl class="dlist">
				<dt>优点</dt>
				<dd>比较容易理解，可以绑定多个事件，每一个事件可以指定多个回调函数，而且可以去耦合，有利于实现模块化。</dd>
				<dt>缺点</dt>
				<dd>整个程序都要变成事件驱动型，运行流程会变得不清晰。</dd>
			</dl>
			
			<h3 class="r3-title">发布/订阅（又称观察者模式）</h3>
			<a class="ref" href="https://plugins.jquery.com/tag/subscribe/"></a>
			<p>上面地址为实现这种模式的插件，常用插件列举如下：</p>
			<dl class="dlist">
				<dt>Tiny Pub/Sub</dt>
				<dd>
					<a class="ref" href="https://github.com/cowboy/jquery-tiny-pubsub"></a>
				</dd>
				<dt>jquery-pubsub</dt>
				<dd>
					<a class="ref" href="https://github.com/digitalxero/jquery-pubsub"></a>
				</dd>
			</dl>
			
		</section>
		
		<h2 class="r2-title">异步操作的流程控制</h2>
		<section class="r2-body">
			<p class="reference">
				<a href="https://wangdoc.com/javascript/async/general.html#%E5%BC%82%E6%AD%A5%E6%93%8D%E4%BD%9C%E7%9A%84%E6%B5%81%E7%A8%8B%E6%8E%A7%E5%88%B6"></a>
			</p>
			<p>以下三种流程控制的讲解及代码请访问上面的地址</p>
			<dl class="dlist">
				<dt>串行执行</dt>
				<dd>一个任务完成以后，再执行另一个。这就叫串行执行。</dd>
				<dt>并行执行</dt>
				<dd>即所有异步任务同时执行</dd>
				<dt>并行与串行的结合</dt>
				<dd>所谓并行与串行的结合，就是设置一个门槛，每次最多只能并行执行n个异步任务，这样就避免了过分占用系统资源。</dd>
			</dl>
		</section>
		
		<h2 class="r2-title">&lt;script&gt;标签异步加载</h2>
        <section class="r2-body">
        	<p class="reference">
        		<a href="https://developer.mozilla.org/zh-CN/docs/Web/HTML/Element/script"></a>
        	</p>
			<img src="images/screenPics/sc006.png" />
		</section>
		
        <h2 class="r2-title">其它</h2>
        <section class="r2-body">
			<img src="images/screenPics/sc005.png" />
		</section>
        
	</div>
</div>
</body>
</html>
