<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/include/_head_import_file.html" -->
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<!************************************************->
		<div class="code-box mt20">
            <pre class="language-html line-numbers">
                <code>
&lt;select id="eSelect" class="eSel"&gt;
	&lt;option value="1"&gt;&lt;/option&gt;
	&lt;option value="2"&gt;&lt;/option&gt;
	&lt;option value="3"&gt;&lt;/option&gt;
&lt;/select&gt;
	            </code>
            </pre>
        </div>
        
        <h2 class="r2-title">基本操作</h2>
        <div class="r2-body">
	        <h4 class="r4-title">创建 select</h4>
	        <div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
var mySelect = document.createElement("select");
mySelect.id = "mySelect";
document.body.appendChild(mySelect);
		            </code>
	            </pre>
	        </div>
	        <h4 class="r4-title">删除 select</h4>
	        <div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
var mySelect = document.getElementById("mySelect");
mySelect.parentNode.removeChild(mySelect);	
		            </code>
	            </pre>
	        </div>
	        <h4 class="r4-title">添加 option</h4>
	        <div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
var obj=document.getElementById('mySelect');
obj.add(new Option("文本","值")); //这个只能在IE中有效
obj.options.add(new Option("text","value")); //这个兼容IE与firefox

//JQUERY
$("#mySelect").append("&lt;option>Text&lt;/option>"); //将option追加到最后
$("#mySelect").prepend("&lt;option>Text&lt;/option>"); //将option追加到第一位

		            </code>
	            </pre>
	        </div>
	        <h4 class="r4-title">删除一个  option</h4>
	        <div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
var obj=document.getElementById('mySelect');
var index=obj.selectedIndex; //index,要删除选项的索引，这里取当前选中选项的索引
obj.options.remove(index);

$("#mySelect option").eq(index).remove();
$("#mySelect option:last").remove(); //删除Select中索引值最大Option(最后一个) 
$("#mySelect option[index='0']").remove(); //删除Select中索引值为0的Option(第一个) 
$("#mySelect option[value='3']").remove(); //删除Select中Value='3'的Option 
$("#mySelect option[text='4']").remove(); //删除Select中Text='4'的Option
$("#mySelect").remove(index);//index为option索引
		            </code>
	            </pre>
	        </div>
	        <h4 class="r4-title">删除所有  option</h4>
	        <div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
var obj=document.getElementById('mySelect');
obj.options.length=0;

$("#mySelect").empty();
$("#mySelect").options.length = 0;
		            </code>
	            </pre>
	        </div>
	        <h4 class="r4-title">获取 option 的值/文本/索引/选中状态/数量</h4>
	        <div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
var obj=document.getElementById('mySelect');

//取索引
var index=obj.selectedIndex; //取当前选中选项的索引

$("#mySelect").selectedIndex;
$("#mySelect").find("option:selected").selectedIndex;

//取值
obj.options[index].value;

$('#mySelect option:selected').val();
$("#mySelect").find("option:selected").val();
$("#mySelect").val();

//取文本
obj.options[index].text;

$('#mySelect option:selected').text();
$("#mySelect").find("option:selected").text();

//取选中状态
obj.options[index].selected = true;

//取数量
obj.options.length
$("#mySelect").options.length
		            </code>
	            </pre>
	        </div>
	        <h4 class="r4-title">修改 option 的值/文本/选中状态</h4>
	        <div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
//同时修改文本与值            	
var obj=document.getElementById('mySelect');
var index=obj.selectedIndex;
var val = obj.options[index] = new Option("新文本","新值");
		            </code>
	            </pre>
	        </div>
	        
	    </div>
	</div>
</div>
</body>
</html>
