<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/include/_head_import_file.html" -->
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<p class="reference">
			<a href="http://blog.csdn.net/u013795673/article/details/52171411"></a>
		</p>
		<h2 class="r2-title">网页可视区域</h2>
		<div class="browser-support">
			<div class="summary">&lt;!doctype html&gt;下测试; FF; Chrome; IE7+; IE6- 没有测试环境，所以未测试</div>
		</div>
		<section class="r2-body">
			<div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
//JS	                	
document.documentElement.clientWidth
document.documentElement.clientHeight
//JQuery
$(window).width()
$(window).height()
		            </code>
	            </pre>
	        </div>
			<dl class="dlist">
				<dt>注意点</dt>
				<dd>如果页面中有动态加载的DOM，获取网页可视区域的JS要放在动态加载DOM结构的JS前，否则FF chrome中获取的值不正确，IE7+中不受此影响，一直都正常。</dd>
			</dl>
		
		</section>
	</div>
</div>
</body>
</html>
