<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/include/_head_import_file.html" -->
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<h2 class="r2-title">Date对象</h2>
		<p class="reference">
			<a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Date"></a>
			<a href="https://www.runoob.com/jsref/jsref-obj-date.html"></a>
		</p>
		<section class="r2-body">
			<dl class="dlist">
				<dt>GMT</dt>
				<dd>即格林尼治标准时间，也就是世界时。GMT的正午是指当太阳横穿格林尼治子午线（本初子午线）时的时间。但由于地球自转不均匀不规则，导致GMT不精确，现在已经不再作为世界标准时间使用。</dd>
				<dt>UTC</dt>
				<dd>即协调世界时。UTC是以原子时秒长为基础，在时刻上尽量接近于GMT的一种时间计量系统。为确保UTC与GMT相差不会超过0.9秒，在有需要的情况下会在UTC内加上正或负闰秒。UTC现在作为世界标准时间使用。所以，UTC与GMT基本上等同，误差不超过0.9秒。</dd>
				<dt>时区</dt>
				<dd>地球自西向东旋转，东边比西边先看到太阳，东边的时间也比西边的早。为了统一世界的时间，1884年的国际经度会议规规定将全球划分为24个时区（东、西各12个时区）。规定英国（格林尼治天文台旧址）为零时区（GMT+00），东1-12区，西1-12区，中国北京处于东8区（GMT+08）。若英国时间为6点整，则GMT时间为6点整，则北京时间为14点整。</dd>
				<dt>UNIX时间戳</dt>
				<dd>计算机中的UNIX时间戳，是以GMT/UTC时间「1970-01-01T00:00:00」为起点，到具体时间的秒数，不考虑闰秒。这么做当然是为了简化计算机对时间操作的复杂度。比如我的电脑现在的系统时间为2015年2月27日15点43分0秒，因为我的电脑默认时区为东8区，则0时区的时间为2015年2月27日7点43分0秒，则UNIX时间戳为1425022980秒。</dd>
			</dl>
			<strong class="listTit">Date对象方法</strong>
			<dl class="dlist">
				<dt>返回1970年1月1日00:00:00到指定日期的毫秒数</dt>
				<dd>getTime(), Date.parse(), valueOf(), Date.UTC()</dd>
			</dl>
		</section>
		
		<h2 class="r2-title">实例</h2>
		<section class="r2-body">
			<h3 class="r3-title">转日期格式</h3>
	    	<div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>   
bindDateChange: function(e) {
	let arr = e.target.value.toString().split('-');
	this.date = arr[0] + "." + arr[1] + "." + arr[2];
}
		            </code>
	            </pre>
	        </div>
	    	<h3 class="r3-title">前一天、后一天</h3>
	    	<div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
//前一天                	
datePre:function(){
	let d = new Date('2017-10-10');
	d.setDate(d.getDate() - 1);
	let _d = dateToString(d);
}
//后一天
dateNext:function(){
	let d = new Date('2017-10-10');
	d.setDate(d.getDate() + 1);
	let _d = dateToString(d);
}
dateToString:function(d){
	let year = d.getFullYear(),
		month = d.getMonth() + 1,
		day = d.getDate();
	month = month > 9 ? month : '0' + month;
	day = day > 9 ? day : '0' + day;
	let date = year + "." + month + "." + day;
	return date;
}

		            </code>
	            </pre>
	        </div>
	        <h3 class="r3-title">注意点</h3>
	        <div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
//注意点一	                	
d.setDate(d.getDate() + 1)
d = d.setDate(d.getDate() + 1);// 这样写不对

//注意点二
let d = new Date('2017-10-10');
d.getMonth();//获取得值为9

//注意点三
let d = new Date(2017,10,10);
d.getMonth();//获取得值为10

//'注意点二'计算日期增减时，日期计算无误，'注意点三'则计算的不正确

		            </code>
	            </pre>
	        </div>
        </section>
	</div>
</div>
</body>
</html>
