<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/static/include/_head_import_file.html" -->
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/static/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<p class="reference">
			<a href="http://blog.csdn.net/u013795673/article/details/52171411"></a>
		</p>
		<h2 class="r2-title">网页可视区域</h2>
		<section class="r2-body">
			<div class="browser-support">
				<div class="summary">&lt;!doctype html&gt;下测试; FF; Chrome; IE7+; IE6- 没有测试环境，所以未测试</div>
			</div>
			<div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
//JS	                	
document.documentElement.clientWidth
document.documentElement.clientHeight
//JQuery
$(window).width()
$(window).height()
		            </code>
	            </pre>
	        </div>
			<dl class="dlist">
				<dt>注意点</dt>
				<dd>如果页面中有动态加载的DOM，获取网页可视区域的JS要放在动态加载DOM结构的JS前，否则FF chrome中获取的值不正确，IE7+中不受此影响，一直都正常。</dd>
			</dl>
		</section>
		<h2 class="r2-title">屏幕分辨率</h2>
		<section class="r2-body">
			<div class="browser-support">
				<div class="summary">&lt;!doctype html&gt;下测试; FF; Chrome; IE7+; IE6- 没有测试环境，所以未测试</div>
			</div>
			<div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
//屏幕分辨率	                	
window.screen.width
window.screen.height

//屏幕可用工作区(即屏幕分辨率－任务栏)
window.screen.availWidth
window.screen.availHeight
		            </code>
	            </pre>
	        </div>
		</section>
		
		<h2 class="r2-title">鼠标事件 MouseEvent</h2>
		<p class="reference">
			<a href="https://developer.mozilla.org/zh-CN/docs/Web/API/MouseEvent"></a>
		</p>
		<section class="r2-body">
			<h4 class="r4-title">clientX、clientY</h4>
			<div class="browser-support">
				<div class="summary">IE6+</div>
			</div>
			<p>点击位置距离当前body可视区域的x，y坐标</p>
			
			<h4 class="r4-title">pageX、pageY</h4>
			<div class="browser-support">
				<div class="summary">IE9+</div>
			</div>
			<p>对于整个页面来说，包括了被卷去的body部分的长度</p>
			
			<h4 class="r4-title">screenX、screenY</h4>
			<div class="browser-support">
				<div class="summary">IE6+</div>
			</div>
			<p>点击位置距离当前电脑屏幕的x，y坐标</p>
			
			<h4 class="r4-title">offsetX、offsetY</h4>
			<div class="browser-support">
				<div class="summary">IE6+</div>
			</div>
			<p>相对于带有定位的父盒子的x，y坐标</p>
			
			<h4 class="r4-title">x、y</h4>
			<div class="browser-support">
				<div class="summary">IE6+</div>
			</div>
			<p>和clientX、clientY一样</p>
			
			<img src="images/screenPics/sc011.png" class="screenPics" />
			<img src="images/screenPics/sc010.jpg" class="screenPics" />
		</section>
		
		<h2 class="r2-title">.offset()与.position()区别</h2>
		<section class="r2-body">
			<h3 class="r3-title">.offset() -jquery-</h3>
			<a class="ref" href="https://www.jquery123.com/offset/"></a>
			<ul class="list-decimal">
				<li>获取/设置的坐标相对于文档（document）</li>
				<li>若元素的属性设置的是 visibility:hidden，那么我们依然可以取得它的坐标。但是若设置的属性是 display:none，由于在绘制 DOM 树时根本就不绘制该元素，所以它的位置属性值是 undefined。 </li>
				<li>.offset()方法允许我们重新设置元素的位置，这个元素的位置是相对于document对象的。如果对象原先的position样式属性是static的话，会被改成relative来实现重定位。</li>
			</ul>
			
			<h3 class="r3-title">.position() -jquery-</h3>
			<a class="ref" href="https://www.jquery123.com/position/"></a>
			<ul class="list-decimal">
				<li>获取匹配元素中第一个元素的当前坐标，相对于offset parent的坐标。（如果其祖先元素未定位，获取的则是相对于 html 的坐标）</li>
			</ul>
			
			<h3 class="r3-title">offsetParent</h3>
			<h4 class="r4-title">.offsetParent() -jquery-</h4>
			<a class="ref" href="https://www.jquery123.com/offsetParent/"></a>
			<p>取得离指定元素最近的含有定位信息的祖先元素。含有定位信息的元素指的是，CSS 的 position 属性是 relative, absolute, 或 fixed 的元素。</p>
			<h4 class="r4-title">HTMLElement.offsetParent</h4>
			<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/API/HTMLElement/offsetParent"></a>
			<ul class="list-decimal">
				<li>HTMLElement.offsetParent 是一个只读属性，返回一个指向最近的（指包含层级上的最近）包含该元素的 定位 元素或者最近的 table,td,th,body元素。</li>
				<li>offsetTop 和  offsetLeft 都是相对于其内边距边界的。</li>
				<li>在 Webkit 中，如果元素为隐藏的（该元素或其祖先元素的 style.display 为 "none"），或者该元素的 style.position 被设为 "fixed"，则该属性返回 null。</li>
				<li>在 IE 9 中，如果该元素的 style.position 被设置为 "fixed"，则该属性返回 null。（display:none 无影响。）</li>
			</ul>
			
			<h3 class="r3-title">HTMLElement.offsetLeft、HTMLElement.offsetTop</h3>
			<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/API/HTMLElement/offsetLeft"></a><br>
			<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/API/HTMLElement/offsetTop"></a>
			<p>块元素和行内元素的 offsetLeft offsetTop 好像不一样，文档中有描述，未看懂。</p>
			
		</section>
	</div>
</div>
<script>
	$(function(){
		console.log("*** screen.width:" + window.screen.width + " | screen.height:" + window.screen.height + " | screen.availWidth" + window.screen.availWidth + " | screen.availHeight" + window.screen.availHeight)
	})
</script>
</body>
</html>
