<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/static/include/_head_import_file.html" -->
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/static/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<dl class="dlist">
			<dt>for</dt>
			<dd>
				<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Statements/for"></a>
			</dd>
			<dt>for-in</dt>
			<dd>
				<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Statements/for...in"></a>
			</dd>
			<dt>for of</dt>
			<dd>
				<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Statements/for...of"></a>
			</dd>
			<dt>map</dt>
			<dd>
				<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Map"></a>
			</dd>
		</dl>
		
		<h2 class="r2-title">forEach</h2>
		<section class="r2-body">
			<p class="reference">
				<a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Array/forEach"></a>
			</p>
			<div class="browser-support">
				<p class="summary">IE9+</p>
			</div>
			<ul class="list-decimal">
				<li>forEach() 方法对数组的每个元素执行一次提供的函数。</li>
				<li>除了抛出异常以外，没有办法中止或跳出 forEach() 循环。如果你需要中止或跳出循环，forEach() 方法不是应当使用的工具。</li>
				<li>forEach() 方法按升序为数组中含有效值的每一项执行一次 callback 函数，那些已删除或者未初始化的项将被跳过（如：若数组的某一项为空，则不执行callback函数）。</li>
				<li>forEach() 遍历的范围在第一次调用 callback 前就会确定。调用 forEach 后添加到数组中的项不会被 callback 访问到。如果已经存在的值被改变，则传递给 callback 的值是 forEach() 遍历到他们那一刻的值。已删除的项不会被遍历到。如果已访问的元素在迭代时被删除了（例如使用 shift()），之后的元素将被跳过</li>
				<li>forEach() 被调用时，不会改变原数组，也就是调用它的数组（尽管 callback 函数在被调用时可能会改变原数组）</li>
			</ul>
			<h3 class="r3-title">注意点</h3>
			<section class="r3-body">
				<h4 class="r4-title">不对未初始化的值进行任何操作（稀疏数组）</h4>
				<p>如你所见，3 和 7 之间空缺的数组单元未被 forEach() 调用 callback 函数，或进行任何其他操作。</p>
				<div class="code-box">
		            <pre class="language-js line-numbers">
		                <code>
const arraySparse = [1,3,,7];
let numCallbackRuns = 0;

arraySparse.forEach(function(element){
    console.log(element);
    numCallbackRuns++;
});

console.log("numCallbackRuns: ", numCallbackRuns);

// 1
// 3
// 7
// numCallbackRuns: 3	
			            </code>
		            </pre>
		        </div>
		        
		        <h4 class="r4-title">如果数组在迭代时被修改了，则其他元素会被跳过</h4>
		        <p>下面的例子会输出 "one", "two", "four"。当到达包含值 "two" 的项时，整个数组的第一个项被移除了，这导致所有剩下的项上移一个位置。因为元素 "four" 正位于在数组更前的位置，所以 "three" 会被跳过。 forEach() 不会在迭代之前创建数组的副本。</p>
		        <div class="code-box">
		            <pre class="language-js line-numbers">
		                <code>
var words = ['one', 'two', 'three', 'four'];
words.forEach(function(word) {
    console.log(word);
    if (word === 'two') {
        words.shift();
    }
});
// one
// two
// four
			            </code>
		            </pre>
		        </div>
			</section>
		</section>
		
		<h2 class="r2-title">$(selector).each()</h2>
		<section class="r2-body">
			<div class="reference">
				<a target="_blank" href="https://www.jquery123.com/each/"></a>
			</div>
			<p>这个方法主要用于迭代jQuery对象中的每一个DOM元素。</p>
			<strong class="listTit">$(selector).each(function(index, Element){ })</strong>
			<dl class="dlist">
				<dt>index</dt>
				<dd>当前对象的索引</dd>
				<dt>Element</dt>
				<dd>当前DOM元素，this == Element</dd>
				<dt>$(this)</dt>
				<dd>当前jQuery对象</dd>
				<dt>return</dt>
				<dd>可以使用 'return'来提前结束循环</dd>
			</dl>
			<div class="code-box">
	            <pre class="language-html line-numbers">
	                <code>   
&lt;ul>
    &lt;li>foo&lt;/li>
    &lt;li>bar&lt;/li>
&lt;/ul>
		            </code>
	            </pre>
	        </div>
			<div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>   
$('li').each(function(index,ele){
  	console.log(index + ':' + $(this).text()); //0:foo  1:bar
  	alert(ele); //[object HTMLLIElement]
	alert(this); //[object HTMLLIElement]
	alert($(this)); //[object Object]
});
		            </code>
	            </pre>
	        </div>
		</section>
		
		<h2 class="r2-title">$.each()</h2>
		<section class="r2-body">
			<div class="reference">
				<a target="_blank" href="https://www.jquery123.com/jQuery.each/"></a>
			</div>
			<p>一个通用的迭代函数，它可以用来无缝迭代对象和数组。<br>$.each()返回false来终止迭代。返回非false相当于一个循环中的continue语句，这意味着，它会立即跳出当前的迭代，转到下一个迭代。</p>
			<h4 class="r4-title">方法介绍</h4>
			<div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
//遍历对象(没有附加参数)
$.each(Object, function(name, value) {
    this;      //this指向当前属性的值
    name;      //name表示Object当前属性的名称
    value;     //value表示Object当前属性的值
});

//遍历对象(有附加参数)	                	
$.each(Object, function(p1, p2) {
    this;       //这里的this指向每次遍历中Object的当前属性值
    p1; p2;     //访问附加参数
}, ['参数1', '参数2']);

//遍历数组(没有附加参数)
$.each(Array, function(i, value) {
    this;      //this指向当前元素
    i;         //i表示Array当前下标
    value;     //value表示Array当前元素
});

//遍历数组(有附加参数)
$.each(Array, function(p1, p2){
    this;       //这里的this指向每次遍历中Array的当前元素
    p1; p2;     //访问附加参数
}, ['参数1', '参数2']);
		            </code>
	            </pre>
	        </div>
	        <h4 class="r4-title">迭代数组与对象的实例</h4>
	    	<div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>   
var arr1 = [ "one", "two", "three"]; //一维数组
var arr2 = [[1, 4, 3], [4, 6, 6], [7, 20, 9]]; //二维数组
var obj = { one:"win1", two:2, three:3}; //JSON
//对象数组
var objArr = [
	{"id":"1","tagName":"apple"},
　　	{"id":"2","tagName":"banana"},
　　	{"id":"3","tagName":"orange"}
]
		            </code>
	            </pre>
	        </div>
	        <div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>   
/* 遍历数组(没有附加参数)
 * $.each(Array, function(i, value) {
 * 		this;  //this指向当前元素
 * 		i;     //i表示Array当前下标
 * 		value; //value表示Array当前元素
 * })
 */

//遍历一维数组
$.each(arr1, function(){
	console.log(this);
});
//输出结果：one  two  three

$.each(arr1, function(i){
	console.log(i + ":" + this);
});
//输出结果：0:one  1:two  2:three

//遍历二维数组
$.each(arr2, function(){
	console.log(this[0]);
});
//输出结果：1  4  7

$.each(arr2, function(i){
	console.log(i + ":" + this[0]);
});
//输出结果：0:1  1:4  2:7

$.each(arr2, function(i,item){
	console.log(i + ":" + item[0]); //还可以写成 console.log(i + ":" + this[0]);
});
//输出结果：0:1  1:4  2:7
		            </code>
	            </pre>
	        </div>
	        <div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>   
/* 遍历对象(没有附加参数)
 * $.each(Object, function(name, value) {
 * 		this;  //this指向当前属性的值
 * 		name;  //name表示Object当前属性的名称
 * 		value; //value表示Object当前属性的值
 * })
 */

//遍历JSON
$.each(obj, function(key,val){
	console.log(key + ":" + obj[key]);
	console.log(key + ":" + val);
});
//以上两种写法的输出结果均为：one:win1  two:2  three:3
		            </code>
	            </pre>
	        </div>
	        
	        <div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>   
//遍历数组对象
$.each(objArr, function(i,item){
	console.log(i + ":" + item.tagName);
})
		            </code>
	            </pre>
	        </div>
		</section>
	</div>
</div>
</body>
</html>
