<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/static/include/_head_import_file.html" -->
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/static/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<p class="reference">
			<a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Strict_mode"></a>
			<a href="https://www.runoob.com/js/js-strict.html"></a>
		</p>
		<div class="browser-support">
			<div class="summary">IE 10+; firefox 4+; chrome 13+; Safari 5.1+; Opera 12+</div>
		</div>
	</div>
</div>
</body>
</html>
