<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/static/include/_head_import_file2.html" -->
</head>
<body>
<!--#include virtual="/static/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<p class="reference">
			<a href="https://developer.mozilla.org/zh-CN/docs/Web/API"></a>
		</p>
		<h2 class="r2-title">DOM接口 (文档对象模型)</h2>
		<dl class="dlist">
			<dt>Element</dt>
			<dd>
				<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/API/Element"></a>
			</dd>
			<dt>Document</dt>
			<dd>
				<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/API/Document"></a>
			</dd>
			<dt>window</dt>
			<dd>
				<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/API/Window"></a>
			</dd>
		</dl>
		
		<h2 class="r2-title">鼠标事件 MouseEvent</h2>
		<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/API/MouseEvent"></a>
		
		<h2 class="r2-title">Console API</h2>
		<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/API/Console_API"></a>
		
		<h2 class="r2-title">HTTP</h2>
		<section class="r2-body">
			<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/HTTP"></a>
			<dl class="dlist">
				<dt>MIME 类型</dt>
				<dd>
					<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Basics_of_HTTP/MIME_types"></a><br>
					<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Complete_list_of_MIME_types"></a><br>
					<a class="ref" href="https://www.w3school.com.cn/media/media_mimeref.asp"></a>
				</dd>
				<dt>HTTP 响应代码</dt>
				<dd>
					<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Status"></a>
				</dd>
				<dt>HTTP Headers</dt>
				<dd>
					<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Headers"></a>
				</dd>
			</dl>
		</section>
		
	</div>
</div>
</body>
</html>
