<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/static/include/_head_import_file2.html" -->
</head>
<body>
<!--#include virtual="/static/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<dl class="dlist">
			<dt>cookie</dt>
			<dd>
				<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/API/Document/cookie"></a><br>
				<a class="ref" href="https://www.runoob.com/js/js-cookies.html"></a><br>
				<a class="ref" href="http://www.w3cbus.com/bom/cookie.html"></a>
			</dd>
			<dt>Storage</dt>
			<dd>
				<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/API/Web_Storage_API"></a><br>
				<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/API/Storage"></a><br>
				<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/API/Window/sessionStorage"></a><br>
				<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/API/Window/localStorage"></a><br>
				<a class="ref" href="http://www.w3cbus.com/bom/webstorage.html"></a><br>
				<a class="ref" href="https://www.runoob.com/jsref/obj-storage.html"></a>
			</dd>
			<dt>IndexedDB：浏览器端数据库 </dt>
			<dd>
				<a class="ref" href="http://www.w3cbus.com/bom/indexeddb.html"></a><br>
				<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/API/IndexedDB_API"></a>
			</dd>
		</dl>
	</div>
</div>
</body>
</html>
