<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/static/include/_head_import_file.html" -->
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/static/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<dl class="dlist">
			<dt>apply</dt>
			<dd>
				<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Function/apply"></a>
			</dd>
			<dt>call</dt>
			<dd>
				<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Function/call"></a>
			</dd>
			<dt>bind</dt>
			<dd>
				<a class="ref" href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Function/bind"></a>
			</dd>
			<dt>trigger -jquery-</dt>
			<dd>
				<a class="ref" href="https://www.jquery123.com/trigger/"></a>
			</dd>
		</dl>
	</div>
</div>
</body>
</html>
