<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/static/include/_head_import_file2.html" -->
</head>
<body>
<!--#include virtual="/static/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<p class="reference">
			<a href="https://developers.google.cn/web/tools/chrome-devtools/">Chrome 开发者工具</a>
		</p>
		<h2 class="r2-title">Network</h2>
		<section class="r2-body">
			<a class="ref" href="https://www.cnblogs.com/ywsoftware/p/10996078.html">Network 详解</a>
			<a class="ref" href="https://blog.csdn.net/qq_39208536/article/details/79304148">Network 详解</a>
			<a class="ref" href="https://blog.csdn.net/wml00000/article/details/88713320">from memory cache 与 from disk cache</a>
		</section>
	</div>
</div>
</body>
</html>
