<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JS</title>
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/default.css" rel="stylesheet" />
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/prism.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<!--#include virtual="/include/_header.html" -->
    <div class="container">
    	<ul>
            <li>
            	<a target="_blank" href="_jsP01.html">addEventListener和on的区别</a>
            </li>
            <li>
            	<a target="_blank" href="_qb.html">原生JS Jquery操作DOM的区别</a>
            </li>
            <li>
            	<a target="_blank" href="_jsP03.html">(function($){})(jQuery)、$(function(){})、$(document).ready(function(){})三者的区别讲解</a>
            </li>
            <li>
            	<a target="_blank" href="fun01.html">setInterval() clearInterval() setTimeout()区别</a>
            </li>
            <li>
            	<a target="_blank" href="fun02.html">Math 对象方法</a>
            </li>
            <li>
            	<a target="_blank" href="fun03.html">常用函数</a>
            </li>
        </ul>
    </div>
</body>
</html>
