<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/static/include/_head_import_file2.html" -->
</head>
<body>
<!--#include virtual="/static/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<div class="reference">
			<a href="https://www.jquery123.com/serialize/"></a>
			<a href="https://www.jquery123.com/serializeArray/"></a>
		</div>
		<h2 class="r2-title">将提交的表单数据转为数组</h2>
		<section class="r2-body">
	        <div class="code-box">
	            <pre class="language-html line-numbers">
	                <code>
	&lt;form id="fmEle"&gt;
		&lt;table&gt;
			&lt;tr&gt;
				&lt;th&gt;姓名&lt;/th&gt;
				&lt;td&gt;
					&lt;input type="text" name="Tname" value="" /&gt;
				&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;th&gt;性别&lt;/th&gt;
				&lt;td&gt;
					&lt;label&gt;&lt;input type="radio" name="Tsex" value="男" /&gt;男&lt;/label&gt;
					&lt;label&gt;&lt;input type="radio" name="Tsex" value="女" /&gt;女&lt;/label&gt;
				&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;th&gt;已婚&lt;/th&gt;
				&lt;td&gt;
					&lt;input type="checkbox" name="Tyihun" value="是" /&gt;
				&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;th&gt;出生日期&lt;/th&gt;
				&lt;td&gt;
					&lt;input type="date" name="Tbirthday" /&gt;
				&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;th&gt;所在地&lt;/th&gt;
				&lt;td&gt;
					&lt;select name="Taddr"&gt;
						&lt;option&gt;北京&lt;/option&gt;
						&lt;option&gt;天津&lt;/option&gt;
						&lt;option&gt;上海&lt;/option&gt;
					&lt;/select&gt;
				&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;th&gt;兴趣爱好&lt;/th&gt;
				&lt;td&gt;
					&lt;label&gt;&lt;input type="checkbox" name="TxingQu[1]" value="游泳" /&gt; 游泳&lt;/label&gt;
					&lt;label&gt;&lt;input type="checkbox" name="TxingQu[2]" value="读书" /&gt; 读书&lt;/label&gt;
					&lt;label&gt;&lt;input type="checkbox" name="TxingQu[3]" value="看电影" /&gt; 看电影&lt;/label&gt;
				&lt;/td&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;th&gt;备注&lt;/th&gt;
				&lt;td&gt;
					&lt;textarea rows="3" name="Tremark"&gt;&lt;/textarea&gt;
				&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/table&gt;
		&lt;button id="btnAdd" type="submit"&gt;添加&lt;/button&gt;
	&lt;/form&gt;
			        </code>
	            </pre>
	        </div>
	        <h4 class="r4-title">法一</h4>
	        <div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
	var fmE = document.getElementById('fmEle'); 
	fmE.addEventListener('submit', function(event){
		event.preventDefault();
		
		var addData = {};
		[].slice.call(this.querySelectorAll('input,textarea,select')).forEach(function (ele) {
		    if (ele.name){
		        addData[ele.name] = ele.value;
		    }
		});
		
		this.reset(); //清除表单数据
	}
			        </code>
	            </pre>
	        </div>
	        
	        <h4 class="r4-title">法二：serializeArray</h4>
	        <div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
	var fmE = document.getElementById('fmEle'); 
	fmE.addEventListener('submit', function(event){
		event.preventDefault();
		
		addData['TxingQu'] = '';
		addData['Tyihun'] = "否"; //默认为未选中
		
		$(fmE).serializeArray().forEach(function(e){
	    	if(e.name){
	    		addData[e.name] = e.value;
	    		
	    		//将兴趣爱的多个值合并到一起
	    		if(e.name.indexOf('TxingQu') > -1){
	    			addData['TxingQu'] += e.value + " ";
	    		}
	    	}
	    })
		
		this.reset(); //清除表单数据
	}
			        </code>
	            </pre>
	        </div>
	        <a class="expLink" href="../html5/idxDB1.html">实例</a>
        </section>
        
        <h2 class="r2-title">修改提交的数据</h2>
        <section class="r2-body">
        	<p>表单只会提交带有 name 属性的表单元素</p>
	        <div class="code-box">
	            <pre class="language-html line-numbers">
	                <code>
	&lt;form id='test_form' action='' method='' omsubmit='return checkForm()'>
	    &lt;input type='text' name='username' value=''/>
	    &lt;input type='password' id='input_pwd' value =''/>
	    &lt;input type='hidden' name='pwd' id='md5_pwd' value=''/>
	    &lt;button type='submit'>提交&lt;button/>
	&lt;form/>
			        </code>
	            </pre>
	        </div>
	        <div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
	function checkForm(){
	    var input_pwd= document.getElementById('input_pwd');
	    var md5_pwd= document.getElementById('md5_pwd');
	     md5_pwd.value= toMD5(input_pwd.value); //MD5密码加密方法       
	    //进行下一步
	    return ture;
	}
			        </code>
	            </pre>
	        </div>
	        <p>&lt;input type='password'/>是用户输入密码的input框，并没有设置 name 属性，而是给 &lt;input type='hidden' /> 设置了 name='pwd'，这样表单提交只会提交带有name属性的输入框，从而修改了表单提交的数据，只提交了我们想要的数据。</p>
        </section>
	        
		<h2 class="r2-title">选择性提交表单</h2>
		<section class="r2-body">
			<h3 class="r3-title">如何不提交隐藏DIV中的表单？</h3>
	        <dl class="dlist">
	        	<dt>去除表单元素的 name 属性</dt>
	        	<dd>此方法有效果（去除 name 属性之后，不需要重新渲染表单）</dd>
	        	<dt>为表单元素添加 disabled 属性</dt>
	        	<dd>通过为 select 添加 disabled 属性做测试，发现此方法在Layui框架中不起作用，无论是将 disabled 加在 select 原始DOM对象上，还是加在美化后的 input 标签上，都不起作用。</dd>
	        </dl>
		</section>
        	
	</div>
</div>
</body>
</html>
