<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<!--#include virtual="/static/include/_head_import_file.html" -->
    <script src="/js/less-2.5.3.min.js"></script>
</head>
<body>
<!--#include virtual="/static/include/_header.html" -->
<div id="wrap">
	<div id="wside"></div>
	<div id="wmain">
		<p class="reference">
			<a href="https://developer.mozilla.org/zh-CN/docs/Web/API/FormData">FormData</a>
			<a href="https://www.cnblogs.com/web-wjg/p/7894657.html"></a>
			<a href="https://www.cnblogs.com/chongyao/p/7298986.html"></a>
		</p>
		<h2 class="r2-title">提交方法</h2>
		<section class="r2-body">
	        <h3 class="r3-title">直接通过html的form提交</h3>
	        <div class="code-box">
	            <pre class="language-html line-numbers">
	                <code>
	&lt;form action="" method="" id="forms">
	    &lt;input type="text" name="username" value="" />
	    &lt;input type="password" name="pwd" value="" />
	    &lt;input type="submit" value="提交"/>
	&lt;/form>
			        </code>
	            </pre>
	        </div>
	        <h3 class="r3-title">JS提交</h3>
	        <p>但有时候我们会出于安全角度考虑，给用户输入的密码进行加密，方法一就没办法解决这个问题，这时候我们同常会选择另一种方法，使用javaScript来进行表单提交，代码入下：</p>
	        <div class="code-box">
	            <pre class="language-html line-numbers">
	                <code>
	&lt;form action="" method="" id="test_form">
	    &lt;input type="text" name="username" value="" />
	    &lt;input type="password" name="pwd" value="" />
	    &lt;button type="button" onclick='doSubmitForm()'>提交&lt;button/>
	&lt;/form>
			        </code>
	            </pre>
	        </div>
	        <div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
	var form = document.getElementById('test_form');
	form.submit();
			        </code>
	            </pre>
	        </div>
	        <p>这种方法有个缺点就是，打乱正常的表单提交程序，通常用户输入完成后点击回车键就可以提交，但是这个方法实现不了，所以，使用下面的方法便可以解决这个问题,，通过form自身的onsubmit方法，来触发提交，然后进行input的修改：</p>
	        <h3 class="r3-title">onsubmit提交</h3>
	        <div class="code-box">
	            <pre class="language-html line-numbers">
	                <code>
	&lt;form id='test_form' action='' method='' onsubmit='return checkForm(this)'>
	    &lt;input type='text' name='username' value=''/>
	    &lt;input type='password' name='pwd' value =''/>
	    &lt;button type='submit'>提交&lt;button/>
	&lt;form/>
			        </code>
	            </pre>
	        </div>
	        <div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
	function checkForm(form){
	    var form = document.getElementById('test_form');
	    return ture;
	}
			        </code>
	            </pre>
	        </div>
	        <p>注意，checkForm()方法中，return true时，表单才会正常提交，为false时，浏览器将不会提交，通常是用户的密码输入错误时，终止提交。</p>
	        <h3 class="r3-title">ajax异步提交表单数据</h3>
	        <p></p>
	        <div class="code-box">
	            <pre class="language-html line-numbers">
	                <code>
	&lt;form id="form"  method="post">
	   &lt;input type="text" name="name" id="name"/>
	&lt;/form>
			        </code>
	            </pre>
	        </div>
	        <div class="code-box">
	            <pre class="language-js line-numbers">
	                <code>
	var params = {"name", $("#name").val()}
	$.ajax({
		type: "POST",
		url: "/url.do",
		data: params,
		dataType : "json",
		success: function(respMsg){
		}
	});
			        </code>
	            </pre>
	        </div>
	    </section>
	    
	    <h2 class="r2-title">表单提交不刷新页面</h2>
	    <section class="r2-body">
	    	<h3 class="r3-title">利用 onsubmit 事件</h3>
	    	<section class="r3-body">
	    		<div class="code-box">
		            <pre class="language-html line-numbers">
		                <code>
&lt;form action="" method="post" onsubmit="return save()">
    &lt;input type="text" name="name"/>
    &lt;input type="submit" value="保存"/>
&lt;/form>
				        </code>
		            </pre>
	            </div>
	            <div class="code-box">
		            <pre class="language-js line-numbers">
		                <code>
	function save(){
		// ajax数据提交代码
		// .....
	 
		return false;	//重要!一定要写
	}
				        </code>
		            </pre>
		        </div>
		        <p>我们在绑定onsubmit的时候是把return false放进onsubmit后面的调用函数内的, 这样子如果你的函数出现了错误, 将不会继续执行到函数最后'return false'这里, 还是会出现刷新的现象; 
我们应该把return false写到绑定事件中. 所以为了安全起见, 我们可以不用去掉函数的return false.</p>
				<div class="code-box">
		            <pre class="language-html line-numbers">
		                <code>
&lt;form action="" method="post" onsubmit="save(); return false;">&lt;/form>
				        </code>
		            </pre>
	            </div>
	    	</section>
	    	
	    	<h3 class="r3-title">利用 iframe</h3>
	    	<section class="r3-body">
	    		<p>利用一个隐藏的 iframe 来实现, 把提交目标放到一个隐藏的 iframe 里, 然后让 iframe 提交数据</p>
	    		<ul class="list-decimal">
	    			<li>form 标签的 target 属性与 iframe 标签的 name 属性值保持一致</li>
	    			<li>此方法后台返回数据无法在前台使用</li>
	    		</ul>
	    		<div class="code-box">
		            <pre class="language-html line-numbers">
		                <code>
&lt;form action="" method="post" target="formIframe">
    &lt;input type="text" name="name"/>
    &lt;input type="submit" οnclick="save()" value="保存"/>
&lt;/form>
 
&lt;iframe id="id_iframe" name="formIframe" style="display:none;">&lt;/iframe>
				        </code>
		            </pre>
	            </div>
	    	</section>
	    </section>
	    
        <h2 class="r2-title">重置表单</h2>
        <section class="r2-body">
        	<div class="code-box">
        		<pre class="language-js line-numbers">
	                <code>
//法一: JS
document.getElementById("formId").reset();
	
//法二: JQUERY
$('#formId')[0].reset();
	
//法三: 使用input按钮
&lt;input type="reset" name="reset" />

			        </code>
	            </pre>
        	</div>
        	<h4 class="r4-title">清空默认值</h4>
        	<p>虽然reset方法可以清空表单，但是对有默认值的表单元素，只会让其恢复成默认值，而不会清空。</p>
        	<div class="code-box">
        		<pre class="language-js line-numbers">
	                <code>
&lt;input name="percent" value="50"/> //重置后值变为：50

//如要清空，需要进行以下操作
$(':input','#myform').not(':button, :submit, :reset, :hidden').val('').removeAttr('checked').removeAttr('selected');

			        </code>
	            </pre>
        	</div>
        </section>
		
	</div>
</div>
</body>
</html>
