@charset "utf-8";
/* CSS Document */

body{
	background-color: #F3F3F3;
	font-size: 14px;
	color: #333333;
	line-height: 1.6;
}
ul,li{margin: 0;padding: 0;}
li{list-style-type: none;}

.mt20{margin-top: 20px;}

.dis-block{display: block;}
.dis-inline{display: inline;}

#wrap{
	margin:0 20px;
}
#wside, #wmain{
	padding: 20px;
	background-color: #FFFFFF;
}
#wside{
	float:left;
	width:200px;	
}
#wmain{
	margin-left:220px;
	margin-right:220px
}
/* 左侧边栏为菜单，中间为主内容，右边为其它信息（如广告） */

/* ******************************************************* *
 * 左侧边栏
 * ******************************************************* */
#wside dl a{
	display: block;
	padding: 5px;
	color: #0066CC;
}
#wside dl a.on{
	background-color: #F3F3F3;
}
#wside dl dt:nth-child(n+2){
	margin-top: 15px;
}
#wside dl dt a{
	margin:5px 0;
	font-size: 14px;
	color: #333333;
	font-weight: normal;
	
}
#wside dl dd a{
	margin-left: 10px;
	font-size: 12px;
	line-height: 1.8;
	color: #666;
}

/* ******************************************************* *
 * 左侧边栏
 * ******************************************************* */
/*标题等级*/
.title-r1, .title-r2, .title-r3, .title-r4{
	margin: 25px 0 5px;
	color: #333;
}
.title-r1{font-size: 30px;}
.title-r2{
	margin: 30px 0 15px 0;
	border-bottom:1px solid #ddd;
	padding-bottom:10px;
	font-size: 26px;
}
.title-r2:first-child{margin-top: 0;}
.title-r3{
	font-size: 22px;
}
.title-r4{
	font-size: 18px;
}

/*浏览器兼容*/
.browser-support{
	font-size: 12px;
	line-height: 1;
	color: #666666;
}
.browser-support mark{
	padding: 2px 5px;
	background-color:#95C900;
	color: #fff;
}
.browser-support ul{
	margin: 15px 0;
}
.browser-support ul li{
	margin: 8px 0;
	list-style-position: inside;
	color: #666;
}
/*引用(即文章摘取的URL地址)*/
.reference{
	color: #aaa;
	font-size: 12px;
}
.reference a{
	color: #aaa;
}
/*实例容器（即实例演示）*/
.example-wrap{
	border: 5px solid #EEEEEE;
	padding: 30px;
	background-color: #FAFAFA;
}

/*白色盒子*/
.wbox{
	padding: 30px;
	background-color: #FFFFFF;
}

/*
 * 列表
 */

/*数字标号列表*/
.list-decimal li{
	margin: 5px 0 0 20px;
	list-style-type: decimal;
}
