@charset "utf-8";
/* CSS Document */

@import "common.less";

article{
	margin-left:30px;
	width:800px;
	color:#333;
}
h1.article-title{
	font-size:30px;
}

.ttBlock{
	margin-top:40px;
}
.ttBlock_head{
	border-bottom:1px solid #ccc;
	padding-bottom:8px;
	font-size:22px;
}
.ttBlock-list{
	position:relative;
	margin:1px 0 0 15px;
	border-left:2px dotted #ddd;
	padding:45px 0 0 30px;
}
.ttBlock-list:first-child{
	margin-top:20px;
	padding-top:0;
}
.ttBlock-list-icon{
	display:inline-block;
	position:absolute;
	left:-16px;
	top:40px;
	width:30px;
	height:30px;
	.b-radius(15px);
	background-color:#80D96F;
	color:#fff;
	text-align:center;
	line-height:30px;
}
.ttBlock-list:first-child .ttBlock-list-icon{
	top:-7px;
}
.ttBlock-list-txt{font-size:16px;}
.ttBlock-list-media{
	margin-top:20px;	
}

.smlist{margin-left:20px;}
.smlist li{
	list-style-type:circle;	
}