<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YQ-Note标签集</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/global.less">
    <script src="/js/less-2.5.3.min.js"></script>
    <script src="/js/common.js"></script>
</head>
<body class="p-tags">
	<!--#include virtual="/include/_header.html" -->
	<div id="wrap">
    	<div class="yq-tags">
            <div id="list"></div>
        </div>
    </div>
    
    <script type="text/javascript">
		loadXML("/include/FL-DEMO.xml","#list");
	</script>
</body>
</html>
