<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YQ-Note标签集</title>
    <!--#include virtual="/include/_head_import_file.html" -->
    <link rel="stylesheet/less" href="/css/tags.less">
    <script src="/js/less-2.5.3.min.js"></script>
    <script src="/js/common.js"></script>
</head>
<body class="p-tags">
	<!--#include virtual="/include/_header.html" -->
    <div class="cblock">
    	<div class="bg-under">
        	<div class="shape1"></div>
        </div>
        <div class="container content-area">
        	<h1>TAGS</h1>
            <p>本站所有快捷标签入口</p>
        </div>
    </div>
	<div class="container">
    	<div class="yq-tags">
        	<h3>CSS</h3>
            <p class="tag-group">
            	<a target="_blank" href="/views/css/css-hack.html">CSS HACK</a>
                <a target="_blank" href="/views/css/browser-compatibility.html">浏览器兼容</a>
                <a target="_blank" href="/views/css/property.html">CSS 属性详解</a>
                <a target="_blank" href="/views/css3/property.html">CSS3 属性详解</a>
            </p>
        	<dl class="dl-horizontal">
                <dt><label>布局layout</label></dt>
                <dd class="tag-group">
                	<a target="_blank" href="/views/css/alignment.html">关于居中对齐</a>
                    <a target="_blank" href="/views/css/height-auto.html">高度自适应</a>
                    <a target="_blank" href="/views/css/layout.html">常用布局总结</a>
                </dd>
                <dt><label>loading</label></dt>
                <dd class="tag-group">
                    <a target="_blank" href="/views/loading/index.html">loading</a>
                </dd>
                <dt><label>其它效果</label></dt>
                <dd class="tag-group">
                    <a target="_blank" href="/views/bg/index.html">纯CSS制作图形背景</a>
                    <a target="_blank" href="/views/shape/index.html">纯CSS实现的形状</a>
                    <a target="_blank" href="/views/css/img-replace-text-with-css.html">图片替换文本的CSS方法</a>
                </dd>
            </dl>
            <!-- **************** separator line ****************  -->
            <h3>其它</h3>
            <p class="tag-group">
            	<a target="_blank" href="/views/other/tools.html">tools</a>
                <a target="_blank" href="/views/other/_article01.html">开放端口，让其它电脑可以访问</a>
                <a target="_blank" href="/views/other/_article02.html">IIS中添加html对include的引用</a>
                <a target="_blank" href="/views/other/_article03.html">设置IIS，使之支持less</a>
            </p>
            <!-- **************** separator line ****************  -->
            <h3>移动开发</h3>
            <p class="tag-group">
            	<a target="_blank" href="/views/mobile/_article01.html">移动web开发之像素和DPR</a>
                <a target="_blank" href="/views/mobile/mui/zuJian.html">MUI组件</a>
                <a target="_blank" href="/views/mobile/mui/zjCCss.html">mui组件通用CSS类</a>
            </p>
            <!-- **************** separator line ****************  -->
        </div>
    </div>
    <!--#include virtual="/include/_footer.html" -->
</body>
</html>
