@charset "utf-8";
/* CSS Document */
body{
	font-size:14px;
}
ul, ol, li, dl, dt, dd{
	margin:0;
	padding:0;
	list-style-type:none;
}
/*========== navigation ===========*/
#navi{/* Let IE6 show leftBorder */
	border-left:1px solid #666;
	padding-left:1px;
}
#navi li{
	display:block;
	float:left;
	margin-left:-1px;
	width:200px;
	border-left:1px solid #666;
	border-right:1px solid #666;
	
}
/*-------first level navi--------*/
#navi li a{
	display:block;
	padding:5px 20px;
	background-color:#999;
	text-decoration:none;
	color:#fff;
}
/* first level navi hover effect */
#navi li.over a{
	background-color:#92CAD4;
}
/*-------second level navi--------*/
#navi li dl{
	display:none;
	margin-top:1px;
	border-bottom:1px solid #999;
	clear:both;
}
#navi li.over dl{
	display:block;
}
#navi li.over dt a{
	display:block;
	margin-top:1px;
	background-color:#CED7DE;
}
#navi li.over dl dt a:hover{
	background-color:#ccc;
}